| - Default (button)
br
button( class="cbx-button" type="button") Ver mecánica
br
br
 
| - Default (anchor)
br
a( href="#" class="cbx-button") Ver mecánica
br
br

| - Disabled (button)
br
button( class="cbx-button" type="button" disabled) Ver mecánica
br
br

| - Default (anchor)
br
a( href="#" class="cbx-button" disabled) Ver mecánica
br
br

| - Raised
br
button( class="cbx-button" type="button" m-mody="raised") Ver mecánica
br
br

| - Rounded
br
button( class="cbx-button" type="button" m-mody="rounded") Ver mecánica
br
br

| - Full
br
button( class="cbx-button" type="button" m-mody="full") Ver mecánica
br
br

| - Profile
br
button( class="cbx-button" type="button" m-mody="profile") Ver mecánica
br
br

| - Profile (active)
br
button(class="cbx-button" type="button" m-mody="profile" m-active="true") Ver mecánica
br
br

| - More + Rounded + Icon
br
button(class="cbx-button" type="button" m-mody="more rounded")
    i(class="cbx-icon-more")
    span(m-text-close="Ver más" m-text-open="Ver menos")
br
br

