@import "../../mixins.pcss";

.cbx-sub-text {
	font: {
		@mixin viewport xs, size, 12;
		family: var(--font-r);
	}
	color: var(--dark-gray);
}

@media (--portrait) {
	.cbx-sub-text {
		font-size: 12px;
	}
}

@media (--small-desktop) {
	.cbx-sub-text {
		@mixin viewport lg, font-size, 16;
	}
}

@media (--large-desktop) {
	.cbx-sub-text {
		@mixin viewport xl, font-size, 16;
	}
}

@media (--full) {
	.cbx-sub-text {
		@mixin viewport xxl, font-size, 16;
	}
}
