@import '../../mixins.pcss';

.cbx-sub-text {
	@mixin viewport xs, font-size, 12;
	font-family: var(--font-r);
	color: var(--dark-gray);
}

@media (width >= 768px) {
	.cbx-sub-text {
		font-size: 12px;
	}
}

@media (width >= 1024px) {
	.cbx-sub-text {
		@mixin viewport lg, font-size, 16;
	}
}

@media (width >= 1280px) {
	.cbx-sub-text {
		@mixin viewport xl, font-size, 16;
	}
}

@media (width >= 1440px) {
	.cbx-sub-text {
		@mixin viewport xxl, font-size, 16;
	}
}
