<ul class="cbx-list-square">
    <li class="list-item">
        <div class="cbx-bullet-list">
            <p class="cbx-hightlight">1</p>
        </div>
        <div class="text-content">
            <p class="cbx-text">
                <span m-font="bold">
                    Tu número de cliente de 4 a 11 dígitos
                </span>
                <br />
                Lo encuentras en tu contrato o estado de cuenta de tus productos Citibanamex.
            </p>
            <p class="cbx-legal">
                <span m-font="bold">
                    ¿No conoces tu número de cliente?
                </span>
                <br />
                Solicítalo en cualquier Sucursal Citibanamex con una identificación oficial (INE / IFE o pasaporte) y
                tu cuenta o tarjeta Citibanamex.
            </p>
        </div>
    </li>
</ul>

<br /><br /><br />

<ul class="cbx-list-square" m-mody="img">
    <li class="container-list-item">
        <div class="list-item">
            <div class="cbx-bullet-list">
                <p class="cbx-hightlight">1</p>
            </div>
            <div class="text-content">
                <p class="cbx-text">
                    <span m-font="bold">
                        Tu número de cliente de 4 a 11 dígitos
                    </span>
                    <br />
                    Lo encuentras en tu contrato o estado de cuenta de tus productos Citibanamex.
                </p>
                <p class="cbx-legal">
                    <span m-font="bold">
                        ¿No conoces tu número de cliente?
                    </span>
                    <br />
                    Solicítalo en cualquier Sucursal Citibanamex con una identificación oficial (INE / IFE o pasaporte)
                    y tu cuenta o tarjeta Citibanamex.
                </p>
            </div>
        </div>
        <figure class="cbx-img">
            <img src="/views/components/molecules/cbx-apps/img/app-store.png" alt="App Store" />
        </figure>
    </li>
</ul>

<br /><br /><br />