@import '../../mixins.pcss';

.cbx-list-square {
	& .container-list-item {
		display: flex;
		justify-content: space-between;
	}
	& .cbx-bullet-list {
		@mixin viewport xs, margin-right, 20;
	}
	& .list-item {
		display: flex;
		& .cbx-title {
			@mixin viewport xs, margin-bottom, 10;
		}
		& .cbx-text {
			@mixin viewport xs, margin-bottom, 20;
		}
		& .list-sub-item {
			@mixin viewport xs, margin-bottom, 20;
		}
	}
	& .text-content {
		width: 100%;
		& .cbx-text,
		& .cbx-legal {
			&:last-of-type {
				margin-bottom: 0;
			}
		}
		& .item-content {
			@mixin viewport xs, margin-bottom, 20;
		}
		& .sub-item-content {
			@mixin viewport xs, padding-left, 20;
			& .cbx-list {
				margin-bottom: 0;
				& .list-item {
					&:last-child {
						margin-bottom: 0 !important;
					}
				}
			}
		}
	}
	& .container-tex-img {
		display: flex;
		justify-content: space-between;
	}
	& .cbx-img {
		height: 100%;
		& img {
			position: relative;
			left: 50%;
			transform: translateX(-50%);
		}
	}
	&[m-mody="img"] {
		& .container-list-item {
			display: block;
			@mixin viewport xs, margin-bottom, 20;
		}
		& .text-content {
			@mixin viewport xs, margin-bottom, 20;
		}
	}
}

@media (--portrait) {
	.cbx-list-square {
		& .cbx-bullet-list {
			margin-right: 20px;
		}
		& .list-item {
			& .cbx-title {
				margin-bottom: 10px;
			}
			& .cbx-text {
				margin-bottom: 20px;
			}
			& .list-sub-item {
				margin-bottom: 20px;
			}
		}
		& .text-content {
			& .item-content {
				margin-bottom: 20px;
			}
			& .sub-item-content {
				padding-left: 20px;
			}
		}
		&[m-mody="img"] {
			& .container-list-item {
				display: block;
				margin-bottom: 40px;
			}
			& .text-content {
				margin-bottom: 20px;
			}
		}
	}
}

@media (--small-desktop) {
	.cbx-list-square {
		& .cbx-bullet-list {
			@mixin viewport lg, margin-right, 20;
		}
		& .list-item {
			& .cbx-title {
				@mixin viewport lg, margin-bottom, 10;
			}
			& .cbx-text {
				@mixin viewport lg, margin-bottom, 20;
			}
			& .list-sub-item {
				@mixin viewport lg, margin-bottom, 20;
			}
		}
		& .text-content {
			& .item-content {
				@mixin viewport lg, margin-bottom, 20;
			}
			& .sub-item-content {
				@mixin viewport lg, padding-left, 20;
			}
		}
		&[m-mody="img"] {
			& .container-list-item {
				display: block;
				@mixin viewport lg, margin-bottom, 40;
			}
			& .text-content {
				margin-bottom: 0;
			}
		}
	}
}

@media (--large-desktop) {
	.cbx-list-square {
		& .cbx-bullet-list {
			@mixin viewport xl, margin-right, 20;
		}
		& .list-item {
			& .cbx-title {
				@mixin viewport xl, margin-bottom, 10;
			}
			& .cbx-text {
				@mixin viewport xl, margin-bottom, 20;
			}
			& .list-sub-item {
				@mixin viewport xl, margin-bottom, 20;
			}
		}
		& .text-content {
			& .item-content {
				@mixin viewport xl, margin-bottom, 20;
			}
			& .sub-item-content {
				@mixin viewport xl, padding-left, 20;
			}
		}
		&[m-mody="img"] {
			& .container-list-item {
				display: flex;
				@mixin viewport xl, margin-bottom, 40;
				& .list-item {
					@mixin viewport xl, margin-right, 40;
				}
				& .list-item,
				& .cbx-img {
					width: 50%;
				}
			}
		}
	}
}
@media (--full) {
	.cbx-list-square {
		& .cbx-bullet-list {
			@mixin viewport xxl, margin-right,, 20;
		}
		& .list-item {
			& .cbx-title {
				@mixin viewport xxl, margin-bottom,, 10;
			}
			& .cbx-text {
				@mixin viewport xxl, margin-bottom,, 20;
			}
			& .list-sub-item {
				@mixin viewport xxl, margin-bottom,, 20;
			}
		}
		& .text-content {
			& .item-content {
				@mixin viewport xxl, margin-bottom,, 20;
			}
			& .sub-item-content {
				@mixin viewport xxl, padding-left,, 20;
			}
		}
		&[m-mody="img"] {
			& .container-list-item {
				& .list-item {
					@mixin viewport xxl, margin-right,, 40;
				}
				@mixin viewport xxl, margin-bottom,, 40;
			}
		}
	}
}