<section class="cbx-submenu" m-sticky="true" m-open="false">
	<p class="cbx-text name-submenu">Nombre de sección</p>
	<div class="submenu-header">
		<div class="cbx-wrapper">
			<button class="btn-open">
				<span class="cbx-icon" m-size="20" m-mody="flat icon-bold">
					<i class="icon-plus-o"></i>
				</span>
				<p class="cbx-text">Seguros</p>
			</button>
			<button class="cbx-button" type="button">
				Solicitar
				<span class="cbx-icon" m-size="20" m-mody="flat icon-bold">
					<i class="icon-arrow-right-o"></i>
				</span>
			</button>
		</div>
	</div>
	<div class="submenu-content">
		<div class="cbx-wrapper">
			<div class="submenu-head">
				<button class="btn-close">
					<p class="cbx-text">Cerrar</p>
					<span class="cbx-icon" m-size="30" m-mody="fill circle">
						<i class="icon-angle-right-s"></i>
					</span>
				</button>
			</div>
			<div class="submenu-body">
				<p class="cbx-text">...</p>
			</div>
		</div>
	</div>
</section>