<section m-container="comparador" m-select="false" m-columns="1,2">
    <div class="comparador-header">
        <div class="cbx-wrapper">
            <div class="comparador-item" m-active="false">
                <div class="item-container">
                    <div class="cbx-credit-card" m-active="true">
                        <figure class="cbx-img">
                            <img src="/views/components/molecules/cbx-credit-card/img/bsmart_2x.png" />
                        </figure>
                        <button class="credit-button">
                            <span class="cbx-icon" m-size="20" m-mody="circle border">
                                <i class="icon-close-o"></i>
                            </span>
                        </button>
                    </div>
                    <p class="cbx-text">B-Smart</p>
                    <div class="comparador-solicitar">
                        <button class="cbx-button" type="button">Solicitar</button>
                    </div>
                </div>
            </div>
            <div class="comparador-item" m-active="false">
                <div class="item-container">
                    <div class="cbx-credit-card" m-active="true">
                        <figure class="cbx-img">
                            <img src="/views/components/molecules/cbx-credit-card/img/bsmart_2x.png" />
                        </figure>
                        <button class="credit-button">
                            <span class="cbx-icon" m-size="20" m-mody="circle border">
                                <i class="icon-close-o"></i>
                            </span>
                        </button>
                    </div>
                    <p class="cbx-text">Platinum</p>
                    <div class="comparador-solicitar">
                        <button class="cbx-button" type="button">Solicitar</button>
                    </div>
                </div>
            </div>
            <div class="comparador-item" m-active="true">
                <div class="item-container">
                    <div class="cbx-credit-card" m-active="false">
                        <figure class="cbx-img">
                            <img src="/views/components/molecules/cbx-credit-card/img/bsmart_2x.png" />
                        </figure>
                        <button class="credit-button">
                            <span class="cbx-icon" m-size="20" m-mody="circle border">
                                <i class="icon-close-o"></i>
                            </span>
                        </button>
                    </div>
                    <p class="cbx-text">Seleccionar Tarjeta</p>
                    <div class="comparador-solicitar">
                        <button class="cbx-button" type="button">Solicitar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="comparador-select cbx-wrapper">
        <button class="cbx-card" m-mody="c-img"> 
            <figure class="cbx-img">
                <img src="" alt=""/>
            </figure>
            <div class="card-content">
                <div class="card-description">
                    <p class="cbx-title">B·smart</p>
                    <p class="cbx-text">
                        Anualidad
                        <span m-font="bold">$645 </span>
                        sin IVA
                    </p>
                    <p class="cbx-text">Lorem ipsum dolor</p>
                    <p class="cbx-text">Lorem ipsum dolor</p>
                </div>
            </div>
        </button>
        <button class="cbx-card" m-mody="c-img">
            <figure class="cbx-img">
                <img src="" alt="" />
            </figure>
            <div class="card-content">
                <div class="card-description">
                    <p class="cbx-title">Oro</p>
                    <p class="cbx-text">Anualidad <span m-font="bold">$645 </span>sin IVA</p>
                    <p class="cbx-text">Lorem ipsum dolor </p>
                    <p class="cbx-text">Lorem ipsum dolor</p>
                </div>
            </div>
        </button>
        <button class="cbx-card" m-mody="c-img"> 
            <figure class="cbx-img">
                <img src="" alt=""/>
            </figure>
            <div class="card-content">
                <div class="card-description">
                    <p class="cbx-title">Platinum</p>
                    <p class="cbx-text">Anualidad <span m-font="bold">$645</span>sin IVA</p>
                    <p class="cbx-text">Lorem ipsum dolor </p>
                    <p class="cbx-text">Lorem ipsum dolor</p>
                </div>
            </div>
        </button>
        <button class="cbx-card" m-mody="c-img">
            <figure class="cbx-img"><img src="" alt="" /></figure>
            <div class="card-content">
                <div class="card-description">
                    <p class="cbx-title">Rewards</p>
                    <p class="cbx-text">Anualidad <span m-font="bold">$645 </span>sin IVA</p>
                    <p class="cbx-text">Lorem ipsum dolor </p>
                    <p class="cbx-text">Lorem ipsum dolor</p>
                </div>
            </div>
        </button>
        <button class="cbx-card" m-mody="c-img"> 
            <figure class="cbx-img">
                <img src="" alt=""/>
            </figure>
            <div class="card-content">
                <div class="card-description">
                    <p class="cbx-title">Premier</p>
                    <p class="cbx-text">Anualidad<span m-font="bold">$645 </span>sin IVA</p>
                    <p class="cbx-text">Lorem ipsum dolor </p>
                    <p class="cbx-text">Lorem ipsum dolor</p>
                </div>
            </div>
        </button>
        <button class="cbx-card" m-mody="c-img">
            <figure class="cbx-img">
                <img src="" alt="" />
            </figure>
            <div class="card-content">
                <div class="card-description">
                    <p class="cbx-title">AAdvantage</p>
                    <p class="cbx-text">Anualidad <span m-font="bold">$645 </span>sin IVA</p>
                    <p class="cbx-text">Lorem ipsum dolor </p>
                    <p class="cbx-text">Lorem ipsum dolor</p>
                </div>
            </div>
        </button>
        <button class="cbx-card" m-mody="c-img"> 
            <figure class="cbx-img">
                <img src="" alt=""/>
            </figure>
            <div class="card-content">
                <div class="card-description">
                    <p class="cbx-title">Affinity Card</p>
                    <p class="cbx-text">Anualidad <span m-font="bold">$645 </span>sin IVA</p>
                    <p class="cbx-text">Lorem ipsum dolor </p>
                    <p class="cbx-text">Lorem ipsum dolor</p>
                </div>
            </div>
        </button>
        <button class="cbx-card" m-mody="c-img">
            <figure class="cbx-img">
                <img src="" alt="" />
            </figure>
            <div class="card-content">
                <div class="card-description">
                    <p class="cbx-title">Marti Clásica</p>
                    <p class="cbx-text">Anualidad <span m-font="bold">$645 </span>sin IVA</p>
                    <p class="cbx-text">Lorem ipsum dolor </p>
                    <p class="cbx-text">Lorem ipsum dolor</p>
                </div>
            </div>
        </button>
        <button class="cbx-card" m-mody="c-img"> 
            <figure class="cbx-img">
                <img src="" alt=""/>
            </figure>
            <div class="card-content">
                <div class="card-description">
                    <p class="cbx-title">Martí Premium</p>
                    <p class="cbx-text">Anualidad <span m-font="bold">$645 </span>sin IVA</p>
                    <p class="cbx-text">Lorem ipsum dolor </p>
                    <p class="cbx-text">Lorem ipsum dolor</p>
                </div>
            </div>
        </button>
        <button class="cbx-card" m-mody="c-img">
            <figure class="cbx-img">
                <img src="" alt="" />
            </figure>
            <div class="card-content">
                <div class="card-description">
                    <p class="cbx-title">Costco</p>
                    <p class="cbx-text">Anualidad <span m-font="bold">$645 </span>sin IVA</p>
                    <p class="cbx-text">Lorem ipsum dolor </p>
                    <p class="cbx-text">Lorem ipsum dolor</p>
                </div>
            </div>
        </button>
        <button class="cbx-card" m-mody="c-img"> 
            <figure class="cbx-img">
                <img src="" alt=""/>
            </figure>
            <div class="card-content">
                <div class="card-description">
                    <p class="cbx-title">Home Depot</p>
                    <p class="cbx-text">Anualidad <span m-font="bold">$645 </span>sin IVA</p>
                    <p class="cbx-text">Lorem ipsum dolor </p>
                    <p class="cbx-text">Lorem ipsum dolor</p>
                </div>
            </div>
        </button>
        <button class="cbx-card" m-mody="c-img">
            <figure class="cbx-img">
                <img src="" alt="" />
            </figure>
            <div class="card-content">
                <div class="card-description">
                    <p class="cbx-title">BSmart</p>
                    <p class="cbx-text">Anualidad <span>$645 </span>sin IVA</p>
                    <p class="cbx-text">Lorem ipsum dolor </p>
                    <p class="cbx-text">Lorem ipsum dolor</p>
                </div>
            </div>
        </button>
        <button class="cbx-card" m-mody="c-img"> 
            <figure class="cbx-img">
                <img src="" alt=""/>
            </figure>
            <div class="card-content">
                <div class="card-description">
                    <p class="cbx-title">BSmart</p>
                    <p class="cbx-text">Anualidad <span>$645 </span>sin IVA</p>
                    <p class="cbx-text">Lorem ipsum dolor </p>
                    <p class="cbx-text">Lorem ipsum dolor</p>
                </div>
            </div>
        </button>
        <button class="cbx-card" m-mody="c-img">
            <figure class="cbx-img">
                <img src="" alt="" />
            </figure>
            <div class="card-content">
                <div class="card-description">
                    <p class="cbx-title">BSmart</p>
                    <p class="cbx-text">Anualidad <span>$645 </span>sin IVA</p>
                    <p class="cbx-text">Lorem ipsum dolor </p>
                    <p class="cbx-text">Lorem ipsum dolor</p>
                </div>
            </div>
        </button>
        <button class="cbx-card" m-mody="c-img"> 
            <figure class="cbx-img">
                <img src="" alt=""/>
            </figure>
            <div class="card-content">
                <div class="card-description">
                    <p class="cbx-title">BSmart</p>
                    <p class="cbx-text">Anualidad <span>$645 </span>sin IVA</p>
                    <p class="cbx-text">Lorem ipsum dolor </p>
                    <p class="cbx-text">Lorem ipsum dolor</p>
                </div>
            </div>
        </button>
    </div>
    <div class="cbx-wrapper">
        <div class="comparador-grid">
            <div class="comparador-caracters">
                <div class="grid-column">
                    <div class="grid-row">
                        <p class="cbx-text"> <span>Preventas </span>para espectáculos y deportes</p>
                    </div>
                    <div class="grid-row">
                        <p class="cbx-text"> Meet & greets en <span>conciertos y boletos gratis</span></p>
                    </div>
                    <div class="grid-row">
                        <p class="cbx-text"> <span>Anualidad </span>$645 sin IVA <br/><span>Ingreso mínimo </span>$7,000<br/><span>CAT promedio </span>73.3% sin IVA</p>
                    </div>
                </div>
                <div class="grid-column">
                    <div class="grid-row">
                        <p class="cbx-text"> <span>Tasa Preferencial Platinum </span>(31.5% anual)</p>
                    </div>
                    <div class="grid-row">
                        <p class="cbx-text"> <span>Check up médico </span>básico gratis al año</p>
                    </div>
                    <div class="grid-row">
                        <p class="cbx-text"> <span>Anualidad </span>$2,200 sin IVA <br/><span>Ingreso mínimo </span>$50,000<br/><span>CAT promedio </span>73.3% sin IVA</p>
                    </div>
                </div>
                <div class="grid-column">
                    <div class="grid-row"></div>
                    <div class="grid-row"></div>
                    <div class="grid-row"></div>
                </div>
            </div>
            <div class="grid-category">
                <div class="category-cell">
                    <p class="cbx-title">Beneficios</p>
                </div>
                <div class="category-cell">
                    <p class="cbx-title">Beneficios</p>
                </div>
                <div class="category-cell">
                    <p class="cbx-title">Beneficios</p>
                </div>
            </div>
            <div class="comparador-beneficios">
                <div class="grid-column">
                    <div class="grid-row">
                        <p class="cbx-text"> <span>7% Puntos Premia </span>en las demás compras (no aplica en meses sin intereses)</p>
                    </div>
                    <div class="grid-row">
                        <p class="cbx-text"> <span>Accesos preferentes dentro del evento </span></p>
                    </div>
                    <div class="grid-row">
                        <p class="cbx-text"><span>Descuentos todo el año </span>en más de 50 marcas a nivle nacional</p>
                    </div>
                    <div class="grid-row">
                        <p class="cbx-text">Meses sin intereses en <span>viajes tecnología y ropa</span></p>
                    </div>
                </div>
                <div class="grid-column">
                    <div class="grid-row">
                        <p class="cbx-text"> <span>10% Puntos Premia en todas tus compras</span>(no aplica en meses sin intereses)</p>
                    </div>
                    <div class="grid-row">
                        <p class="cbx-text"> <span>Preventas </span>para espectáculos y deportes</p>
                    </div>
                    <div class="grid-row">
                        <p class="cbx-text"><span>Libra plus gratis </span></p>
                    </div>
                    <div class="grid-row">
                        <p class="cbx-text"><span>Check up médico </span>básico gratis al año </p>
                    </div>
                    <div class="grid-row">
                        <p class="cbx-text"> <span>Bono de bienvenida de 15,000</span>Puntos Premia<span>solicitando en línea</span>o<span>10,000</span>en<span>sucursal</span></p>
                    </div>
                    <div class="grid-row">
                        <p class="cbx-text"> 10 accesos a <span>Salones Beyond </span></p>
                    </div>
                    <div class="grid-row">
                        <p class="cbx-text">10 accesos a<span>Salas de Priority</span></p>
                    </div>
                    <div class="grid-row">
                        <p class="cbx-text"><span>PassTM </span>alrededor del mundo</p>
                    </div>
                    <div class="grid-row">
                        <p class="cbx-text"><span>Lifestyle Concierge:</span>atención personalizada en entretenimiento, viajes y restaurantes </p>
                    </div>
                    <div class="grid-row">
                        <p class="cbx-text"><span>Atención telefónica VIP</span></p>
                    </div>
                </div>
                <div class="grid-column">
                    <div class="grid-row">
                        <p class="cbx-text"></p>
                    </div>
                    <div class="grid-row">
                        <p class="cbx-text"></p>
                    </div>
                    <div class="grid-row">
                        <p class="cbx-text"></p>
                    </div>
                </div>
            </div>
            <div class="grid-category">
                <div class="category-cell">
                    <p class="cbx-title">Servicios</p>
                </div>
                <div class="category-cell">
                    <p class="cbx-title">Servicios</p>
                </div>
                <div class="category-cell">
                    <p class="cbx-title">Servicios</p>
                </div>
            </div>
            <div class="comparador-servicios">
                <div class="grid-column">
                    <div class="grid-row">
                        <p class="cbx-text">Protección contra cargos no reconocidos Liberación de adeudo</p>
                    </div>
                    <div class="grid-row">
                        <p class="cbx-text">Control de uso Plan Personal de Pagos Límite Personal Tarjetas adicionales</p>
                    </div>
                    <div class="grid-row">
                        <p class="cbx-text"><span>Banca digital</span></p>
                    </div>
                    <div class="grid-row">
                        <p class="cbx-text"><span>Libra plus </span>($150 mensual)</p>
                    </div>
                    <div class="grid-row">
                        <p class="cbx-text"><span>Asistencia en viajes</span></p>
                    </div>
                    <div class="grid-row">
                        <p class="cbx-text"><span>Protección 360 Banamex</span></p>
                    </div>
                    <div class="grid-row">
                        <p class="cbx-text">Disponible Citibanamex por invitación</p>
                    </div>
                    <div class="grid-row">
                        <p class="cbx-text"><span>Transferencia de deuda  </span>por invitación</p>
                    </div>
                    <div class="grid-row">
                        <p class="cbx-text"><span>Transferencia de deuda  </span>por invitación</p>
                    </div>
                    <div class="grid-row">
                        <p class="cbx-text"><span>Plan personal de pagos </span>por invitación</p>
                    </div>
                    <div class="grid-row">
                        <p class="cbx-text"><span>Incremento de línea </span>por invitación</p>
                    </div>
                    <div class="grid-row">
                        <p class="cbx-text"><span>Seguros Mastercard [1] </span></p>
                    </div>
                </div>
                <div class="grid-column">
                    <div class="grid-row">
                        <p class="cbx-text">Protección contra cargos no reconocidos Liberación de adeudo</p>
                    </div>
                    <div class="grid-row">
                        <p class="cbx-text">Control de uso Plan Personal de Pagos Límite Personal Tarjetas adicionales</p>
                    </div>
                    <div class="grid-row">
                        <p class="cbx-text"><span>Banca digital</span></p>
                    </div>
                    <div class="grid-row">
                        <p class="cbx-text"><span>Libra plus </span>($150 mensual)</p>
                    </div>
                    <div class="grid-row">
                        <p class="cbx-text"><span>Asistencia en viajes</span></p>
                    </div>
                    <div class="grid-row">
                        <p class="cbx-text"><span>Protección 360 Banamex</span></p>
                    </div>
                    <div class="grid-row">
                        <p class="cbx-text">Disponible Citibanamex por invitación</p>
                    </div>
                    <div class="grid-row">
                        <p class="cbx-text"><span>Transferencia de deuda  </span>por invitación</p>
                    </div>
                    <div class="grid-row">
                        <p class="cbx-text"><span>Transferencia de deuda  </span>por invitación</p>
                    </div>
                    <div class="grid-row">
                        <p class="cbx-text"><span>Plan personal de pagos </span>por invitación</p>
                    </div>
                    <div class="grid-row">
                        <p class="cbx-text"><span>Incremento de línea </span>por invitación</p>
                    </div>
                    <div class="grid-row">
                        <p class="cbx-text"><span>Seguros Mastercard [1]</span></p>
                    </div>
                </div>
                <div class="grid-column">
                    <div class="grid-row">
                        <p class="cbx-text">Protección contra cargos no reconocidos Liberación de adeudo</p>
                    </div>
                    <div class="grid-row">
                        <p class="cbx-text">Control de uso Plan Personal de Pagos Límite Personal Tarjetas adicionales</p>
                    </div>
                    <div class="grid-row">
                        <p class="cbx-text"><span>Banca digital</span></p>
                    </div>
                    <div class="grid-row">
                        <p class="cbx-text"><span>Libra plus </span>($150 mensual)</p>
                    </div>
                    <div class="grid-row">
                        <p class="cbx-text"><span>Asistencia en viajes</span></p>
                    </div>
                    <div class="grid-row">
                        <p class="cbx-text"><span>Protección 360 Banamex</span></p>
                    </div>
                    <div class="grid-row">
                        <p class="cbx-text">Disponible Citibanamex por invitación</p>
                    </div>
                    <div class="grid-row">
                        <p class="cbx-text"><span>Transferencia de deuda  </span>por invitación</p>
                    </div>
                    <div class="grid-row">
                        <p class="cbx-text"><span>Transferencia de deuda  </span>por invitación</p>
                    </div>
                    <div class="grid-row">
                        <p class="cbx-text"><span>Plan personal de pagos </span>por invitación</p>
                    </div>
                    <div class="grid-row">
                        <p class="cbx-text"><span>Incremento de línea </span>por invitación</p>
                    </div>
                    <div class="grid-row">
                        <p class="cbx-text"><span>Seguros Mastercard [1]</span></p>
                    </div>
                </div>
            </div>
            <div class="grid-category">
                <div class="category-cell">
                    <p class="cbx-title">Servicios Adicionales</p>
                </div>
                <div class="category-cell">
                    <p class="cbx-title">Servicios Adicionales</p>
                </div>
                <div class="category-cell">
                    <p class="cbx-title">Servicios Adicionales</p>
                </div>
            </div>
            <div class="comparador-servicios-adicionales">
                <div class="grid-column"></div>
                <div class="grid-column">
                    <div class="grid-row">
                        <p class="cbx-text">Uso y facturación fraudulenta 100% saldo total de la tarjeta</p>
                    </div>
                    <div class="grid-row">
                        <p class="cbx-text">Seguro de pérdida o demora de equipaje</p>
                    </div>
                    <div class="grid-row">
                        <p class="cbx-text">$3,000 Por pérdida o daño físico</p>
                    </div>
                    <div class="grid-row">
                        <p class="cbx-text">$1,500 Por demora</p>
                    </div>
                </div>
                <div class="grid-column"></div>
            </div>
        </div>
    </div>
</section>