<section class="cbx-perfilador">
    <picture class="cbx-img">
        <source media="(max-width: 767px)" srcset="/views/components/molecules/cbx-perfilador/img/mobile/Paso_1.jpg" />
        <source media="(min-width: 768px)" srcset="/views/components/molecules/cbx-perfilador/img/desktop/Paso_1.jpg" />
        <img src="/views/components/molecules/cbx-perfilador/img/desktop/Paso_1.jpg" alt="" />
    </picture>
    <div class="perfilador-labels">
        <p class="cbx-text"> 1 / 3</p>
        <button class="label-close" type="button">
            <span class="cbx-icon" m-size="20" m-mody="icon-bold" type="button">
                <i class="icon-close-o"></i>
            </span>
        </button>
        <div class="content-perfilador">
            <p class="cbx-headline-section">¿Cuál es tu ingreso mensual?</p>
        </div>
        <div class="perfil-rounded"></div>
        <button class="cbx-button" type="button" m-mody="raised">Continuar</button>
    </div>
</section>