<div class="cbx-apps">
	<!--Citibamex Movil-->
	<button type="button" m-mody="apple" m-web="true" m-exit='{"sponsor":"App Store", "path": "https://itunes.apple.com/mx/app/citibanamex-m%C3%B3vil/id498483038?mt=8", "extra":"}'>
		<figure class="cbx-img">
			<img src="/views/components/molecules/cbx-apps/img/app-store.png" alt="App Store" />
		</figure>
	</button>
	<button type="button" m-mody="google" m-web="true" m-exit='{"sponsor":"Play Store", "path": "https://play.google.com/store/apps/details?id=com.citibanamex.banamexmobile&amp;hl=es_419", "extra":"}'>
		<figure class="cbx-img">
			<img src="/views/components/molecules/cbx-apps/img/google-play-store.png" alt="Google Play Store" />
		</figure>
	</button>
	<!--Citibamex Pay-->
	<button type="button" m-mody="apple" m-web="true" m-exit='{"sponsor":"App Store", "path": "https://itunes.apple.com/mx/app/citibanamex-pay/id1233396977?mt=8", "extra":"}'>
		<figure class="cbx-img">
			<img src="/views/components/molecules/cbx-apps/img/app-store.png" alt="App Store" />
		</figure>
	</button>
	<button type="button" m-mody="google" m-web="true" m-exit='{"sponsor":"Play Store", "path": "https://play.google.com/store/apps/details?id=com.banamex.wallet&amp;hl=es_419", "extra":"}'>
		<figure class="cbx-img">
			<img src="/views/components/molecules/cbx-apps/img/google-play-store.png" alt="Google Play Store" />
		</figure>
	</button>
</div>