<header class="cbx-header" id="main-header" m-open="false" m-search="false" m-banca="false">
	<section class="header-content">
		<button class="cbx-icon" m-size="20" m-mody="flat icon-bold">
			<i class="icon-menu-o"></i>
		</button>
		<div class="header-list">
			<a href="/">
				<picture class="cbx-img">
					<source media="(max-width: 1023px)" srcset="img/logo_citi_mobile.jpg," />
					<source media="(min-width: 1024px)" srcset="img/logo_citi_desktop.jpg" />
					<img src="img/logo_citi_desktop.jpg" alt="" />
				</picture>
			</a>
		</div>
		<div class="header-helpers">
			<div class="helpers-content">
				<button class="cbx-link" id="openSearch" type="button">
					<span>Buscar</span>
					<span class="cbx-icon" m-size="20" m-mody="flat icon-bold">
						<i class="icon-search-o"></i>
					</span>
				</button>
				<div class="header-search">
					<div class="search-content">
						<button class="cbx-icon" type="button" m-size="20" m-mody="flat icon-bold">
							<i class="icon-search-o"></i>
						</button>
						<input id="fake-input" type="text" autocomplete="off" placeholder="¿En qué te podemos ayudar?" />
						<button class="cbx-icon" id="closeSearch" type="button" m-size="20" m-mody="flat icon-bold">
							<i class="icon-close-o"></i>
						</button>
					</div>
				</div>
			</div>
			<button class="cbx-link">
				<span>Banca en línea</span>
				<span class="cbx-icon" m-size="20" m-mody="flat icon-bold">
					<i class="icon-angle-down-o"></i>
				</span>
			</button>
			<ul class="cbx-text">
				<li>
					<a href="https://bancanet.banamex.com/MXGCB/JPS/portal/LocaleSwitch.do?locale=es_MX&amp;JFP_TOKEN=3TFSI6EB" target="_blank">BancaNet</a>
				</li>
				<li>
					<a href="https://www.bancanetempresarial.banamex.com.mx/bestbanking/spanishdir/bankmain.htm" target="_blank">BancaNet
						Empresarial</a>
				</li>
				<li>
					<a href="#" m-exit="{&quot;sponsor&quot;:&quot;AcciTrade&quot;, &quot;path&quot;: &quot;https://www.accitrade.com/accitrdapp/at_home.do&quot;, &quot;extra&quot;:&quot;&quot;}">AcciTrade</a>
				</li>
				<li>
					<a href="#" m-exit="{&quot;sponsor&quot;:&quot;CitiDirect&quot;, &quot;path&quot;: &quot;https://www.citidirectonline1.citidirect.citicorp.com/web/cda/home.jsp&quot;, &quot;extra&quot;:&quot;&quot;}">CitiDirect</a>
				</li>
				<li>
					<a href="#" m-exit="{&quot;sponsor&quot;:&quot;CitiFX Pulse&quot;, &quot;path&quot;: &quot;https://latam.citifxpulse.com&quot;, &quot;extra&quot;:&quot;&quot;}">CitiFX
						Pulse</a>
				</li>
				<li>
					<a href="#" m-exit="{&quot;sponsor&quot;:&quot;SEF Electrónica&quot;, &quot;path&quot;: &quot;https://depositoelectronico.cmpnet.com.mx/weblogin.aspx&quot;, &quot;extra&quot;:&quot;&quot;}">SEF
						Electrónico</a>
				</li>
				<li>
					<a href="#" m-exit="{&quot;sponsor&quot;:&quot;Factura Electrónica Banamex&quot;, &quot;path&quot;: &quot;https://consultacfdi.cecoban.mx:8443/BNM/&quot;, &quot;extra&quot;:&quot;&quot;}">Factura
						Electrónica Banamex</a>
				</li>
			</ul>
		</div>
	</section>
	<section class="header-category">
		<button class="cbx-icon" m-size="20" m-mody="flat icon-bold">
			<i class="icon-arrow-right-o"></i>
		</button>
		<ul class="cbx-text">
			<li m-open="false">
				<a href="#">
					Productos
					<span class="cbx-icon" m-size="10" m-mody="flat icon-bold">
						<i class="icon-plus-o"></i>
					</span>
				</a>
				<ul>
					<li m-open="false">
						<a class="cbx-link" href="">
							TARJETAS DE CRÉDITO
							<span class="cbx-icon" m-size="10" m-mody="flat icon-bold">
								<i class="icon-plus-o"></i>
							</span>
						</a>
						<ul>
							<li>
								<a href="/es/personas/tarjetas-credito/tarjeta-bsmart-test.html">Bsmart</a>
							</li>
							<li>
								<a href="/es/personas/tarjetas-credito/tarjeta-clasica-test.html">Clásica</a>
							</li>
							<li>
								<a href="/es/personas/tarjetas-credito/tarjeta-oro-test.html">Oro</a>
							</li>
							<li>
								<a href="/es/personas/tarjetas-credito/tarjeta-platinum-test.html">Platinum</a>
							</li>
							<li>
								<a href="/es/personas/tarjetas-credito/tarjeta-rewards-test.html">Rewards</a>
							</li>
							<li>
								<a href="/es/personas/tarjetas-credito/tarjeta-premier-test.html">Premier</a>
							</li>
							<li>
								<a href="/es/personas/tarjetas-credito/tarjeta-aadvantage-test.html"> AAdvantage<sup>®</sup></a>
							</li>
							<li>
								<a class="cbx-link" href="product-list-page.html" m-mody="cta">Ver Todas<span class="cbx-icon" m-size="20"
									 m-mody="icon-bold"><i class="icon-arrow-right-o"></i></span></a></li>
						</ul>
					</li>
					<li m-open="false">
						<a class="cbx-link">
							CUENTAS DE DÉBITO
							<span class="cbx-icon" m-size="10" m-mody="flat icon-bold">
								<i class="icon-plus-o"></i>
							</span>
						</a>
						<ul>
							<li>
								<a href="/es/personas/cuentas/cuenta-perfiles.html">Perfiles</a>
							</li>
							<li>
								<a href="/es/personas/cuentas/perfil-ejecutivo.html">Perfil Ejecutivo</a>
							</li>
							<li>
								<a href="/es/personas/cuentas/cuenta-maestra.html">Maestra</a>
							</li>
							<li>
								<a class="cbx-link" href="/landings/tarjetas-de-debito/index.html" m-mody="cta">
									Ver más
									<span class="cbx-icon" m-size="20" m-mody="icon-bold">
										<i class="icon-arrow-right-o"></i>
									</span>
								</a>
							</li>
						</ul>
					</li>
					<li m-open="false">
						<a class="cbx-link" href="">
							CRÉDITOS
							<span class="cbx-icon" m-size="10" m-mody="flat icon-bold">
								<i class="icon-plus-o"></i>
							</span>
						</a>
						<ul>
							<li>
								<a href="/es/personas/creditos/credito-hipotecario.html">Hipotecario</a>
							</li>
							<li>
								<a href="/es/personas/creditos/credito-personal.html">Personal</a>
							</li>
							<li>
								<a href="/es/personas/creditos/credito-de-nomina.html">Nómina</a>
							</li>
						</ul>
					</li>
					<li m-open="false">
						<a class="cbx-link" href="">
							OTROS
							<span class="cbx-icon" m-size="10" m-mody="flat icon-bold">
								<i class="icon-plus-o"></i>
							</span>
						</a>
						<ul>
							<li>
								<a href="/es/personas/inversiones.html">Ahorro e Inversiones</a>
							</li>
							<li>
								<a href="/seguros/seguro-de-auto.html">Seguros</a>
							</li>
							<li>
								<a href="/afore/index.html">Afore</a>
							</li>
							<li>
								<a href="/fondos-de-inversion/">Fondos de inversión</a>
							</li>
						</ul>
					</li>
					<li m-open="false">
						<a class="cbx-link" href="">
							EMPRESARIAL
							<span class="cbx-icon" m-size="10" m-mody="flat icon-bold">
								<i class="icon-plus-o"></i>
							</span>
						</a>
						<ul>
							<li> <a href="/pymes/">PYMES</a></li>
							<li>
								<a href="/es/empresasygobierno/index.htm">Empresas y Gobierno</a>
							</li>
						</ul>
					</li>
					<li m-open="false">
						<a class="cbx-link" href="">
							PREFERENTE
							<span class="cbx-icon" m-size="10" m-mody="flat icon-bold">
								<i class="icon-plus-o"></i>
							</span>
						</a>
						<ul>
							<li>
								<a href="/es/personas/priority.html">Priority</a>
							</li>
							<li>
								<a href="/bancapatrimonial/">Patrimonial</a>
							</li>
						</ul>
					</li>
				</ul>
			</li>
			<li m-open="false">
				<a href="#">
					Servicios
					<span class="cbx-icon" m-size="10" m-mody="flat icon-bold">
						<i class="icon-plus-o"></i>
					</span>
				</a>
				<ul>
					<li m-open="false">
						<a class="cbx-link" href="">
							CANALES DIGITALES
							<span class="cbx-icon" m-size="10" m-mody="flat icon-bold">
								<i class="icon-plus-o"></i>
							</span>
						</a>
						<ul>
							<li>
								<a href="/es/personas/banca-digital/bancanet.html">BancaNet</a>
							</li>
							<li>
								<a href="/es/personas/banca-digital/citibanamex-movil.html">Citibanamex Móvil</a>
							</li>
							<li>
								<a href="/es/personas/banca-digital/citibanamex-pay.html">Citibanamex Pay</a>
							</li>
							<li>
								<a href="/es/personas/banca-digital/audiomatico.html">Audiomático</a>
							</li>
							<li>
								<a href="/es/personas/banca-digital/notificaciones.html">Notificaciones</a>
							</li>
							<li>
								<a href="/es/personas/banca-digital/estado-de-cuenta.html">Estados de Cuenta</a>
							</li>
							<li>
								<a href="/es/personas/banca-digital/cajeros-automaticos.html">Cajeros</a>
							</li>
							<li>
								<a href="/es/personas/banca-digital/sucursales-digitales.html">Sucursales Digitales</a>
							</li>
						</ul>
					</li>
					<li m-open="false">
						<a class="cbx-link" href="">
							AYUDA
							<span class="cbx-icon" m-size="10" m-mody="flat icon-bold">
								<i class="icon-plus-o"></i>
							</span>
						</a>
						<ul>
							<li>
								<a href="/sitios/aclaraciones-cargos-tarjetas/">Cargos no reconocidos</a>
							</li>
							<li>
								<a href="/es/personas/tarjetas/donde-esta/">Localiza tu tarjeta</a>
							</li>
							<li>
								<a href="https://portal.banamex.com.mx/contactanos/activa_tarjeta/">Activar tu tarjeta</a>
							</li>
							<li>
								<a href="https://portal.banamex.com.mx/PuntosPremia/">Inscripción a Puntos Premia</a>
							</li>
							<li>
								<a href="/centro-de-seguridad/index.html">Tips de seguridad</a>
							</li>
							<li>
								<a href="/es/centro-de-ayuda/">Centro de Ayuda</a>
							</li>
							<li>
								<a href="/es/localizador-sucursales.html">Localizador</a>
							</li>
							<li>
								<a href="telefonos.html">Teléfonos</a>
							</li>
						</ul>
					</li>
				</ul>
			</li>
			<li m-open="false">
				<a href="#">
					Banca en Línea
					<span class="cbx-icon" m-size="10" m-mody="flat icon-bold">
						<i class="icon-plus-o"></i>
					</span>
				</a>
				<ul>
					<li>
						<a href="https://bancanet.banamex.com/MXGCB/JPS/portal/LocaleSwitch.do?locale=es_MX&amp;JFP_TOKEN=3TFSI6EB"
						 target="_blank">BancaNet</a></li>
					<li>
						<a href="https://www.bancanetempresarial.banamex.com.mx/bestbanking/spanishdir/bankmain.htm" target="_blank">BancaNet
							Empresarial</a></li>
					<li>
						<a href="#" m-exit="{&quot;sponsor&quot;:&quot;AcciTrade&quot;, &quot;path&quot;: &quot;https://www.accitrade.com/accitrdapp/at_home.do&quot;, &quot;extra&quot;:&quot;&quot;}">AcciTrade</a>
					</li>
					<li>
						<a href="#" m-exit="{&quot;sponsor&quot;:&quot;CitiDirect&quot;, &quot;path&quot;: &quot;https://www.citidirectonline1.citidirect.citicorp.com/web/cda/home.jsp&quot;, &quot;extra&quot;:&quot;&quot;}">CitiDirect</a>
					</li>
					<li>
						<a href="#" m-exit="{&quot;sponsor&quot;:&quot;CitiFX Pulse&quot;, &quot;path&quot;: &quot;https://latam.citifxpulse.com&quot;, &quot;extra&quot;:&quot;&quot;}">CitiFX
							Pulse</a>
					</li>
					<li>
						<a href="#" m-exit="{&quot;sponsor&quot;:&quot;SEF Electrónica&quot;, &quot;path&quot;: &quot;https://depositoelectronico.cmpnet.com.mx/weblogin.aspx&quot;, &quot;extra&quot;:&quot;&quot;}">SEF
							Electrónico</a>
					</li>
					<li>
						<a href="#" m-exit="{&quot;sponsor&quot;:&quot;Factura Electrónica Banamex&quot;, &quot;path&quot;: &quot;https://consultacfdi.cecoban.mx:8443/BNM/&quot;, &quot;extra&quot;:&quot;&quot;}">Factura
							Electrónica Banamex </a>
					</li>
				</ul>
			</li>
		</ul>
		<div class="header-copyright">
			<p class="cbx-legal">El Banco Nacional de México ®</p>
			<ul class="cbx-legal">
				<li>
					<a class="cbx-legal" href="/citibanamex">Quiénes somos</a>
				</li>
				<li>
					<a class="cbx-legal" href="/compromiso-social/">Compromiso Social</a>
				</li>
			</ul>
		</div>
		<ul class="cbx-text">
			<li>
				<a href="/es/localizador-sucursales.html">
					<span class="cbx-icon" m-size="20" m-mody="flat icon-bold">
						<i class="icon-localizador-o"></i>
					</span>
					Sucursales
				</a>
			</li>
			<li>
				<a href="/telefonos-citibanamex.html">
					<span class="cbx-icon" m-size="20" m-mody="flat icon-bold">
						<i class="icon-telefonos-o"></i>
					</span>
					Teléfonos
				</a>
			</li>
			<li>
				<a href="/es/centro-de-ayuda/tarjetas/">
					<span class="cbx-icon" m-size="20" m-mody="flat icon-bold">
						<i class="icon-ayuda-o"></i>
					</span>
					Ayuda
				</a>
			</li>
		</ul>
	</section>
</header>