@import '../../mixins.pcss';

html {
	&[m-browser~="ie"],
	&[m-browser~="edge"] {
		& .cbx-header {
			& .header-category {
				& > ul:first-of-type {
					& > li {
						&[m-open] {
							& > ul {
								display: none;
							}
						}
					}
				}
			}
		}
	}

	&[m-browser="ie"] {
		& .cbx-header {
			/* z-index:3; */
			width: 100%;

			& .header-list {
				& > a {
					& .cbx-img {
						flex-basis: inherit;
					}
				}
			}
		}
	}

	&[m-browser~="safari"] {
		&[m-browser~="iphone"] {
			& .cbx-header {
				& .header-category {
					& > ul {
						&:first-of-type {
							@mixin viewport xs, padding-bottom, 180;
						}
					}
				}
			}
		}
	}
}

.cbx-header {
	@mixin position-sticky;
	@mixin box-shadow xs, medium-out;
	background-color: var(--white);
	color: var(--darkest-gray);
	top: 0;
	z-index: 2;

	& a,
	& button:not(.cbx-icon) {
		display: flex;

		&:focus {
			color: var(--darkest-gray);
		}
	}

	ul,
	& button:not(.cbx-icon),
	a:not([m-mody="cta"]) {
		color: inherit;
	}

	&[m-open="true"] {
		z-index: 3;

		& .header-category {
			right: 0;
			overflow-y: auto;

			& .header-copyright,
			& > ul:last-of-type {
				right: 0;
			}
		}
	}

	&[m-search="true"] {
		& .header-helpers {
			& .helpers-content {
				& > .cbx-link {
					pointer-events: none;
				}
			}

			& .header-search {
				@mixin viewport xs, width, 300;
				right: 0;

				margin: {
					@mixin viewport xs, right, 10;
					@mixin viewport xs, left, 10;
				}

				& .search-content {
					width: 100%;

					& > .cbx-icon {
						display: flex;
						opacity: 1;
						pointer-events: visible;
					}

					& > input {
						padding: {
							@mixin viewport xs, right, 50;
							@mixin viewport xs, left, 50;
						}

						@supports (display: grid) {
							@mixin viewport xs, padding, 10, 35;
						}
					}
				}
			}
		}
	}

	& .header-content {
		/* @include blue-wave( citi ); */
		@mixin viewport xs, height, 48;
		display: flex;
		/* justify-content: space-between; */
		align-items: center;
		position: relative;

		& .cbx-icon {
			color: var(--darkest-gray);
			@mixin viewport xs, width, 48;
			@mixin viewport xs, height, 48;
		}

		& > .cbx-icon {
			order: 2;
		}
	}

	& .header-list {
		display: flex;
		@mixin viewport xs, flex-basis, 83;
		order: 0;

		& > a {
			& .cbx-img {
				display: block;
				background: none;
			}
		}

		& > ul {
			display: none;
		}
	}

	& .header-helpers {
		order: 1;
		margin-left: auto;

		& > .cbx-link {
			display: none;

			& + ul {
				display: none;
			}
		}

		& .helpers-content {
			& > .cbx-link {
				& span:not(.cbx-icon) {
					display: none;
				}
			}
		}
	}

	& .header-search {
		position: absolute;
		@mixin viewport xs, top, 10;
		@mixin viewport xs, height, 30;
		@mixin viewport xs, right, 10;
		width: 0;
		margin: 0;
		transition: width 350ms ease-in-out;

		& .search-content,
		input {
			height: inherit;
			width: inherit;
		}

		& .search-content {
			display: flex;
			justify-content: space-between;

			& > .cbx-icon {
				@mixin absolute center-vertical;
				display: none;
				opacity: 0;
				transition: opacity 350ms ease-in-out;
				pointer-events: none;

				&[m-size] {
					i {
						@mixin viewport xs, font-size, 15;
					}
				}

				&:first-of-type {
					color: var(--middle-gray);
					@mixin viewport xs, left, -10;
				}

				&:last-of-type {
					color: var(--citi-blue);
					@mixin viewport xs, right, -10;
				}
			}

			& > input {
				padding: 0;
				border-radius: borderRadius(xs);

				font: {
					@mixin viewport xs, size, 14;
					family: var(--font-l);
				}

				color: var(--darkest-gray);

				&::-moz-placeholder,
				&:-ms-placeholder,
				&::placeholder {
					color: var(--middle-gray);

					font: {
						@mixin viewport xs, size, 14;
						family: var(--font-l);
					}
				}
			}
		}
	}

	& .header-category {
		@mixin transition right;
		background-color: var(--white);

		padding: {
			top: 0;
			@mixin viewport xs, right, 20;
			@mixin viewport xs, left, 20;
			@mixin viewport xs, bottom, 20;
		}

		height: 100vh;
		width: 100vw;
		position: fixed;
		top: 0;
		right: -100%;

		& > .cbx-icon {
			@mixin viewport xs, height, 48;
			@mixin viewport xs, width, 48;
			color: var(--b2);
			margin-left: auto;

			> i {
				justify-content: flex-end;
			}
		}

	& a {
			display: flex;
			align-items: center;
			justify-content: space-between;
			@mixin viewport xs, height, 40;

			&[m-mody="cta"] {
				justify-content: flex-start;
			}

			& > .cbx-icon {
				color: var(--b2);
			}

			&:focus {
				color: var(--darkest-gray);
			}
		}

		& > ul:first-of-type {
			@mixin viewport xs, padding-bottom, 130;

			& > li {
				@mixin rgba border-top-color, var(--middle-gray), 0.2;
				border-top-width: 1px;
				border-top-style: solid;
			}

			& li {
				&:last-child {
					@mixin rgba border-bottom-color, var(--middle-gray), 0.2;
					border-bottom-width: 1px;
					border-bottom-style: solid;
				}

				&[m-open="true"] {
					& > a {
						& .cbx-icon {
							i::before {
								content: "\59";
							}
						}

						& + ul {
							display: block;
						}
					}
				}

				& > a {
					& + ul {
						display: none;

						& li {
							@mixin viewport xs, padding-left, 20;

							& > a {
								@mixin viewport xs, padding-right, 20;

								& &:not(.cbx-link) {
									justify-content: flex-start;
								}
							}
						}
					}
				}
			}
		}

		& .header-copyright,
		& > ul:last-of-type {
			@mixin transition right;
			position: fixed;
			width: 100%;
			right: -100%;
		}

		& .header-copyright {
			display: flex;
			align-items: center;
			justify-content: space-between;

			padding: {
				@mixin viewport xs, left, 20;
				@mixin viewport xs, right, 20;
			}

			bottom: 0;
			@mixin viewport xs, height, 40;
			background-color: var(--b1);
			color: var(--white);

			& p.cbx-legal {
				display: none;
			}

			& > ul {
				color: inherit;
				text-align: right;
				display: flex;
				width: 100%;
				text-align: center;

				& > li {
					flex-grow: 1;
					flex-basis: 50%;
					flex-shrink: 1;

					& > a {
						height: auto;
						display: block;
					}
				}
			}
		}

		& > ul:last-of-type {
			display: flex;
			align-items: center;
			justify-content: center;
			background-color: var(--background-gray);
			@mixin viewport xs, bottom, 40;
			@mixin viewport xs, height, 80;

			& > li {
				flex-grow: 0;
				@mixin viewport xs, flex-basis, 86;
				@mixin viewport xs, margin-right, 10;

				&:last-child {
					margin-right: 0;
				}

				& > a {
					flex-direction: column;
					@mixin viewport xs, height, 50;
				}
			}
		}
	}

	.autocomplete-items {
		& [onclick] {
			font-family: var(--font-r);
		}
	}
}

@media (width >= 768px) {
	html {
		&[m-browser="ie"] {
			& .cbx-header {
				/* + *{
					margin-top: 50px;
				} */
				&[m-fixed="true"] {
					& + * {
						margin-top: 50px;
					}
				}
			}
		}

		&[m-browser~="safari"] {
			&[m-browser~="iphone"] {
				& .cbx-header {
					& .header-category {
						& > ul {
							&:first-of-type {
								padding-bottom: 130px;
							}
						}
					}
				}
			}
		}
	}

	.cbx-header {
		@mixin box-shadow sm, medium-out;

		&[m-open="true"] {
			& .header-content {
				pointer-events: none;
				& opacity: 0.5;
			}
		}

		&[m-search="true"] {
			& .header-helpers {
				& .header-search {
					width: 748px;

					margin: {
						right: 10px;
						left: 10px;
					}

					& .search-content {
						& > input {
							padding: {
								right: 50px;
								left: 50px;
							}

							@supports (display: grid) {
								padding: 10px 40px;
							}
						}
					}
				}
			}
		}

		& .header-content {
			height: 48px;

			/* padding:{
				right: 20px;
				left: 20px;
			} */
			& .cbx-icon {
				width: 44px;
				height: 44px;
			}
		}

		& .header-list {
			flex-basis: 83px;
		}

		& .header-search {
			top: 10px;
			height: 30px;
			right: 10px;

			& .search-content {
				position: relative;

				& > .cbx-icon {
					&[m-size] {
						i {
							font-size: 15px;
						}
					}

					&:first-of-type {
						left: 0;
					}

					&:last-of-type {
						right: 0;
					}
				}

				& > input {
					border-radius: borderRadius(sm);
					font-size: 14px;

					&::-moz-placeholder,
					&:-ms-placeholder,
					&::placeholder {
						font-size: 14px;
					}
				}
			}
		}

		& .header-category {
			padding: 0px 20px 20px 30px;
			width: 320px;

			& > .cbx-icon {
				margin-bottom: 0;
				height: 48px;
				width: 48px;
			}

		& a {
				height: 40px;
			}

			& > ul:first-of-type {
				& > li {
					border-top-width: 1px;

					&:last-child {
						border-bottom-width: 1px;
					}

					& > a {
						& + ul {
							& li {
								/* height: 40px; */
								padding-left: 20px;
							}
						}
					}
				}
			}

			& .header-copyright {
				width: 320px;

				padding: {
					left: 20px;
					right: 20px;
				}

				height: 40px;

				& > ul {
					& > li {
						&:first-child {
							margin-bottom: 5px;
						}
					}
				}
			}

			& > ul:last-of-type {
				height: 80px;
				width: 320px;
				bottom: 40px;

				& > li {
					margin-right: 10px;

					& > a {
						height: 50px;
					}
				}
			}
		}
	}
}

@media (width >= 1024px) {
	html {
		&[m-browser="ie"] {
			& .cbx-header {
				&[m-search="true"] {
					& .header-helpers {
						& .header-search {
							width: 595%;
						}
					}
				}

				&[m-fixed="true"] {
					& + * {
						@mixin viewport lg, margin-top, 90;
					}
				}

				& .header-category {
					& > ul {
						&:first-of-type {
							@mixin viewport lg, left, 220;
						}
					}
				}
			}
		}

		&[m-browser~=safari] {
			.cbx-header {
				.header-category {
					>ul {
						&:first-of-type {
							>li {
								&[m-open] {
									>a {
										+ul {
											pointer-events: none;
										}
									}
								}
							}
						}
					}
				}
			}
		}
	

		&[m-browser~="mobile"] {
			& .cbx-header {
				& .header-category {
					& > ul {
						&:first-of-type {
							& > li {
								&[m-open="true"] {
									&::after {
										content: "";
										width: 100%;
										height: 4px;
										background-color: var(--b2);
										border: none;
									}

									& > a {
										/* pointer-events: none; */
										color: var(--b2);

										& + ul {
											max-height: 10000px;
											display: flex;
											overflow: visible;
											opacity: 1;
											z-index: 3;

											padding: {
												@mixin viewport lg, right, 32;
												@mixin viewport lg, top, 20;
												@mixin viewport lg, bottom, 20;
												@mixin viewport lg, left, 32;
											}

											transition: max-height 200ms ease-in-out 150ms,
												opacity 200ms ease-in-out 200ms,
												padding 50ms ease-in-out 50ms;
										}
									}
								}
							}
						}
					}
				}
			}
		}

		&:not([m-browser~="mobile"]) {
			& .cbx-header {
				& .header-category {
					& > ul {
						&:first-of-type {
							& > li {
								&[m-open] {
									&:hover {
										&::after {
											content: "";
											width: 100%;
											height: 4px;
											background-color: var(--b2);
											border: none;
										}

										& > a {
											color: var(--b2);

											& + ul {
												max-height: 10000px;
												display: flex;
												overflow: visible;
												z-index: 3;
												opacity: 1;

												padding: {
													@mixin viewport lg, right, 32;
													@mixin viewport lg, top, 20;
													@mixin viewport lg, bottom, 20;
													@mixin viewport lg, left, 32;
												}

												transition: max-height 200ms ease-in 150ms,
													opacity 200ms ease-in 200ms, padding 50ms ease-in 50ms;

												& > li {
													& > ul {
														a:not([m-mody="cta"]) {
															&:hover {
																color: var(--b2);
															}
														}
													}
												}
											}
										}
									}
								}
							}
						}
					}
				}

				& .header-helpers {
					& > .cbx-link {
						& + ul {
							& > li {
								@mixin transition background-color;

								&:hover {
									background-color: var(--b2);
								}
							}
						}
					}
				}
			}
		}
	}

	.cbx-header {
		@mixin box-shadow lg, medium-out;
		display: flex;
		flex-wrap: wrap;
		color: var(--white);

		&[m-search="true"] {
			& .header-helpers {
				& .header-search {
					margin: {
						@mixin viewport lg, right, 20;
						left: 0;
					}

					width: 585%;

					@supports (display: grid) {
						@mixin viewport lg, width, 350;
					}

					& .search-content {
						& > input {
							padding: {
								@mixin viewport lg, right, 50;
								@mixin viewport lg, left, 50;
							}

							@supports (display: grid) {
								@mixin viewport lg, padding, 10, 40;
							}
						}
					}
				}
			}
		}

		&[m-banca="true"] {
			& .header-helpers {
				& > .cbx-link {
					& + ul {
						@mixin viewport lg, max-height, 1000;
					}

					& .cbx-icon {
						& i {
							&::before {
								content: "\6b";
							}
						}
					}
				}
			}
		}

		& .cbx-link {
			&:hover {
				color: var(--darkest-gray);
			}

			&[m-active="true"] {
				&::after {
					background-color: var(--white);
				}
			}

			&::after {
				background-color: var(--white);
			}
		}

		& .header-content {
			display: flex;
			width: 100vw;
			@mixin viewport lg, height, 25;
			background: var(--darkest-gray);

			padding: {
				@mixin viewport lg, right, 20;
				@mixin viewport lg, left, 20;
			}

			position: relative;

			& .cbx-icon {
				@mixin viewport lg, width, 44;
				@mixin viewport lg, height, 44;

				&:first-of-type {
					display: none;
				}
			}
		}

		& .header-list,
		& .header-helpers {
			position: relative;
			@mixin viewport lg, top, 36;
			height: inherit;
			z-index: 1;
			@mixin viewport lg, left, -20;
		}

		& .header-list {
			@mixin viewport lg, height, 25;
			align-items: center;
			@mixin viewport lg, flex-basis, 195;

			& > ul {
				display: flex;
				align-items: inherit;
				height: inherit;

				& > li {
					@mixin viewport lg, margin-right, 20;

					&:last-child {
						margin-right: 0;
					}
				}
			}
		}

		& .header-helpers {
			display: flex;
			align-items: center;
			flex-shrink: 0;
			color: var(--darkest-gray);

			& .cbx-link {
				&::after {
					content: none;
				}
			}

			& > .cbx-link {
				display: flex;
				height: inherit;
				align-items: center;
				@mixin viewport lg, padding-left, 20;

				& > .cbx-icon {
					width: auto;
					height: auto;
				}

				& + ul {
					position: absolute;
					@mixin viewport lg, top, 37;
					@mixin viewport lg, right, -38;
					@mixin viewport lg, width, 220;
					max-height: 0;
					overflow: hidden;
					display: block;
					transition: max-height 350ms linear;
					z-index: 1;
					color: var(--white);

					& > li {
						background-color: var(--b1);
						@mixin viewport lg, height, 40;
						width: 100%;

						border-bottom: {
							@mixin viewport lg, width, 1;
							style: solid;
							color: var(--white);
						}

						&:last-child {
							border-bottom: none;
						}

						& > a {
							display: flex;
							align-items: center;
							@mixin viewport lg, padding, 10;
							height: inherit;
							width: inherit;
						}
					}
				}

				& span:not(.cbx-icon) {
					display: block !important;
					@mixin viewport lg, margin-right, 10;
				}

				& .cbx-icon {
					margin-bottom: 0;

					&[m-size] {
						& i {
							@mixin viewport lg, font-size, 15;
						}
					}
				}
			}

			& .helpers-content {
				position: relative;
				height: inherit;
				align-items: center;
				display: flex;

				& > .cbx-link {
					@mixin rgba border-right-color, var(--white), 0.2;
					@mixin viewport lg, border-right-width, 1;
					border-right-style: solid;
					@mixin viewport lg, height, 25;
					align-items: center;
					@mixin viewport lg, padding-right, 20;

					& span:not(.cbx-icon) {
						display: block;
						@mixin viewport lg, margin-right, 10;
					}

					& .cbx-icon {
						width: auto;
						height: auto;
					}
				}
			}
		}

		& .header-search {
			@mixin viewport lg, height, 30;
			top: 50%;
			transform: translateY(-50%);
			@mixin viewport lg, right, 10;

			& .search-content {
				& > .cbx-icon {
					display: flex;

					&[m-size] {
						& i {
							@mixin viewport lg, font-size, 15;
						}
					}
				}

				& > input {
					border-radius: borderRadius(lg);
					@mixin viewport lg, font-size, 14;

					&::-moz-placeholder,
					&:-ms-placeholder,
					&::placeholder {
						@mixin viewport lg, font-size, 14;
					}
				}
			}
		}

		& .header-category {
			/* @include blue-wave( citi ); */
			color: var(--darkest-gray);
			display: flex;
			position: relative;
			padding: 0;
			width: 100vw;
			@mixin viewport lg, height, 48;
			left: 0;
			transition: none;

			& > .cbx-icon {
				display: none;
			}

		& 	a {
				&[m-mody="cta"] {
					&:hover {
						color: var(--b2);
					}
				}

				&:not([m-mody="cta"]) {
					height: auto;

					& .cbx-icon {
						display: none;
					}
				}
			}

			& ul {
				/* height: inherit; */
				align-items: center;

				& li {
					border: none !important;
				}
			}

			& .header-copyright {
				position: absolute;
				@mixin viewport lg, top, -25;
				z-index: 1;
				bottom: auto;
				left: 0;
				width: 100%;
				@mixin viewport lg, height, 25;
				transition: none;

				& p.cbx-legal {
					display: block;
				}

				& > .cbx-legal {
					color: var(--white);
				}

				& > ul {
					width: auto;

					& > li {
						flex-grow: 0;
						flex-basis: auto;
					}

					> li:first-child {
						margin: {
							@mixin viewport lg, right, 20;
							bottom: 0;
						}
					}
				}
			}

			& > ul {
				display: flex;
				justify-content: center;
				text-align: center;
				@mixin viewport lg, height, 80;

				&:first-of-type {
					padding-bottom: 0;
					height: inherit;
					position: relative;
					@mixin viewport lg, left, 220;

					& li {
						& > a {
							& + ul {
								display: block;
								max-height: 100000px;

								& li {
									& > a {
										padding-right: 0;
										@mixin viewport lg, height, 32;
									}

									> a:not([m-mody="cta"]) {
										color: var(--middle-gray);
									}
								}
							}
						}

						&[m-open] {
							& > a {
								font-family: var(--font-r) !important;

								&:focus {
									color: var(--white);
								}

								& + ul {
									position: absolute;
									left: 0;
									@mixin viewport lg, top, 48;
									background-color: var(--white);
									z-index: 2;

									& > li {
										& > ul {
											position: relative;
											left: 0;
											top: 0;

											a:not([m-mody="cta"]) {
												color: var(--darkest-gray);
												transition: color 350ms ease-in-out;
											}
										}
									}
								}
							}
						}
					}

					& > li {
						height: inherit;
						display: flex;
						align-items: center;
						position: relative;

						&:nth-child(3) {
							display: none;
						}

						/* overflow: hidden; */
						&::after {
							@mixin absolute center-horizontal;
							content: none;
							@mixin viewport lg, height, 15;
							@mixin viewport lg, width, 20;
							position: absolute;
							bottom: 0;

							border: {
								style: solid;
								@mixin viewport lg, width, 15;
								top-color: transparent;
								right-color: transparent;
								bottom-color: var(--white);
								left-color: transparent;
							}
						}

						&[m-open] {
							& > ul {
								left: 0;
							}

							/* &:nth-child(1){
								> ul{
									@mixin viewport lg, left,-200;
								}
							}
							&:nth-child(2){
								> ul{
									@mixin viewport lg, left,-295;
								}
							} */
							& > a {
								pointer-events: none;

								& + ul {
									/* display: none; */
									max-height: 0;
									overflow: hidden;
									transition: max-height 100ms ease-in 100ms,
										opacity 50ms ease-in 50ms, padding 300ms ease-in 300ms;
									opacity: 0;
								}
							}
						}

						& > a {
							& + ul {
								@mixin box-shadow lg, big-out;
								width: 100vw;
								display: flex;
								flex-wrap: wrap;
								align-items: flex-start;

								& li {
									padding-left: 0;
								}

								& > li {
									@mixin viewport lg, width, 305;

									margin: {
										@mixin viewport lg, right, 20;
										@mixin viewport lg, bottom, 40;
									}

									&:nth-child(1) {
										@mixin viewport lg, width, 470;

										& > ul {
											display: flex;
											flex-wrap: wrap;

											& > li {
												flex-grow: 1;
												flex-shrink: 0;
												flex-basis: 50%;
											}
										}
									}
									&:nth-child(2),
									&:nth-child(3),
									&:nth-child(4) {
										@mixin viewport lg, width, 225;
									}

									&:nth-last-child(1),
									&:nth-last-child(2),
									&:nth-last-child(3) {
										margin-bottom: 0;
									}

									&:nth-child(3n) {
										margin-right: 0;
									}

									& > a {
										pointer-events: none;

										border-bottom: {
											width: 1px;
											style: solid;
											color: var(--middle-gray);
										}
									}
								}
							}
						}
					}
				}

				& > li {
					@mixin viewport lg, margin-right, 30;
					flex-basis: auto;

					&:last-child {
						margin-right: 0;

						& > a {
							& + ul {
								& > li {
									&:nth-child(2) {
										@mixin viewport lg, width, 470;
										margin-right: 0;

										& > ul {
											display: flex;
											flex-wrap: wrap;

											& > li {
												flex-grow: 1;
												flex-shrink: 0;
												flex-basis: 50%;
											}
										}
									}
								}
							}
						}
					}
				}

				&:last-of-type {
					display: none;
				}
			}
		}
	}
}

@media (width >= 1280px) {
	html {
		&[m-browser="ie"] {
			& .cbx-header {
				/* + *{
					@mixin viewport xl, margin-top, 73;
				} */
				&[m-fixed="true"] {
					& + * {
						@mixin viewport xl, margin-top, 90;
					}
				}

				& .header-category {
					& > ul {
						&:first-of-type {
							@mixin viewport xl, left, 220;
						}
					}
				}
			}
		}

		&[m-browser~="mobile"] {
			& .cbx-header {
				& .header-category {
					& > ul {
						&:first-of-type {
							& > li {
								&[m-open="true"] {
									& > a {
										& + ul {
											padding: {
												@mixin viewport xl, right, 161.5;
												@mixin viewport xl, top, 20;
												@mixin viewport xl, bottom, 20;
												@mixin viewport xl, left, 161.5;
											}
										}
									}
								}
							}
						}
					}
				}
			}
		}

		&:not([m-browser~="mobile"]) {
			& .cbx-header {
				& .header-category {
					& > ul {
						&:first-of-type {
							& > li {
								&[m-open] {
									&:hover {
										&::after {
											content: "";
										}

										& > a {
											& + ul {
												padding: {
													@mixin viewport xl, right, 161.5;
													@mixin viewport xl, top, 20;
													@mixin viewport xl, bottom, 20;
													@mixin viewport xl, left, 161.5;
												}
											}
										}
									}
								}
							}
						}
					}
				}
			}
		}
	}

	.cbx-header {
		&[m-search="true"] {
			& .header-helpers {
				& .header-search {
					@mixin viewport xl, margin-right, 20;
					width: 585%;

					@supports (display: grid) {
						@mixin viewport xl, width, 610;
					}

					& .search-content {
						& > input {
							padding: {
								@mixin viewport xl, right, 50;
								@mixin viewport xl, left, 50;
							}

							@supports (display: grid) {
								@mixin viewport xl, padding, 10, 40;
							}
						}
					}
				}
			}
		}

		&[m-banca="true"] {
			& .header-helpers {
				& > .cbx-link {
					& + ul {
						@mixin viewport xl, max-height, 1000;
					}
				}
			}
		}

		& .header-content {
			@mixin viewport xl, height, 25;

			padding: {
				@mixin viewport xl, right, 20;
				@mixin viewport xl, left, 20;
			}

			& .cbx-icon {
				@mixin viewport xl, width, 44;
				@mixin viewport xl, height, 44;
			}
		}

		& .header-list,
		& .header-helpers {
			@mixin viewport xl, top, 36;
		}

		& .header-list {
			@mixin viewport xl, height, 25;
			@mixin viewport xl, flex-basis, 198;
			@mixin viewport lg, left, -13;

			& > ul {
				& > li {
					@mixin viewport xl, margin-right, 20;
				}
			}
		}

		& .header-helpers {
			& > .cbx-link {
				@mixin viewport xl, padding-left, 20;

				& + ul {
					@mixin viewport xl, top, 37;
					@mixin viewport xl, right, -50;
					@mixin viewport xl, width, 220;

					& > li {
						@mixin viewport xl, height, 40;
						@mixin viewport xl, border-bottom-width, 1;

						& > a {
							@mixin viewport xl, padding, 10;
						}
					}
				}

				& span:not(.cbx-icon) {
					@mixin viewport xl, margin-right, 10;
				}

				& .cbx-icon {
					&[m-size] {
						i {
							@mixin viewport xl, font-size, 15;
						}
					}
				}
			}

			& .helpers-content {
				& > .cbx-link {
					@mixin viewport xl, height, 25;
					@mixin viewport xl, padding-right, 20;
					@mixin viewport xl, border-right-width, 1;

					& span:not(.cbx-icon) {
						@mixin viewport xl, margin-right, 10;
					}
				}
			}
		}

		& .header-search {
			@mixin viewport xl, height, 30;
			@mixin viewport xl, right, 10;

			& .search-content {
				& > .cbx-icon {
					&[m-size] {
						i {
							@mixin viewport xl, font-size, 15;
						}
					}
				}

				& > input {
					border-radius: borderRadius(xl);
					@mixin viewport xl, font-size, 14;

					&::-moz-placeholder,
					&:-ms-placeholder,
					&::placeholder {
						@mixin viewport xl, font-size, 14;
					}
				}
			}
		}

		& .header-category {
			@mixin viewport xl, height, 48;

			& .header-copyright {
				@mixin viewport xl, top, -25;
				@mixin viewport xl, height, 25;

				& > .cbx-legal {
					@mixin viewport xl, padding-right, 20;
				}

				& > ul {
					> li:first-child {
						@mixin viewport xl, margin-right, 20;
					}
				}
			}

			& > ul {
				@mixin viewport xl, height, 80;

				&:first-of-type {
					@mixin viewport xl, left, 220;

					& li {
						& > a {
							& + ul {
								& li {
									& > a {
										@mixin viewport xl, height, 32;
									}
								}
							}
						}

						&[m-open] {
							& > a {
								& + ul {
									@mixin viewport xl, top, 48;
								}
							}
						}
					}

					& > li {
						&::after {
							@mixin viewport xl, height, 15;
							@mixin viewport xl, width, 20;
							@mixin viewport xl, border-width, 15;
						}

						& > a {
							& + ul {
								@mixin box-shadow xl, big-out;

								& > li {
									@mixin viewport xl, width, 350;

									margin: {
										@mixin viewport xl, right, 20;
										@mixin viewport xl, bottom, 40;
									}

									&:nth-child(1) {
										@mixin viewport xl, width, 545;
									}

									&:nth-child(2),
									&:nth-child(3),
									&:nth-child(4) {
										@mixin viewport xl, width, 265;
									}
								}
							}
						}
					}
				}

				& > li {
					@mixin viewport xl, margin-right, 30;

					&:last-child {
						& > a {
							& + ul {
								& > li {
									&:nth-child(2) {
										@mixin viewport xl, width, 545;
									}
								}
							}
						}
					}
				}
			}
		}
	}
}

@media (width >= 1440px) {
	html {
		&[m-browser="ie"] {
			& .cbx-header {
				&[m-search="true"] {
					& .header-helpers {
						& .header-search {
							width: 515%;
						}
					}
				}

				&[m-fixed="true"] {
					& + * {
						@mixin viewport xxl, margin-top, 90;
					}
				}

				& .header-category {
					& > ul {
						&:first-of-type {
							@mixin viewport xxl, left, 220;
						}
					}
				}
			}
		}

		&[m-browser~="mobile"] {
			& .cbx-header {
				& .header-category {
					& > ul {
						&:first-of-type {
							& > li {
								&[m-open="true"] {
									& > a {
										& + ul {
											padding: {
												@mixin viewport xxl, right, 32;
												@mixin viewport xxl, top, 20;
												@mixin viewport xxl, bottom, 20;
												@mixin viewport xxl, left, 32;
											}
										}
									}
								}
							}
						}
					}
				}
			}
		}

		&:not([m-browser~="mobile"]) {
			& .cbx-header {
				& .header-category {
					& > ul {
						&:first-of-type {
							& > li {
								&[m-open] {
									&:hover {
										&::after {
											content: "";
										}

										& > a {
											& + ul {
												padding: {
													@mixin viewport xxl, right, 161.5;
													@mixin viewport xxl, top, 20;
													@mixin viewport xxl, bottom, 20;
													@mixin viewport xxl, left, 161.5;
												}
											}
										}
									}
								}
							}
						}
					}
				}
			}
		}
	}

	.cbx-header {
		&[m-search="true"] {
			& .header-helpers {
				& .header-search {
					@mixin viewport xxl, margin-right, 20;

					@supports (display: grid) {
						@mixin viewport xxl, width, 530;
					}

					& .search-content {
						& > input {
							padding: {
								@mixin viewport xxl, right, 50;
								@mixin viewport xxl, left, 50;
							}

							@supports (display: grid) {
								@mixin viewport xxl, padding, 10, 40;
							}
						}
					}
				}
			}
		}

		&[m-banca="true"] {
			& .header-helpers {
				& > .cbx-link {
					& + ul {
						@mixin viewport xxl, max-height, 1000;
					}
				}
			}
		}

		& .header-content {
			@mixin viewport xxl, height, 25;

			padding: {
				@mixin viewport xxl, right, 20;
				@mixin viewport xxl, left, 20;
			}

			& .cbx-icon {
				@mixin viewport xxl, width, 44;
				@mixin viewport xxl, height, 44;
			}
		}

		& .header-list,
		& .header-helpers {
			@mixin viewport xxl, top, 36;
		}

		& .header-list {
			@mixin viewport xxl, height, 25;
			@mixin viewport xxl, flex-basis, 195;
			@mixin viewport xxl, left, -20;

			/* padding-right: viewport(xxl,20); */
			/* border-right-width: viewport(xxl,1); */
			& > ul {
				& > li {
					@mixin viewport xxl, margin-right, 20;
				}
			}
		}

		& .header-helpers {
			& > .cbx-link {
				@mixin viewport xxl, padding-left, 20;

				& + ul {
					@mixin viewport xxl, top, 37;
					@mixin viewport xxl, right, -47;
					@mixin viewport xxl, width, 220;

					& > li {
						@mixin viewport xxl, height, 40;
						@mixin viewport xxl, border-bottom-width, 1;

						& > a {
							@mixin viewport xxl, padding, 10;
						}
					}
				}

				& span:not(.cbx-icon) {
					@mixin viewport xxl, margin-right, 10;
				}

				& .cbx-icon {
					&[m-size] {
						i {
							@mixin viewport xxl, font-size, 15;
						}
					}
				}
			}

			& .helpers-content {
				& > .cbx-link {
					@mixin viewport xxl, height, 25;
					@mixin viewport xxl, padding-right, 20;
					@mixin viewport xxl, border-right-width, 1;

					& span:not(.cbx-icon) {
						@mixin viewport xxl, margin-right, 10;
					}
				}
			}
		}

		& .header-search {
			@mixin viewport xxl, height, 30;
			@mixin viewport xxl, right, 10;

			& .search-content {
				& > .cbx-icon {
					&[m-size] {
						i {
							@mixin viewport xxl, font-size, 15;
						}
					}
				}

				& > input {
					border-radius: borderRadius(xxl);
					@mixin viewport xxl, font-size, 14;

					&::-moz-placeholder,
					&:-ms-placeholder,
					&::placeholder {
						@mixin viewport xxl, font-size, 14;
					}
				}
			}
		}

		& .header-category {
			@mixin viewport xxl, height, 48;

			& .header-copyright {
				@mixin viewport xxl, top, -26;
				@mixin viewport xxl, height, 25;

				& > .cbx-legal {
					@mixin viewport xxl, padding-right, 20;
				}

				& > ul {
					> li:first-child {
						@mixin viewport xxl, margin-right, 20;
					}
				}
			}

			& > ul {
				@mixin viewport xxl, height, 80;

				&:first-of-type {
					@mixin viewport xxl, left, 220;

					& li {
						& > a {
							& + ul {
								& li {
									& > a {
										@mixin viewport xxl, height, 32;
									}
								}
							}
						}

						&[m-open] {
							& > a {
								& + ul {
									@mixin viewport xxl, top, 48;
								}
							}
						}
					}

					& > li {
						&::after {
							@mixin viewport xxl, height, 15;
							@mixin viewport xxl, width, 20;
							@mixin viewport xxl, border-width, 15;
						}

						& > a {
							& + ul {
								@mixin box-shadow xxl, big-out;

								& > li {
									@mixin viewport xxl, width, 350;

									margin: {
										@mixin viewport xxl, right, 20;
										@mixin viewport xxl, bottom, 40;
									}

									&:nth-child(1) {
										@mixin viewport xxl, width, 535;
									}

									&:nth-child(2),
									&:nth-child(3),
									&:nth-child(4) {
										@mixin viewport xxl, width, 255;
									}
								}
							}
						}
					}
				}

				& > li {
					@mixin viewport xxl, margin-right, 30;

					&:last-child {
						& > a {
							& + ul {
								& > li {
									&:nth-child(2) {
										@mixin viewport xxl, width, 535;
									}
								}
							}
						}
					}
				}
			}
		}
	}
}

/* Autocomplete */
.autocomplete {
	position: relative;
	display: inline-block;
	width: 100%;
}

.autocomplete-items {
	position: absolute;
	border: 1px solid #d4d4d4;
	border-bottom: none;
	border-top: none;
	color: black;
	z-index: 99;
	& top: 101.5%;
	left: 0;
	right: 0;
}

.autocomplete-items div {
	padding: 10px;
	cursor: pointer;
	background-color: #fff;
	border-bottom: 1px solid #d4d4d4;
	text-align: left;
}

.autocomplete-items div:hover {
	background-color: #e9e9e9;
}

.autocomplete-active {
	background-color: #e9e9e9 !important;
}
