<div class="cbx-exit" m-visible="false">
    <div class="exit-main">
        <div class="exit-description">
            <p class="cbx-legal"> </p>
            <p class="cbx-legal"> </p>
            <p class="cbx-legal">
                Entrarás a un sitio web ajeno a Citibanamex, el cual es responsable de sus propios
                contenidos y mantiene su política de privacidad y seguridad.
            </p>
        </div>
        <div class="exit-cta">
            <a class="cbx-link" href="#" m-mody="cta" target="_blank">
                Continuar
                <span class="cbx-icon" m-size="20" m-mody="icon-bold">
                    <i class="icon-arrow-right-o"></i>
                </span>
            </a>
        </div>
    </div>
    <button class="cbx-icon" m-size="30" m-mody="fill circle">
        <i class="icon-close-o"></i>
    </button>
</div>