@import '../../mixins.pcss';

html {
	&[m-browser="ie"] {
		& .cbx-exit {
			& .cbx-icon {
				& i {
					@mixin absolute center;
				}
			}
		}
	}
}

.cbx-exit {
	@mixin box-shadow xs, big-out;
	display: none;
	@mixin viewport xs, min-height, 180;
	@mixin viewport xs, width, 220;
	position: fixed;
	@mixin absolute center;
	z-index: 3;
	& .cbx-legal {
		color: var(--dark-gray);
	}
	& .cbx-link {
		color: var(--soft-blue);
		& .cbx-icon {
			color: inherit;
			& [class*="icon-"] {
				color: inherit;
			}
		}
	}
	&[m-visible="true"] {
		display: block;
		& .exit-description {
			@mixin viewport xs, padding, 10;
		}
	}
	& .exit-main {
		@mixin border-radius xs;
		overflow: hidden;
	}
	& .exit-description {
		background-color: var(--white);
		& .cbx-legal {
			@mixin viewport xs, margin-bottom, 15;
			&:last-child {
				color: var(--light-gray);
				margin-bottom: 0;
			}
		}
	}
	& .exit-cta {
		@mixin viewport xs, height, 40;
		background-color: var(--background-gray);
		display: flex;
		justify-content: center;
		align-items: center;
	}
	& > .cbx-icon {
		position: absolute;
		@mixin viewport xs, top, -10;
		@mixin viewport xs, right, -10;
	}
}

@media (--portrait) {
	.cbx-exit {
		@mixin box-shadow sm, big-out;
		min-height: 180px;
		width: 220px;
		&[m-visible="true"] {
			& .exit-description {
				padding: 10px;
			}
		}
		& .exit-main {
			@mixin border-radius sm;
		}
		& .exit-description {
			& .cbx-legal {
				margin-bottom: 15px;
			}
		}
		& .exit-cta {
			height: 40px;
		}
		& > .cbx-icon {
			top: -10px;
			right: -10px;
		}
	}
}

@media (--small-desktop) {
	.cbx-exit {
		@mixin box-shadow lg, big-out;
		@mixin viewport lg, min-height, 180;
		@mixin viewport lg, width, 220;
		position: absolute;
		left: 0;
		top: 0;
		&[m-visible="true"] {
			& .exit-description {
				@mixin viewport lg, padding, 10;
			}
		}
		& .exit-main {
			@mixin border-radius lg;
		}
		& .exit-description {
			& .cbx-legal {
				@mixin viewport lg, margin-bottom, 15;
			}
		}
		& .exit-cta {
			@mixin viewport lg, height, 40;
		}
		& > .cbx-icon {
			@mixin viewport lg, top, -10;
			@mixin viewport lg, right, -10;
		}
	}
}

@media (--large-desktop) {
	.cbx-exit {
		@mixin box-shadow xl, big-out;
		@mixin viewport xl, min-height, 180;
		@mixin viewport xl, width, 220;
		&[m-visible="true"] {
			& .exit-description {
				@mixin viewport xl, padding, 10;
			}
		}
		& .exit-main {
			@mixin border-radius xl;
		}
		& .exit-description {
			& .cbx-legal {
				@mixin viewport xl, margin-bottom, 15;
			}
		}
		& .exit-cta {
			@mixin viewport xl, height, 40;
		}
		& > .cbx-icon {
			@mixin viewport xl, top, -10;
			@mixin viewport xl, right, -10;
		}
	}
}

@media (--full) {
	.cbx-exit {
		@mixin box-shadow xxl, big-out;
		@mixin viewport xxl, min-height,  180;
		@mixin viewport xxl, width,  220;
		&[m-visible="true"] {
			& .exit-description {
				@mixin viewport xxl, padding,  10;
			}
		}
		& .exit-main {
			@mixin border-radius xxl;
		}
		& .exit-description {
			& .cbx-legal {
				@mixin viewport xxl, margin-bottom,  15;
			}
		}
		& .exit-cta {
			@mixin viewport xxl, height,  40;
		}
		& > .cbx-icon {
			@mixin viewport xxl, top,  -10;
			@mixin viewport xxl, right,  -10;
		}
	}
}