@import '../../mixins.pcss';

.cbx-tabs {
	& .tabs-menu {
		display: flex;
		@mixin viewport xs, padding, 20;
		& .menu-item {
			&:not(:last-child) {
				@mixin viewport xs, margin-right, 20;
			}
		}
	}
}
@media (width >= 768px) {
	.cbx-tabs {
		& .tabs-menu {
			padding: 20px;
			& .menu-item {
				&:not(:last-child) {
					margin-right: 20px;
				}
			}
		}
	}
}

@media (width >= 1024px) {
	.cbx-tabs {
		& .tabs-menu {
			@mixin viewport lg, padding, 20;
			& .menu-item {
				&:not(:last-child) {
					margin-right: 2viewport (lg, 20);
				}
			}
		}
	}
}
@media (width >= 1280px) {
	.cbx-tabs {
		& .tabs-menu {
			@mixin viewport lg, padding, 20;
			& .menu-item {
				&:not(:last-child) {
					margin-right: 2viewport (xl, 20);
				}
			}
		}
	}
}

@media (width >= 1440px) {
	.cbx-tabs {
		& .tabs-menu {
			@mixin viewport xxl, padding,  20;
			& .menu-item {
				&:not(:last-child) {
					@mixin viewport xxl, margin-right, 20;
				}
			}
		}
	}
}