<section class="cbx-compare-modal" m-open="false" m-visible="false">
    <button class="cbx-icon close-down" m-size="10" m-mody="flat icon-bold">
        <i class="icon-angle-down-o"></i>
    </button>
    <div class="cbx-wrapper content-cards">
        <div class="cbx-credit-card" m-active="true" m-theme="whi m-mody="close-bottom">
            <figure class="cbx-img">
                <img src="./img/bsmart_2x.png" />
            </figure>
            <button class="credit-button">
                <span class="cbx-icon" m-size="20" m-mody="circle border icon-bold">
                    <i class="icon-close-o"></i>
                </span>
            </button>
        </div>
        <div class="cbx-credit-card" m-active="false" m-theme="white" m-mody="close-bottom">
            <figure class="cbx-img">
                <img src="./img/bsmart_2x.png" />
            </figure>
            <button class="credit-button">
                <span class="cbx-icon" m-size="20" m-mody="circle border icon-bold">
                    <i class="icon-close-o"></i>
                </span>
            </button>
        </div>
        <div class="cbx-credit-card" m-active="false" m-theme="white" m-mody="close-bottom">
            <figure class="cbx-img">
                <img src="./img/bsmart_2x.png" />
            </figure>
            <button class="credit-button">
                <span class="cbx-icon" m-size="20" m-mody="circle border icon-bold">
                    <i class="icon-close-o"></i>
                </span>
            </button>
        </div>
        <button class="cbx-button" type="button" m-mody="raised">Comparar</button>
    </div>
</section>