@import '../../mixins.pcss';

.cbx-compare-modal {
	@mixin rgba background-color, var(--black), 0.8;
	@mixin viewport xs, bottom, -74;
	position: fixed;
	z-index: 1;
	width: 100%;
	@mixin viewport xs, height, 100;
	transition: bottom 350ms ease-in-out;
	display: flex;
	align-items: center;

	& .close-down {
		@mixin absolute center-horizontal;
		top: 0;
		@mixin viewport xs, height, 30;
		width: 100%;
		pointer-events: auto;
	}
	& .cbx-wrapper {
		padding: 0;
	}

	&[m-open="true"] {
		bottom: 0;
		& .close-down {
			& .icon-angle-down-o {
				&:before {
					content: "\65";
				}
			}
		}
	}

	&[m-open="false"] {
		& .close-down {
			& .icon-angle-down-o {
				&:before {
					content: "\6b";
				}
			}
		}
	}

	& .content-cards {
		display: flex;
		justify-content: space-around;
		align-items: center;
		flex-wrap: wrap;
		& .cbx-button {
			min-width: auto;
			@mixin viewport xs, width, 80;
			@mixin viewport xs, height, 45;
			@mixin viewport xs, margin, 10;
		}
	}
	& .cbx-credit-card {
		& .cbx-img {
			@mixin viewport xs, width, 80;
			@mixin viewport xs, height, 45;
		}
		&:nth-child(3) {
			display: none;
		}
		& .cbx-img {
			background: none;
			& img {
				background: none;
			}
		}
		&[m-active="false"] {
			pointer-events: none;
			& .credit-button {
				display: none;
			}
		}
	}
}

@media (--portrait) {
	.cbx-compare-modal {
		height: 100px;
		bottom: -74px;
		& .close-down {
			height: 30px;
		}
		& .cbx-credit-card {
			&:nth-child(3) {
				display: block;
			}
		}
		& .content-cards {
			& .cbx-button {
				margin: 0;
				width: 220px;
				height: 40px;
			}
		}
	}
}
@media (--small-desktop) {
	.cbx-compare-modal {
		@mixin viewport lg, height, 180;
		@mixin viewport lg, bottom, -130;
		& .close-down {
			@mixin viewport lg, height, 50;
		}
		& .content-cards {
			& .cbx-button {
				@mixin viewport lg, width, 220;
				@mixin viewport lg, height, 45;
			}
		}
	}
}

@media (--large-desktop) {
	.cbx-compare-modal {
		@mixin viewport xl, height, 180;
		@mixin viewport xl, bottom, -145;
		& .close-down {
			@mixin viewport xl, height, 50;
		}
		& .content-cards {
			& .cbx-button {
				@mixin viewport xl, width, 220;
				@mixin viewport xl, height, 45;
			}
		}
	}
}
@media (--full) {
	.cbx-compare-modal {
		@mixin viewport xxl, height,  180;
		@mixin viewport xxl, bottom,  -145;
		& .close-down {
			@mixin viewport xxl, height,  50;
		}
		& .content-cards {
			& .cbx-button {
				@mixin viewport xxl, width,  220;
				@mixin viewport xxl, height,  45;
			}
		}
	}
}