.cbx-compare-modal {
	@mixin rgba background-color, var(--black), 0.8;
	bottom: viewport(xs, -74);
	position: fixed;
	z-index: 1;
	width: 100%;
	height: viewport(xs, 100);
	transition: bottom 350ms ease-in-out;
	display: flex;
	align-items: center;

	.close-down {
		position: absolute;
		top: 0;
		left: 50%;
		transform: translateX(-50%);
		height: viewport(xs, 30);
		width: 100%;
		pointer-events: auto;
	}
	.cbx-wrapper {
		padding: 0;
	}

	&[m-open="true"] {
		bottom: 0;
		.close-down {
			.icon-angle-down-o {
				&:before {
					content: "\65";
				}
			}
		}
	}

	&[m-open="false"] {
		.close-down {
			.icon-angle-down-o {
				&:before {
					content: "\6b";
				}
			}
		}
	}

	.content-cards {
		display: flex;
		justify-content: space-around;
		align-items: center;
		flex-wrap: wrap;
		.cbx-button {
			min-width: auto;
			width: viewport(xs, 80);
			height: viewport(xs, 45);
			margin: viewport(xs, 10);
		}
	}
	.cbx-credit-card {
		.cbx-img {
			width: viewport(xs, 80);
			height: viewport(xs, 45);
		}
		&:nth-child(3) {
			display: none;
		}
		.cbx-img {
			background: none;
			img {
				background: none;
			}
		}
		&[m-active="false"] {
			pointer-events: none;
			.credit-button {
				display: none;
			}
		}
	}
}

@media width >= 768px {
	.cbx-compare-modal {
		height: 100px;
		bottom: -74px;
		.close-down {
			height: 30px;
		}
		.cbx-credit-card {
			&:nth-child(3) {
				display: block;
			}
		}
		.content-cards {
			.cbx-button {
				margin: 0;
				width: 220px;
				height: 40px;
			}
		}
	}
}
@media width >= 1024px {
	.cbx-compare-modal {
		height: viewport(lg, 180);
		bottom: viewport(lg, -130);
		.close-down {
			height: viewport(lg, 50);
		}
		.content-cards {
			.cbx-button {
				width: viewport(lg, 220);
				height: viewport(lg, 45);
			}
		}
	}
}

@media width >= 1280px {
	.cbx-compare-modal {
		height: viewport(xl, 180);
		bottom: viewport(xl, -145);
		.close-down {
			height: viewport(xl, 50);
		}
		.content-cards {
			.cbx-button {
				width: viewport(xl, 220);
				height: viewport(xl, 45);
			}
		}
	}
}
@media width >= 1440px {
	.cbx-compare-modal {
		height: viewport(xxl, 180);
		bottom: viewport(xxl, -145);
		.close-down {
			height: viewport(xxl, 50);
		}
		.content-cards {
			.cbx-button {
				width: viewport(xxl, 220);
				height: viewport(xxl, 45);
			}
		}
	}
}
