<section class="cbx-hero" m-theme="white">
    <picture class="cbx-img">
        <source media="(max-width: 767px)" srcset="/views/components/molecules/cbx-hero/img/hero-image-mobile.jpg" />
        <source media="(min-width: 768px)" srcset="/views/components/molecules/cbx-hero/img/hero-image-desktop.jpg" />
        <img src="/views/components/molecules/cbx-hero/img/hero-image-desktop.jpg" alt="" />
    </picture>
    <div class="hero-labels">
        <div class="content-hero">
            <p class="cbx-category">CONTRATA EN LÍNEA</p>
            <p class="cbx-headline-hero">Productos para simplificar tu vida</p>
        </div>
        <button class="cbx-button" type="button" m-mody="raised">Hazte cliente</button>
    </div>
</section>

<br /><br />

<section class="cbx-hero" m-mody="without-button">
    <picture class="cbx-img">
        <source media="(max-width: 767px)" srcset="/views/components/molecules/cbx-hero/img/hero-image-mobile.jpg" />
        <source media="(min-width: 768px)" srcset="/views/components/molecules/cbx-hero/img/hero-image-desktop.jpg" />
        <img src="/views/components/molecules/cbx-hero/img/hero-image-desktop.jpg" alt="" />
    </picture>
    <div class="hero-labels">
        <div class="content-hero">
            <p class="cbx-category">CONTRATA EN LÍNEA</p>
            <p class="cbx-headline-hero">Productos para simplificar tu vida</p>
        </div>
    </div>
</section>

<br /><br />

<section class="cbx-hero" m-mody="card">
    <picture class="cbx-img">
        <source media="(max-width: 767px)" srcset="/views/components/molecules/cbx-hero/img/hero-image-mobile.jpg" />
        <source media="(min-width: 768px)" srcset="/views/components/molecules/cbx-hero/img/hero-image-desktop.jpg" />
        <img src="/views/components/molecules/cbx-hero/img/hero-image-desktop.jpg" alt="" />
    </picture>
    <div class="hero-labels">
        <div class="content-hero">
            <p class="cbx-category">CONTRATA EN LÍNEA</p>
            <p class="cbx-headline-hero">Productos para simplificar tu vida</p>
        </div>
    </div>
    <figure class="cbx-img hero-card">
        <img src="" alt="" />
    </figure>
</section>