@import '../../mixins.pcss';

html {
	&[m-browser="ie"] {
		.cbx-hero {
			&[m-mody="without-button"] {
				@mixin viewport xs, height, 400;
			}
			& > .cbx-img {
				overflow-y: hidden;
				& img {
					height: auto;
				}
			}
		}
	}
}

.cbx-hero {
	position: relative;
	@mixin viewport xs, height, 220;
	width: 100%;
	&[m-mody="without-button"] {
		height: 100%;
		& .hero-labels {
			& .content-hero {
				& .cbx-headline-hero {
					margin-bottom: 0;
				}
			}
		}
	}
	&[m-mody="card"] {
		& .hero-labels {
			& .content-hero {
				transform: none;
				& > * {
					&:last-of-type {
						margin-bottom: 0;
					}
				}
			}
		}
		& .hero-card {
			@mixin absolute center-horizontal;
			@mixin border-radius xs;
			overflow: hidden;
			bottom: 0;
			@mixin viewport xs, width, 185;
			@mixin viewport xs, height, 115;
		}
	}

	& > .cbx-img:not(.hero-card) {
		width: 100%;
		@mixin viewport xs, height, 200;
	}
	& .hero-labels {
		& .content-hero {
			@mixin absolute center-vertical;
			@mixin viewport xs, left, 20;
			@mixin viewport xs, width, 280;
			& .cbx-category,
			& .cbx-headline-hero {
				@mixin viewport xs, margin-bottom, 20;
			}
		}
		& .cbx-button {
			@mixin absolute center-horizontal;
			bottom: 0;
		}
	}
}

@media (width <= 767px) {
	.cbx-hero {
		&[m-mody="card"] {
			@mixin viewport xs, height, 285;
			& .hero-labels {
				& .content-hero {
					@mixin viewport xs, top, 30;
				}
			}
		}
	}
}

@media (--portrait) {
	.cbx-hero {
		height: 276px;
		&[m-mody="card"] {
			& .hero-card {
				transform: none;
				@mixin border-radius sm;
				right: 50px;
				bottom: 30px;
				left: auto;
				width: 120px;
				height: 75px;
			}
		}
		& > .cbx-img:not(.hero-card) {
			height: inherit;
			& img {
				height: inherit;
				object-fit: cover;
			}
		}
		& .hero-labels {
			@mixin absolute center-vertical;
			left: 44px;
			width: 55%;
			& .content-hero {
				width: 100%;
				& .cbx-category,
				& .cbx-headline-hero {
					margin-bottom: 20px;
				}
				position: static;
				left: 0;
				top: 0;
				transform: none;
				& .cbx-category {
					margin-bottom: 20px;
				}
				& .cbx-headline-hero {
					margin-bottom: 20px;
				}
			}
			& .cbx-button {
				position: static;
				bottom: 0;
				left: 0;
				transform: none;
			}
		}
	}
}

@media (--small-desktop) {
	.cbx-hero {
		@mixin viewport lg, height, 368;
		&[m-mody="card"] {
			& .hero-card {
				@mixin border-radius lg;
				@mixin viewport lg, right, 90;
				@mixin viewport lg, bottom, 40;
				@mixin viewport lg, width, 240;
				@mixin viewport lg, height, 150;
			}
		}
		& .hero-labels {
			@mixin viewport lg, left, 32;
			& .content-hero {
				& .cbx-category,
				& .cbx-headline-hero {
					@mixin viewport lg, margin-bottom, 20;
				}
			}
		}
	}
}

@media (--large-desktop) {
	.cbx-hero {
		@mixin viewport xl, height, 400;
		&[m-mody="card"] {
			& .hero-card {
				@mixin border-radius xl;
				@mixin viewport xl, right, 90;
				@mixin viewport xl, bottom, 40;
				@mixin viewport xl, width, 240;
				@mixin viewport xl, height, 150;
			}
		}
		& .hero-labels {
			@mixin viewport xl, left, 140;
			& .content-hero {
				& .cbx-category,
				& .cbx-headline-hero {
					@mixin viewport xl, margin-bottom, 20;
				}
			}
		}
	}
}

@media (--full) {
	.cbx-hero {
		@mixin viewport xxl, height,, 400;
		&[m-mody="card"] {
			& .hero-card {
				@mixin border-radius xxl;
				@mixin viewport xxl, right,, 90;
				@mixin viewport xxl, bottom,, 40;
				@mixin viewport xxl, width,, 240;
				@mixin viewport xxl, height,, 150;
			}
		}
		& .hero-labels {
			@mixin viewport xxl, left,, 140;
			& .content-hero {
				& .cbx-category,
				& .cbx-headline-hero {
					@mixin viewport xxl, margin-bottom,, 20;
				}
			}
		}
	}
}