.cbx-hero {
	&[m-theme="white"] {
		& .hero-labels {
			& .cbx-category,
			& .cbx-headline-hero {
				@mixin text-shadow xs;
				color: var(--white);
			}
		}
	}
}

@media (--portrait) {
	.cbx-hero {
		&[m-theme="white"] {
			& .hero-labels {
				& .cbx-category,
				& .cbx-headline-hero {
					@mixin text-shadow sm;
				}
			}
		}
	}
}

@media (--small-desktop) {
	.cbx-hero {
		&[m-theme="white"] {
			& .hero-labels {
				& .cbx-category,
				& .cbx-headline-hero {
					@mixin text-shadow lg;
				}
			}
		}
	}
}
@media (--large-desktop) {
	.cbx-hero {
		&[m-theme="white"] {
			& .hero-labels {
				& .cbx-category,
				& .cbx-headline-hero {
					@mixin text-shadow xl;
				}
			}
		}
	}
}
@media (--full) {
	.cbx-hero {
		&[m-theme="white"] {
			& .hero-labels {
				& .cbx-category,
				& .cbx-headline-hero {
					@mixin text-shadow xxl;
				}
			}
		}
	}
}
