.cbx-hero {
	&[m-theme="white"] {
		& .hero-labels {
			& .cbx-category,
			& .cbx-headline-hero {
				@mixin text-shadow xs;
				color: var(--white);
			}
		}
	}
}

@media (width >= 768px) {
	.cbx-hero {
		&[m-theme="white"] {
			& .hero-labels {
				& .cbx-category,
				& .cbx-headline-hero {
					@mixin text-shadow sm;
				}
			}
		}
	}
}

@media (width >= 1024px) {
	.cbx-hero {
		&[m-theme="white"] {
			& .hero-labels {
				& .cbx-category,
				& .cbx-headline-hero {
					@mixin text-shadow lg;
				}
			}
		}
	}
}
@media (width >= 1280px) {
	.cbx-hero {
		&[m-theme="white"] {
			& .hero-labels {
				& .cbx-category,
				& .cbx-headline-hero {
					@mixin text-shadow xl;
				}
			}
		}
	}
}
@media (width >= 1440px) {
	.cbx-hero {
		&[m-theme="white"] {
			& .hero-labels {
				& .cbx-category,
				& .cbx-headline-hero {
					@mixin text-shadow xxl;
				}
			}
		}
	}
}
