.cbx-modal {
	display: block;
	width: 100%;
	height: 100px;
	overflow: hidden;
	position: fixed;
	top: -400%;
	transition: top 350ms ease-in-out, height 350ms ease-in-out;
	z-index: 4;

	.cbx-modal-content {
		@include box-shadow("xs", "big-out");
		border-radius: borderRadius(xs);
		padding: viewport(xs, 20);
		width: viewport(xs, 280);
		margin: viewport(xs, 40) auto;
		background-color: var(--white);

		.modal-head {
			margin-bottom: viewport(xs, 20);
			display: flex;
			align-items: center;
			justify-content: space-between;

			.cbx-hightlight {
				color: var(--light-gray);
			}
		}
	}

	&[m-open=true] {
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		height: auto;
		overflow-x: hidden;
		overflow-y: auto;

	}
}

@media width >= 768px {
	.cbx-modal {
		.cbx-modal-content {
			@include box-shadow("sm", "big-out");
			border-radius: borderRadius(sm);
			padding: 20px;
			width: 680px;
			margin: 40px auto;

			.modal-head {
				margin-bottom: 20px;
			}
		}
	}
}

@media width >= 1024px {
	.cbx-modal {
		.cbx-modal-content {
			@include box-shadow("lg", "big-out");
			border-radius: borderRadius(lg);
			padding: viewport(lg, 20);
			width: viewport(lg, 680);
			margin: viewport(lg, 40) auto;

			.modal-head {
				margin-bottom: viewport(lg, 20);
			}
		}

	}
}

@media width >= 1280px {
	.cbx-modal {
		.cbx-modal-content {
			@include box-shadow("xl", "big-out");
			border-radius: borderRadius(xl);
			padding: viewport(xl, 20);
			width: viewport(xl, 680);
			margin: viewport(xl, 40) auto;

			.modal-head {
				margin-bottom: viewport(xl, 20);
			}
		}
	}
}

@media width >= 1440px {
	.cbx-modal {
		.cbx-modal-content {
			@include box-shadow("xxl", "big-out");
			border-radius: borderRadius(xxl);
			padding: viewport(xxl, 20);
			width: viewport(xxl, 680);
			margin: viewport(xxl, 40) auto;

			.modal-head {
				margin-bottom: viewport(xxl, 20);
			}
		}
	}
}