<section class="cbx-cookies" m-open="false">
    <div class="cookie-content">
        <span class="cbx-icon" type="button" m-size="30" m-mody="border circle icon-bold">
            <i class="icon-close-o"></i>
        </span>
        <p class="cbx-legal">
            En este sitio utilizamos cookies para mostrar a los usuarios publicidad relacionada con sus preferencias. Si continúa navegando, entendemos que otorga aceptación plena y sin reservas de todas y cada una de las disposiciones respecto a los “Medios
            automáticos para recabar datos personales” descritos en nuestro 
            <a class="cbx-link" m-mody="inherit-size" m-cursor="m-cursor" metrics-lid="/es/privacidad_portal.htm?TextoCookie-Information-irAvisoDePrivacidad">Aviso de Privacidad</a>
        </p>
        <button class="cbx-icon" type="button" m-size="30" m-mody="border circle icon-bold">
            <i class="icon-info-o"></i>
        </button>
    </div>
</section>