@import '../../mixins.pcss';

.cbx-cookies {
	background-color: var(--background-gray);
	& .cookie-content {
		display: flex;
		padding: {
			@mixin viewport xs, top, 20;
			@mixin viewport xs, right, 10;
			@mixin viewport xs, bottom, 20;
			@mixin viewport xs, left, 10;
		}
		& .cbx-icon {
			&:last-child {
				color: inherit;
				&[m-mody~="border"] {
					border-color: inherit;
				}
			}
		}
	}
	& .cbx-legal {
		padding: {
			@mixin viewport xs, top, 0;
			@mixin viewport xs, right, 10;
			@mixin viewport xs, bottom, 0;
			@mixin viewport xs, left, 10;
		}
		font-family: var(--font-b);
		@mixin viewport xs, font-size, 10;
		line-height: 1& .5;
	}
}

@media (width >= 768px) {
	.cbx-cookies {
		& .cookie-content {
			padding: 20px 10px;
		}
		& .cbx-legal {
			font-size: 10px;
			padding: {
				right: 10px;
				left: 10px;
			}
		}
	}
}

@media (width <= 1023px) {
	.cbx-cookies {
		@mixin transition bottom;
		position: fixed;
		bottom: -100vh;
		z-index: 4;
		width: 100%;
		&[m-open="true"] {
			bottom: 0;
		}
	}
}

@media (width >= 1024px) {
	.cbx-cookies {
		width: 100%;
		overflow: hidden;
		&[m-open="true"] {
			& .cookie-content {
				@mixin viewport lg, height, 70;
			}
		}
		& .cookie-content {
			@mixin transition height;
			align-items: center;
			height: 0;
			padding: {
				@mixin viewport lg, top, 0;
				@mixin viewport lg, right, 10;
				@mixin viewport lg, bottom, 0;
				@mixin viewport lg, left, 10;
			}
		}
		& .cbx-legal {
			@mixin viewport lg, font-size, 12;
			padding: {
				@mixin viewport lg, right, 10;
				@mixin viewport lg, left, 10;
			}
		}
	}
}

@media (width >= 1280px) {
	.cbx-cookies {
		&[m-open="true"] {
			& .cookie-content {
				@mixin viewport xl, height, 70;
			}
		}
		& .cookie-content {
			margin: auto;
			@mixin viewport xl, max-width, 1100;
			padding: {
				@mixin viewport xl, right, 10;
				@mixin viewport xl, left, 10;
			}
		}
		& .cbx-legal {
			@mixin viewport xl, font-size, 12;
			padding: {
				@mixin viewport xl, right, 10;
				@mixin viewport xl, left, 10;
			}
		}
	}
}

@media (width >= 1440px) {
	.cbx-cookies {
		&[m-open="true"] {
			& .cookie-content {
				@mixin viewport xxl, height,, 70;
			}
		}
		& .cookie-content {
			@mixin viewport xxl, max-width,, 1100;
			padding: {
				@mixin viewport xxl, right, 10;
				@mixin viewport xxl, left, 10;
			}
		}
		& .cbx-legal {
			@mixin viewport xxl, font-size,, 12;
			padding: {
				@mixin viewport xxl, right, 10;
				@mixin viewport xxl, left, 10;
			}
		}
	}
}