<section class="cbx-apps-promo">
	<picture class="cbx-img">
		<source media="(min-width: )" srcset="" />
		<img src="" alt="" />
	</picture>
	<article class="cbx-card" m-mody="c-stamp c-stamp-only c-app">
		<div class="card-content">
			<figure class="cbx-img card-stamp">
				<img src="img/stamp.png" alt="" />
			</figure>
			<div class="card-description">
				<p class="cbx-sub-category">PREVENTA CITIBANAMEX</p>
				<p class="cbx-title">Label template</p>
				<p class="cbx-text">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
				<div class="cbx-apps">
					<button type="button" m-mody="apple" m-web="true" m-exit="">
						<figure class="cbx-img">
							<img src="/views/components/molecules/cbx-apps/img/app-store.png" alt=""/>
						</figure>
					</button>
					<button type="button" m-mody="google" m-web="true">
						<figure class="cbx-img">
							<img src="/views/components/molecules/cbx-apps/img/google-play-store.png" alt=""/>
						</figure>
					</button>
				</div>
			</div>
		</div>
	</article>
</section>