@import "../../mixins.pcss";

.cbx-apps-promo {
	& > .cbx-img {
		@mixin viewport xs, min-height, 270;
		img {
			height: 100%;
			object-fit: cover;
		}
	}
	& .cbx-card {
		width: 100%;
		box-shadow: none;
	}
}

@media (--portrait) {
	.cbx-apps-promo {
		position: relative;
		& > .cbx-img {
			min-height: 270px;
		}
		& .cbx-card {
			@mixin absolute center-vertical;
			right: 100px;
		}
	}
}

@media (--small-desktop) {
	.cbx-apps-promo {
		& > .cbx-img {
			@mixin viewport lg, min-height, 270;
		}
		& .cbx-card {
			@mixin viewport lg, right, 100;
			&:hover {
				box-shadow: none !important;
			}
		}
	}
}

@media (--large-desktop) {
	.cbx-apps-promo {
		& > .cbx-img {
			@mixin viewport xl, min-height, 270;
		}
		& .cbx-card {
			@mixin viewport xl, right, 225;
		}
	}
}

@media (--full) {
	.cbx-apps-promo {
		& > .cbx-img {
			@mixin viewport xxl, min-height, 270;
		}
		& .cbx-card {
			@mixin viewport xxl, right, 225;
		}
	}
}
