br
br
br

div(class="cbx-bullet-list")
    span(class="cbx-icon" m-mody="")
        i(class="icon-angle-right-s")


br
br
br

div(class="cbx-bullet-list")
    p(class="cbx-hightlight")
        |1
br
br
br
div(class="cbx-bullet-list" m-theme="gray")
    span(class="cbx-icon" m-mody="")
        i(class="icon-angle-right-s")


br
br
br

div(class="cbx-bullet-list" m-theme="gray")
    p(class="cbx-hightlight" )
        |1
br
br
br
|Circle white
div(class="cbx-bullet-list" m-mody="circle")
    span(class="cbx-icon")
        i(class="icon-angle-right-s")
br
br
br
br
|Circle gray
div(class="cbx-bullet-list" m-mody="circle" m-theme="gray")
    span(class="cbx-icon")
        i(class="icon-angle-right-s")

br
br
br
br
br
|Circle blue
div(class="cbx-bullet-list" m-mody="circle" m-theme="blue")
    span(class="cbx-icon")
        i(class="icon-angle-right-s")

br
br
br
div(class="cbx-bullet-list" m-mody="circle" m-theme="blue")
    p(class="cbx-hightlight" )
        |1


