.cbx-bullet-list{
    &[m-theme=gray]{
        background-color: var(--background-gray);
    }
    &[m-theme=blue]{
        background-color: var(--soft-blue);
        i,p{
            color: var(--white);
        }
    }
}