@import '../../mixins.pcss';

.cbx-info {
	& .info-item {
		@mixin viewport xs, margin-bottom, 20;
		&:last-child {
			margin-bottom: 0;
		}
	}
	& .cbx-title,
	& .cbx-text {
		@mixin viewport xs, margin-bottom, 20;
	}
	& .cbx-title {
		@mixin viewport xs, padding-top, 20;
		border-top: {
			@mixin viewport xs, width, 3;
			style: solid;
			color: var(--background-gray);
		}
	}
	& .cbx-text {
		&:last-of-type {
			margin-bottom: 0;
		}
	}
}

@media (--portrait) {
	.cbx-info {
		display: flex;
		justify-content: space-around;
		& .info-item {
			margin-bottom: 0;
			flex-grow: 1;
			flex-shrink: 0;
			flex-basis: 0;
			margin-right: 20px;
			&:last-child {
				margin-right: 0;
			}
		}
		& .cbx-title,
		& .cbx-text {
			margin-bottom: 20px;
		}
		& .cbx-title {
			padding-top: 20px;
			border-top-width: 3px;
		}
	}
}

@media (--small-desktop) {
	.cbx-info {
		& .info-item {
			@mixin viewport lg, margin-right, 20;
		}
		& .cbx-title,
		& .cbx-text {
			@mixin viewport lg, margin-bottom, 20;
		}
		& .cbx-title {
			@mixin viewport lg, padding-top, 20;
			@mixin viewport lg, border-top-width, 3;
		}
	}
}

@media (--large-desktop) {
	.cbx-info {
		& .info-item {
			@mixin viewport xl, margin-right, 20;
		}
		& .cbx-title,
		& .cbx-text {
			@mixin viewport xl, margin-bottom, 20;
		}
		& .cbx-title {
			@mixin viewport xl, padding-top, 20;
			@mixin viewport xl, border-top-width, 3;
		}
	}
}

@media (--full) {
	.cbx-info {
		& .info-item {
			@mixin viewport xxl, margin-right,  20;
		}
		& .cbx-title,
		& .cbx-text {
			@mixin viewport xxl, margin-bottom,  20;
		}
		& .cbx-title {
			@mixin viewport xxl, padding-top,  20;
			@mixin viewport xxl, border-top-width,  3;
		}
	}
}
