<section class="cbx-steps">
    <picture class="cbx-img">
        <source media="(min-width: )" srcset="" />
		<img src="" alt="" />
	</picture>
    <article class="steps-info">
        <div class="steps-title">
            <p class="cbx-title">¿Cómo empiezo a utilizar Citibanamex Pay?</p>
        </div>
        <div class="steps-content">
            <ul class="cbx-list-square">
                <li class="list-item">
                    <div class="cbx-bullet-list">
                        <p class="cbx-hightlight">1</p>
                    </div>
                    <div class="text-content">
                        <p class="cbx-text">Descarga la aplicación en tu celular y acepta los términos y condiciones</p>
                    </div>
                </li>
                <li class="list-item">
                    <div class="cbx-bullet-list">
                        <p class="cbx-hightlight">2</p>
                    </div>
                    <div class="text-content">
                        <p class="cbx-text">Ingresa tu número de cliente y contraseña de citibanamex Móvil o BancaNet<sup>(1)</sup></p>
                    </div>
                </li>
                <li class="list-item">
                    <div class="cbx-bullet-list">
                        <p class="cbx-hightlight">3</p>
                    </div>
                    <div class="text-content">
                        <p class="cbx-text">Ingresa una Clave Dinámica<sup>(2)</sup></p>
                    </div>
                </li>
                <li class="list-item">
                    <div class="cbx-bullet-list">
                        <p class="cbx-hightlight">4</p>
                    </div>
                    <div class="text-content">
                        <p class="cbx-text">Crea un PIN de seguridad</p>
                    </div>
                </li>
            </ul>
			<a class="cbx-link" href="">Descubre lo que puedes hacer</a>
            <div class="cbx-tip">
				<span class="cbx-icon" m-mody="icon-bold">
					<i class="icon-tip-o"></i>
				</span>
                <div class="text-content">
                    <p class="cbx-text" m-font="bold">¿Qué pasa si no he verificado mi celular?</p>
                    <p class="cbx-text">*En tu primer inicio de sesión se te solicitará ingresar tu celular y verificarlo con el código SMS que recibirás.</p>
                </div>
            </div>
        </div>
    </article>
</section>
<section class="cbx-steps" m-mody="only-steps">
    <article class="steps-info">
        <div class="steps-content">
            <ul class="cbx-list-square">
                <li class="list-item">
                    <div class="cbx-bullet-list" m-mody="circle" m-theme="blue">
                        <p class="cbx-hightlight">1</p>
                    </div>
                    <div class="text-content">
                        <div class="item-content">
                            <p class="cbx-title">Descarga la aplicación en tu celular y acepta los términos y condiciones</p>
                            <p class="cbx-text">Descarga la aplicación en tu celular y acepta los términos y condiciones</p>
                        </div>
                        <div class="sub-item-content">
                            <ul class="cbx-list">
                                <li class="list-item">
                                    <div class="text-content">
                                        <p class="cbx-title">Subcontent</p>
                                        <p class="cbx-text">Subcontent</p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </li>
                <li class="list-item">
                    <div class="cbx-bullet-list" m-mody="circle" m-theme="blue">
                        <p class="cbx-hightlight">2</p>
                    </div>
                    <div class="text-content">
                        <p class="cbx-title">Ingresa tu número de cliente y contraseña de citibanamex Móvil o BancaNet</p>
                        <p class="cbx-text">Ingresa tu número de cliente y contraseña de citibanamex Móvil o BancaNet<sup>(1)</sup></p>
                    </div>
                </li>
                <li class="list-item">
                    <div class="cbx-bullet-list" m-mody="circle" m-theme="blue">
                        <p class="cbx-hightlight">3</p>
                    </div>
                    <div class="text-content">
                        <p class="cbx-title">Ingresa una Clave Dinámica</p>
                        <p class="cbx-text">Ingresa una Clave Dinámica<sup>(2)</sup></p>
                    </div>
                </li>
                <li class="list-item">
                    <div class="cbx-bullet-list" m-mody="circle" m-theme="blue">
                        <p class="cbx-hightlight">4</p>
                    </div>
                    <div class="text-content">
                        <p class="cbx-title">Crea un PIN de seguridad</p>
                        <p class="cbx-text">Crea un PIN de seguridad</p>
                    </div>
                </li>
            </ul>
        </div>
    </article>
</section>