- Fill (20px)
<br />
<span class="cbx-icon" m-size="20" m-mody="fill">
    <i class="icon-angle-right-s"></i>
</span>

<br />

- Fill (30px)
<br />
<span class="cbx-icon" m-size="30" m-mody="fill">
    <i class="icon-angle-right-s"></i>
</span>

<br />

- Fill (40px)
<br />
<span class="cbx-icon" m-size="40" m-mody="fill">
    <i class="icon-angle-right-s"></i>
</span>

<br />

- Fill (50px)
<br />
<span class="cbx-icon" m-size="50" m-mody="fill">
    <i class="icon-angle-right-s"></i>
</span>

<br />

- Border (16px)
<br />
<span class="cbx-icon" m-size="20" m-mody="border">
    <i class="icon-angle-right-s"></i>
</span>

<br />

-Border (30px)
<br />
<span class="cbx-icon" m-size="30" m-mody="border">
    <i class="icon-angle-right-s"></i>
</span>

<br />

- Border (40px)
<br />
<span class="cbx-icon" m-size="40" m-mody="border">
    <i class="icon-angle-right-s"></i>
</span>

<br />

- Border (50px)
<br />
<span class="cbx-icon" m-size="50" m-mody="border">
    <i class="icon-angle-right-s"></i>
</span>

<br />

- Border + icon-bold (50px)
<br />
<span class="cbx-icon" m-size="50" m-mody="border icon-bold">
    <i class="icon-angle-right-s"></i>
</span>

<br />

- Circle + Fill (16px)
<br />
<span class="cbx-icon" m-size="20" m-mody="fill circle icon-bold">
    <i class="icon-angle-right-s"></i>
</span>

<br />

- Circle + Fill (30px)
<br />
<span class="cbx-icon" m-size="30" m-mody="fill circle">
    <i class="icon-angle-right-s"></i>
</span>

<br />

- Circle + Fill (40px)
<br />
<span class="cbx-icon" m-size="40" m-mody="fill circle">
    <i class="icon-angle-right-s"></i>
</span>

<br />

-Circle + Fill (50px)
<br />
<span class="cbx-icon" m-size="50" m-mody="fill circle">
    <i class="icon-angle-right-s"></i>
</span>

<br />

- Circle + Border (16px)
<br />
<span class="cbx-icon" m-size="20" m-mody="border circle">
    <i class="icon-angle-right-s"></i>
</span>

<br />

-
Circle + Border (30px)
<br />
<span class="cbx-icon" m-size="30" m-mody="border circle">
    <i class="icon-angle-right-s"></i>
</span>

<br />

- Circle + Border (40px)
<br />
<span class="cbx-icon" m-size="40" m-mody="border circle">
    <i class="icon-angle-right-s"></i>
</span>

<br />

- Circle + Border (50px)
<br />
<span class="cbx-icon" m-size="50" m-mody="border circle">
    <i class="icon-angle-right-s"></i>
</span>

<br />

- Rounded + Fill (16px)
<br />
<span class="cbx-icon" m-size="20" m-mody="fill rounded">
    <i class="icon-angle-right-s"></i>
</span>

<br />

- Rounded + Fill (30px)
<br />
<span class="cbx-icon" m-size="30" m-mody="fill rounded">
    <i class="icon-angle-right-s"></i>
</span>

<br />

- Rounded + Fill (40px)
<br />
<span class="cbx-icon" m-size="40" m-mody="fill rounded">
    <i class="icon-angle-right-s"></i>
</span>

<br />

- Rounded + Fill (50px)
<br />
<span class="cbx-icon" m-size="50" m-mody="fill rounded">
    <i class="icon-angle-right-s"></i>
</span>

<br />

- Border + Rounded (16px)
<br />
<span class="cbx-icon" m-size="20" m-mody="border rounded">
    <i class="icon-angle-right-s"></i>
</span>

<br />

- Border + Rounded (30px)
<br />
<span class="cbx-icon" m-size="30" m-mody="border rounded">
    <i class="icon-angle-right-s"></i>
</span>

<br />

- Border + Rounded (40px)
<br />
<span class="cbx-icon" m-size="40" m-mody="border rounded">
    <i class="icon-angle-right-s"></i>
</span>

<br />

- Border + Rounded (50px)
<br />
<span class="cbx-icon" m-size="50" m-mody="border rounded">
    <i class="icon-angle-right-s"></i>
</span>

<br />