<div class="cbx-select" m-error="false" m-success="false" m-empty="true">
	<select class="cbx-sub-title" name="">
		<option value="" selected="selected"></option>
		<option value="Todas">Todas</option>
		<option value="Recompensas">Recompensas</option>
		<option value="Viajes">Viajes</option>
		<option value="Compras">Compras</option>
		<option value="Deportes">Deportes</option>
	</select>
	<label class="cbx-sub-title">Todas</label>
	<span class="cbx-icon" m-size="10" m-mody="flat icon-bold">
		<i class="icon-angle-down-o"></i>
	</span>
	<span class="cbx-sub-text">Message</span>
</div>