<br/><br/><br/>

<article class="cbx-card-list">
    <div class="card-list-head">
        <h3 class="cbx-title">Te ayudamos a ingresar a Citibanamex Móvil y BancaNet.</h3>
    </div>
    <div class="card-list-body">
        <p class="cbx-sub-title">¿Qué necesitas?</p>
        <ul class="cbx-list-square">
            <li class="list-item">
                <div class="cbx-bullet-list">
                    <p class="cbx-hightlight">1</p>
                </div>
                <div class="text-content">
                    <p class="cbx-text">
						<span m-font="bold">Tu número de cliente de 4 a 11 dígitos </span>
						<br/>Lo encuentras en tu contrato o estado de cuenta de tus productos Citibanamex.
					</p>
                    <p class="cbx-legal">
						<span m-font="bold">¿No conoces tu número de cliente?</span>
						<br/>
						Solicítalo en cualquier Sucursal Citibanamex con una identificación oficial (INE / IFE o pasaporte) y tu cuenta o tarjeta Citibanamex.
					</p>
                </div>
            </li>
        </ul>
    </div>
    <div class="cbx-footer-list">
		<label class="cbx-check">
			<p class="cbx-text">¿Ya identificaste tu número de cliente, tu celular verificado y/o clave temporal?</p>
			<input class="check" type="radio" value="first"/>
			<span>
				<i class="icon-airplane-s"></i>
			</span>
		</label>
	</div>
</article>

<br/><br/><br/>

<article class="cbx-card-list" m-theme="gray">
    <div class="card-list-head">
        <h3 class="cbx-title">¿Cómo me registro en Citibanamex Móvil?</h3><span class="cbx-icon" m-size="20" m-mody="flat"><i class="icon-angle-right-s"></i></span></div>
    <div class="card-list-body" m-theme="gray">
        <p class="cbx-sub-title">Ingresa usando el celular que verificaste en sucursal o tu clave temporal.</p>
        <ul class="cbx-list-square">
            <li class="list-item">
                <div class="cbx-bullet-list">
                    <p class="cbx-hightlight">1</p>
                </div>
                <div class="text-content">
                    <p class="cbx-text">
						<span m-font="bold">Tu número de cliente de 4 a 11 dígitos </span>
						<br/>Lo encuentras en tu contrato o estado de cuenta de tus productos Citibanamex.
					</p>
                    <p class="cbx-legal">
						<span m-font="bold">¿No conoces tu número de cliente?</span>
						<br/>
						Solicítalo en cualquier Sucursal Citibanamex con una identificación oficial (INE / IFE o pasaporte) y tu cuenta o tarjeta Citibanamex.
					</p>
                </div>
            </li>
        </ul>
    </div>
</article>

<br/><br/><br/>

<article class="cbx-card-list" m-theme="gray" m-mody="img">
    <div class="card-list-head">
        <h3 class="cbx-title">¿Cómo me registro en Citibanamex Móvil?</h3><span class="cbx-icon" m-size="20" m-mody="flat"><i class="icon-angle-right-s"></i></span></div>
    <div class="card-list-body" m-theme="gray">
        <p class="cbx-sub-title">Ingresa usando el celular que verificaste en sucursal o tu clave temporal.</p>
        <ul class="cbx-list-square">
            <li class="container-list-item">
                <div class="list-item">
                    <div class="cbx-bullet-list">
                        <p class="cbx-hightlight">1</p>
                    </div>
                    <div class="text-content">
                        <p class="cbx-text">
							<span m-font="bold">Tu número de cliente de 4 a 11 dígitos </span>
							<br/>Lo encuentras en tu contrato o estado de cuenta de tus productos Citibanamex.
						</p>
                        <p class="cbx-legal">
							<span m-font="bold">¿No conoces tu número de cliente?</span>
							<br/>
							Solicítalo en cualquier Sucursal Citibanamex con una identificación oficial (INE / IFE o pasaporte) y tu cuenta o tarjeta Citibanamex.
						</p>
                    </div>
                </div>
                <figure class="cbx-img">
					<img src="/views/components/molecules/cbx-apps/img/app-store.png" alt="App Store" />
				</figure>
            </li>
        </ul>
    </div>
</article>

<br/><br/><br/><br/><br/>

<article class="cbx-card-list" m-theme="gray" m-mody="img-h">
    <div class="card-list-head">
		<h3 class="cbx-title">¿Cómo me registro en Citibanamex Móvil?</h3>
		<span class="cbx-icon" m-size="20" m-mody="flat">
			<i class="icon-angle-right-s"></i>
		</span>
	</div>
    <div class="card-list-body" m-theme="gray">
        <p class="cbx-sub-title">Ingresa usando el celular que verificaste en sucursal o tu clave temporal.</p>
        <div class="content-flex">
            <ul class="cbx-list-square">
                <li class="container-list-item">
                    <div class="list-item">
                        <div class="cbx-bullet-list">
                            <p class="cbx-hightlight">1</p>
                        </div>
                        <div class="text-content">
                            <p class="cbx-text">
								<span m-font="bold">Tu número de cliente de 4 a 11 dígitos </span>
								<br/>Lo encuentras en tu contrato o estado de cuenta de tus productos Citibanamex.
							</p>
                            <p class="cbx-legal">
								<span m-font="bold">¿No conoces tu número de cliente?</span>
								<br/>
								Solicítalo en cualquier Sucursal Citibanamex con una identificación oficial (INE / IFE o pasaporte) y tu cuenta o tarjeta Citibanamex.
							</p>
                        </div>
                    </div>
                </li>
            </ul>
            <figure class="cbx-img">
				<img src="/views/components/molecules/cbx-card-list/img/que-es_modo-uso_Img.jpg" alt="" />
			</figure>
        </div>
    </div>
</article>

<br/><br/><br/><br/><br/>

<article class="cbx-card-list" m-theme="blue" m-mody="img-h">
    <div class="card-list-head">
		<h3 class="cbx-title">¿Cómo me registro en Citibanamex Móvil?</h3>
		<span class="cbx-icon" m-size="20" m-mody="flat">
			<i class="icon-angle-right-s"></i>
		</span>
	</div>
    <div class="card-list-body">
        <p class="cbx-sub-title">Ingresa usando el celular que verificaste en sucursal o tu clave temporal.</p>
        <div class="content-flex">
            <ul class="cbx-list-square">
                <li class="container-list-item">
                    <div class="list-item">
                        <div class="cbx-bullet-list" m-theme="gray">
                            <p class="cbx-hightlight">1</p>
                        </div>
                        <div class="text-content">
                            <p class="cbx-text">
								<span m-font="bold">Tu número de cliente de 4 a 11 dígitos </span>
								<br/>Lo encuentras en tu contrato o estado de cuenta de tus productos Citibanamex.
							</p>
                            <p class="cbx-legal">
								<span m-font="bold">¿No conoces tu número de cliente?</span>
								<br/>
								Solicítalo en cualquier Sucursal Citibanamex con una identificación oficial (INE / IFE o pasaporte) y tu cuenta o tarjeta Citibanamex.
							</p>
                        </div>
                    </div>
                </li>
            </ul>
            <figure class="cbx-img">
				<img src="/views/components/molecules/cbx-card-list/img/que-es_modo-uso_Img.jpg" alt="" />
			</figure>
        </div>
    </div>
</article>

<article class="cbx-card-list" m-theme="head-white gray">
    <div class="card-list-head">
        <h3 class="cbx-title">Te ayudamos a ingresar a Citibanamex Móvil y BancaNet.</h3>
    </div>
    <div class="card-list-body">
        <p class="cbx-sub-title">¿Qué necesitas?</p>
        <ul class="cbx-list-square">
            <li class="list-item">
                <div class="cbx-bullet-list">
                    <p class="cbx-hightlight">1</p>
                </div>
                <div class="text-content">
                    <p class="cbx-text">
						<span m-font="bold">Tu número de cliente de 4 a 11 dígitos </span>
						<br/>Lo encuentras en tu contrato o estado de cuenta de tus productos Citibanamex.
					</p>
                    <p class="cbx-legal">
						<span m-font="bold">¿No conoces tu número de cliente?</span>
						<br/>
						Solicítalo en cualquier Sucursal Citibanamex con una identificación oficial (INE / IFE o pasaporte) y tu cuenta o tarjeta Citibanamex.
					</p>
                </div>
            </li>
        </ul>
    </div>
    <div class="cbx-footer-list">
		<label class="cbx-check">
			<p class="cbx-text">¿Ya identificaste tu número de cliente, tu celular verificado y/o clave temporal?</p>
			<input class="check" type="radio" value="first"/>
			<span>
				<i class="icon-airplane-s"></i>
			</span>
		</label>
	</div>
</article>

<br/><br/><br/>

<article class="cbx-card-list" m-theme="soft-gray">
    <div class="card-list-head">
        <h3 class="cbx-title">Te ayudamos a ingresar a Citibanamex Móvil y BancaNet.</h3>
    </div>
    <div class="card-list-body">
        <p class="cbx-sub-title">¿Qué necesitas?</p>
        <ul class="cbx-list-square">
            <li class="list-item">
                <div class="cbx-bullet-list">
                    <p class="cbx-hightlight">1</p>
                </div>
                <div class="text-content">
                    <p class="cbx-text">
						<span m-font="bold">Tu número de cliente de 4 a 11 dígitos </span>
						<br/>Lo encuentras en tu contrato o estado de cuenta de tus productos Citibanamex.
					</p>
                    <p class="cbx-legal">
						<span m-font="bold">¿No conoces tu número de cliente?</span>
						<br/>
						Solicítalo en cualquier Sucursal Citibanamex con una identificación oficial (INE / IFE o pasaporte) y tu cuenta o tarjeta Citibanamex.
					</p>
                </div>
            </li>
        </ul>
    </div>
</article>

<br/><br/><br/>
