@import "../../mixins.pcss";

.cbx-card-list {
	@mixin box-shadow xs, medium-out;
	& .card-list-head {
		@mixin viewport xs, padding, 20;
		border-top: {
			@mixin viewport xs, left-radius, 4;
			@mixin viewport xs, right-radius, 4;
		}
		background-color: var(--soft-blue);
		display: flex;
		justify-content: space-between;
		width: 100%;
		& .cbx-title {
			color: var(--white);
		}
	}
	& .card-list-body {
		padding: {
			@mixin viewport xs, top, 20;
			@mixin viewport xs, right, 20;
			@mixin viewport xs, bottom, 40;
			@mixin viewport xs, left, 20;
		}
		background-color: var(--bright-gray);
		& .cbx-sub-title {
			margin-bottom: 40px;
		}
	}
	& .cbx-footer-list {
		border-bottom: {
			@mixin viewport xs, left-radius, 4;
			@mixin viewport xs, right-radius, 4;
		}
		background-color: var(--white);
		width: 100%;
		display: flex;
		justify-content: flex-end;
	}
	&[m-mody="img-h"] {
		box-shadow: none;
		& .card-list-body {
			& .cbx-list-square {
				@mixin viewport xs, margin-bottom, 20;
			}
			& .cbx-img {
				display: flex;
				justify-content: center;
				& img {
					width: auto;
				}
			}
		}
	}
}

@media (--portrait) {
	.cbx-card-list {
		@mixin box-shadow sm, medium-out;
		& .card-list-head {
			border-top: {
				left-radius: 4px;
				right-radius: 4px;
			}
			padding: 20px;
		}
		& .card-list-body {
			padding: {
				top: 20px;
				right: 20px;
				bottom: 40px;
				left: 20px;
			}
		}
		&[m-mody="img-h"] {
			& .content-flex {
				display: flex;
			}
			& .cbx-list-square {
				width: 50%;
				margin-right: 20px;
			}
			& .cbx-img {
				width: 50%;
				background: transparent;
			}
		}
	}
}

@media (--small-desktop) {
	.cbx-card-list {
		@mixin box-shadow lg, medium-out;
		& .card-list-head {
			border-top: {
				@mixin viewport lg, left-radius, 4;
				@mixin viewport lg, right-radius, 4;
			}
			@mixin viewport lg, padding, 20;
		}
		& .card-list-body {
			padding: {
				@mixin viewport lg, top, 20;
				@mixin viewport lg, right, 20;
				@mixin viewport lg, bottom, 40;
				@mixin viewport lg, left, 20;
			}
		}
		& .cbx-footer-list {
			border-bottom: {
				@mixin viewport lg, left-radius, 4;
				@mixin viewport lg, right-radius, 4;
			}
		}
	}
}

@media (--large-desktop) {
	.cbx-card-list {
		@mixin box-shadow xl, medium-out;
		& .card-list-head {
			border-top: {
				@mixin viewport xl, left-radius, 4;
				@mixin viewport xl, right-radius, 4;
			}
			@mixin viewport xl, padding, 20;
		}
		& .card-list-body {
			padding: {
				@mixin viewport xl, top, 20;
				@mixin viewport xl, right, 20;
				@mixin viewport xl, bottom, 40;
				@mixin viewport xl, left, 20;
			}
		}
		& .cbx-footer-list {
			border-bottom: {
				@mixin viewport xl, left-radius, 4;
				@mixin viewport xl, right-radius, 4;
			}
		}
	}
}
@media (--full) {
	.cbx-card-list {
		@mixin box-shadow xxl, medium-out;
		& .card-list-head {
			border-top: {
				@mixin viewport xxl, left-radius, 4;
				@mixin viewport xxl, right-radius, 4;
			}
			@mixin viewport xxl, padding, 20;
		}
		& .card-list-body {
			padding: {
				@mixin viewport xxl, top, 20;
				@mixin viewport xxl, right, 20;
				@mixin viewport xxl, bottom, 40;
				@mixin viewport xxl, left, 20;
			}
		}
		& .cbx-footer-list {
			border-bottom: {
				@mixin viewport xxl, left-radius, 4;
				@mixin viewport xxl, right-radius, 4;
			}
		}
	}
}
