<div class="cbx-social-info" m-copy="false">
	<div class="social-content">
		<div class="social-text">
			<p class="cbx-text" m-font="bold">¿Te fue útil esta información?</p>
		</div>
		<div class="social-buttons">
			<div>
				<button class="cbx-icon" m-size="30" m-mody="flat" m-active="false">
					<i class="icon-angle-right-s"></i>
				</button>
			</div>
			<div>
				<button class="cbx-icon" m-size="30" m-mody="flat" m-active="false">
					<i class="icon-angle-right-s"></i>
				</button>
			</div>
		</div>
	</div>
	<div class="social-content">
		<div class="social-text">
			<p class="cbx-text" m-font="bold">Compartir</p>
		</div>
		<div class="social-buttons">
			<div>
				<button class="cbx-icon" m-size="30" m-mody="flat" m-active="false">
					<i class="icon-angle-right-s"></i>
				</button>
			</div>
			<div>
				<button class="cbx-icon" m-size="30" m-mody="flat" m-active="false">
					<i class="icon-angle-right-s"></i>
				</button>
			</div>
		</div>
	</div>
	<div class="social-message">
		<p class="cbx-text">Vínculo copiado al portapapeles</p>
	</div>
</div>