@import '../../mixins.pcss';

html {
	&[m-browser="ie"] {
		.cbx-social-info {
			width: 100%;
			justify-content: space-between;
			& .social-content {
				flex-wrap: nowrap;
				&:first-child {
					width: 70%;
				}
				&:last-child {
					width: 30%;
				}
				& > .social-text {
					flex-basis: auto;
				}
				& .social-text {
					flex-basis: inherit;
					flex-grow: inherit;
				}
				& .social-buttons {
					flex-basis: auto;
				}
			}
		}
	}
}
.cbx-social-info {
	@mixin box-shadow xs, medium-out;
	position: relative;
	@mixin viewport xs, height, 180;
	width: 100%;
	padding: {
		@mixin viewport xs, top, 20;
		@mixin viewport xs, bottom, 20;
	}
	&[m-copy="true"] {
		& .social-message {
			animation: copy-message 1.5s linear;
		}
	}
	& .social-content {
		display: flex;
		flex-wrap: wrap;
		width: 80%;
		margin: auto;
		height: auto;
		text-align: right;
		@mixin viewport xs, padding-top, 20;
		&:first-child {
			@mixin viewport xs, margin-bottom, 20;
		}
		&:last-child {
			& .social-text {
				& .cbx-text {
					text-align: right;
				}
			}
		}
		& > .social-text,
		& > .social-buttons {
			flex-shrink: 1;
			flex-basis: 0;
			display: flex;
			justify-content: flex-end;
		}
		& .cbx-text {
			margin-right: 10px;
		}
	}
	& .social-text,
	& .social-buttons {
		height: inherit;
	}
	& .social-text {
		flex-grow: 2;
	}
	& .social-buttons {
		flex-grow: 1;
		display: flex;
		justify-content: space-between;
		& > div {
			display: flex;
			align-items: center;
			position: relative;
			height: inherit;
			&:first-child {
				flex-grow: 1;
				@mixin viewport xs, margin-right, 10;
				&::after {
					@mixin absolute center-vertical;
					right: 0;
					content: "";
					height: 80%;
					width: 1px;
					background-color: var(--middle-gray);
				}
			}
		}
		& .cbx-icon {
			@mixin transition color;
			color: var(--darkest-gray);
			&[m-active="true"] {
				& .icons-guides-like-o {
					&:before {
						content: "\6e";
						color: var(--soft-blue);
					}
				}
				& .icons-guides-dislike-o {
					&:before {
						content: "\76";
						color: var(--soft-blue);
					}
				}
			}
		}
	}
	& .social-message {
		@mixin absolute center-horizontal;
		@mixin border-radius xs;
		display: flex;
		align-items: center;
		justify-content: center;
		top: 0;
		@mixin viewport xs, height, 50;
		width: inherit;
		opacity: 0;
		pointer-events: none;
		background-color: var(--background-gray);
	}
}

@keyframes copy-message {
	0% {
		opacity: 1;
	}
	25% {
		opacity: 0.75;
	}
	50% {
		opacity: 0.5;
	}
	75% {
		opacity: 0.25;
	}
	100% {
		opacity: 0;
	}
}

@media (width >= 768px) {
	.cbx-social-info {
		@mixin box-shadow sm, medium-out;
		height: 80px;
		padding: 20px;
		display: flex;
		justify-content: space-between;
		& .social-content {
			margin: 0;
			width: auto;
			padding-top: 0;
			&:first-child {
				margin-bottom: 0;
			}
		}
		& .social-content > .social-text {
			display: flex;
			align-items: center;
			flex-shrink: 1;
			flex-basis: 0;
			justify-content: flex-start;
			padding: 10px;
		}
		& .social-buttons {
			flex-grow: 0;
			& > div {
				&:first-child {
					&::after {
						position: absolute;
						top: 50%;
						transform: translateY(-50%);
						left: 48px;
						height: 50%;
					}
				}
			}
		}
		& .social-message {
			@mixin border-radius sm;
			@mixin viewport xs, height, 50;
		}
	}
}

@media (width >= 1024px) {
	.cbx-social-info {
		@mixin box-shadow lg, medium-out;
		@mixin viewport lg, height, 80;
		@mixin viewport lg, padding, 20;
		& .social-content > .social-text {
			@mixin viewport lg, padding, 10;
		}
		& .social-buttons {
			& > div {
				&:first-child {
					&::after {
						@mixin viewport lg, left, 48;
					}
				}
			}
		}
		& .social-message {
			@mixin border-radius sm;
			@mixin viewport lg, height, 50;
		}
	}
}

@media (width >= 1280px) {
	.cbx-social-info {
		@mixin box-shadow xl, medium-out;
		@mixin viewport xl, height, 80;
		@mixin viewport xl, padding, 20;
		& .social-content > .social-text {
			@mixin viewport xl, padding, 10;
		}
		& .social-buttons {
			& > div {
				&:first-child {
					&::after {
						@mixin viewport xl, left, 48;
					}
				}
			}
		}
		& .social-message {
			@mixin border-radius xl;
			@mixin viewport xl, height, 50;
		}
	}
}
@media (width >= 1440px) {
	.cbx-social-info {
		@mixin box-shadow xxl, medium-out;
		@mixin viewport xxl, height,  80;
		@mixin viewport xxl, padding,  20;
		& .social-content > .social-text {
			@mixin viewport xxl, padding,  10;
		}
		& .social-buttons {
			& > div {
				&:first-child {
					&::after {
						@mixin viewport xxl, left,  48;
					}
				}
			}
		}
		& .social-message {
			@mixin border-radius xxl;
			@mixin viewport xxl, height,  50;
		}
	}
}
