<div class="cbx-credit-card" m-active="false">
	<figure class="cbx-img">
		<img src="./img/bsmart_2x.png" />
	</figure>
	<button class="credit-button">
		<span class="cbx-icon" m-size="20" m-mody="circle border">
			<i class="icon-close-o"></i>
		</span>
	</button>
</div>

<br /><br /><br />

<div class="cbx-credit-card" m-active="false" m-theme="white">
	<figure class="cbx-img">
		<img src="./img/bsmart_2x.png" />
	</figure>
	<button class="credit-button">
		<span class="cbx-icon" m-size="20" m-mody="circle border">
			<i class="icon-close-o"></i>
		</span>
	</button>
</div>

<br /><br /><br />

<div class="cbx-credit-card" m-active="true" m-theme="" m-mody="close-bottom">
	<figure class="cbx-img">
		<img src="./img/bsmart_2x.png" />
	</figure>
	<button class="credit-button">
		<span class="cbx-icon" m-size="20" m-mody="circle border">
			<i class="icon-close-o"></i>
		</span>
	</button>
</div>