@import '../../mixins.pcss';

.cbx-credit-card {
	@mixin viewport xs, width, 100;
	@mixin viewport xs, height, 65;
	padding: {
		@mixin viewport xs, right, 15;
		@mixin viewport xs, top, 10;
	}
	position: relative;
	&[m-active="false"] {
		cursor: pointer;
		& .cbx-img {
			@mixin rgba background-color, var(--soft-blue), 0.2;
			@mixin absolute center;
			@mixin border-radius xs;
			border: {
				@mixin viewport xs, width, 2;
				style: solid;
				color: var(--soft-blue);
			}
			background-image: none;
			& img {
				display: none;
			}
		}
		& .credit-button {
			@mixin absolute center;
		}
		& .cbx-icon {
			@mixin absolute center;
			background-color: var(--soft-blue);
			color: var(--white);
			border: none;
			& i {
				&::before {
					content: "\30";
				}
			}
		}
	}
	& .cbx-img {
		@mixin placeholder-img;
		transition: background-color 350ms ease-in-out;
		@mixin viewport xs, width, 90;
		@mixin viewport xs, height, 55;
	}
	& .credit-button {
		@mixin viewport xs, height, 44;
		@mixin viewport xs, width, 44;
		position: absolute;
		top: 0;
		right: 0;
	}
	& .cbx-icon {
		position: absolute;
		top: 0;
		right: 0;
		background-color: var(--white);
		& i {
			&::before {
				@mixin viewport xs, font-size, 8;
			}
		}
	}
	&[m-mody="close-bottom"] {
		padding-top: 0;
		padding-right: 0;
		align-items: center;
		&[m-active="true"] {
			display: flex;
			justify-content: center;
			@mixin viewport xs, padding-bottom, 10;
			@mixin viewport xs, margin-top, 10;
			& .credit-button {
				top: auto;
				right: auto;
				bottom: 0;
				left: 50%;
				transform: translateX(-50%);

				& .cbx-icon {
					top: auto;
					right: auto;
					left: 50%;
					transform: translateX(-50%);
				}
			}
		}
	}
}

@media (width >= 768px) {
	.cbx-credit-card {
		width: 100px;
		height: 65px;
		padding: {
			right: 15px;
			top: 10px;
		}
		&[m-active="false"] {
			& .cbx-img {
				@mixin border-radius sm;
				border-width: 2px;
			}
		}
		& .cbx-img {
			width: 90px;
			height: 55px;
		}
		& .credit-button {
			height: 44px;
			width: 44px;
		}
		& .cbx-icon {
			& i {
				&::before {
					font-size: 8px;
				}
			}
		}
		&[m-mody="close-bottom"] {
			&[m-active="true"] {
				padding-bottom: 10px;
				margin-top: 10px;
			}
			& .cbx-img {
				width: 80px;
				height: 45px;
			}
		}
	}
}
@media (width >= 1024px) {
	.cbx-credit-card {
		@mixin viewport lg, width, 125;
		@mixin viewport lg, height, 85;
		padding: {
			@mixin viewport lg, right, 15;
			@mixin viewport lg, top, 10;
		}
		&[m-active="false"] {
			& .cbx-img {
				@mixin border-radius lg;
				@mixin viewport lg, border-width, 2;
			}
		}
		& .cbx-img {
			@mixin viewport lg, width, 120;
			@mixin viewport lg, height, 75;
		}
		& .credit-button {
			@mixin viewport lg, height, 44;
			@mixin viewport lg, width, 44;
		}
		& .cbx-icon {
			& i {
				&::before {
					@mixin viewport lg, font-size, 8;
				}
			}
		}
		&[m-mody="close-bottom"] {
			@mixin viewport lg, width, 125;
			@mixin viewport lg, height, 85;
			&[m-active="true"] {
				@mixin viewport lg, padding-bottom, 10;
			}
			& .cbx-img {
				@mixin viewport lg, width, 120;
				@mixin viewport lg, height, 75;
			}
		}
	}
}

@media (width >= 1280px) {
	.cbx-credit-card {
		@mixin viewport xl, width, 125;
		@mixin viewport xl, height, 85;
		padding: {
			@mixin viewport xl, right, 15;
			@mixin viewport xl, top, 10;
		}
		&[m-active="false"] {
			& .cbx-img {
				@mixin border-radius xl;
				@mixin viewport xl, border-width, 2;
			}
		}
		& .cbx-img {
			@mixin viewport xl, width, 120;
			@mixin viewport xl, height, 75;
		}
		& .credit-button {
			@mixin viewport xl, height, 44;
			@mixin viewport xl, width, 44;
		}
		& .cbx-icon {
			& i {
				&::before {
					@mixin viewport xl, font-size, 8;
				}
			}
		}
		&[m-mody="close-bottom"] {
			@mixin viewport xl, width, 125;
			@mixin viewport xl, height, 85;
			&[m-active="true"] {
				@mixin viewport xl, padding-bottom, 10;
			}
			& .cbx-img {
				@mixin viewport xl, width, 120;
				@mixin viewport xl, height, 75;
			}
		}
	}
}

@media (width >= 1280px) {
	.cbx-credit-card {
		@mixin viewport xxl, width,  125;
		@mixin viewport xxl, height,  85;
		padding: {
			@mixin viewport xxl, right,  15;
			@mixin viewport xxl, top,  10;
		}
		&[m-active="false"] {
			& .cbx-img {
				@mixin border-radius xxl;
				@mixin viewport xxl, border-width,  2;
			}
		}
		& .cbx-img {
			@mixin viewport xxl, width,  120;
			@mixin viewport xxl, height,  75;
		}
		& .credit-button {
			@mixin viewport xxl, height,  44;
			@mixin viewport xxl, width,  44;
		}
		& .cbx-icon {
			& i {
				&::before {
					@mixin viewport xxl, font-size,  8;
				}
			}
		}
		&[m-mody="close-bottom"] {
			@mixin viewport xxl, width,  125;
			@mixin viewport xxl, height,  85;
			&[m-active="true"] {
				@mixin viewport xxl, padding-bottom,  10;
			}
			& .cbx-img {
				@mixin viewport xxl, width,  120;
				@mixin viewport xxl, height,  75;
			}
		}
	}
}
