.cbx-credit-card {
	width: viewport(xs, 100);
	height: viewport(xs, 65);
	padding: {
		right: viewport(xs, 15);
		top: viewport(xs, 10);
	}
	position: relative;
	&[m-active="false"] {
		cursor: pointer;
		.cbx-img {
			@mixin rgba background-color, var(--soft-blue), 0.2;
			@include absolute(center);
			border-radius: borderRadius(xs);
			border: {
				width: viewport(xs, 2);
				style: solid;
				color: var(--soft-blue);
			}
			background-image: none;
			img {
				display: none;
			}
		}
		.credit-button {
			@include absolute(center);
		}
		.cbx-icon {
			@include absolute(center);
			background-color: var(--soft-blue);
			color: var(--white);
			border: none;
			i {
				&::before {
					content: "\30";
				}
			}
		}
	}
	.cbx-img {
		@include placeholder-img;
		transition: background-color 350ms ease-in-out;
		width: viewport(xs, 90);
		height: viewport(xs, 55);
	}
	.credit-button {
		height: viewport(xs, 44);
		width: viewport(xs, 44);
		position: absolute;
		top: 0;
		right: 0;
	}
	.cbx-icon {
		position: absolute;
		top: 0;
		right: 0;
		background-color: var(--white);
		i {
			&::before {
				font-size: viewport(xs, 8);
			}
		}
	}
	&[m-mody="close-bottom"] {
		padding-top: 0;
		padding-right: 0;
		align-items: center;
		&[m-active="true"] {
			display: flex;
			justify-content: center;
			padding-bottom: viewport(xs, 10);
			margin-top: viewport(xs, 10);
			.credit-button {
				top: auto;
				right: auto;
				bottom: 0;
				left: 50%;
				transform: translateX(-50%);

				.cbx-icon {
					top: auto;
					right: auto;
					left: 50%;
					transform: translateX(-50%);
				}
			}
		}
	}
}

@media width >= 768px {
	.cbx-credit-card {
		width: 100px;
		height: 65px;
		padding: {
			right: 15px;
			top: 10px;
		}
		&[m-active="false"] {
			.cbx-img {
				border-radius: borderRadius(sm);
				border-width: 2px;
			}
		}
		.cbx-img {
			width: 90px;
			height: 55px;
		}
		.credit-button {
			height: 44px;
			width: 44px;
		}
		.cbx-icon {
			i {
				&::before {
					font-size: 8px;
				}
			}
		}
		&[m-mody="close-bottom"] {
			&[m-active="true"] {
				padding-bottom: 10px;
				margin-top: 10px;
			}
			.cbx-img {
				width: 80px;
				height: 45px;
			}
		}
	}
}
@media width >= 1024px {
	.cbx-credit-card {
		width: viewport(lg, 125);
		height: viewport(lg, 85);
		padding: {
			right: viewport(lg, 15);
			top: viewport(lg, 10);
		}
		&[m-active="false"] {
			.cbx-img {
				border-radius: borderRadius(lg);
				border-width: viewport(lg, 2);
			}
		}
		.cbx-img {
			width: viewport(lg, 120);
			height: viewport(lg, 75);
		}
		.credit-button {
			height: viewport(lg, 44);
			width: viewport(lg, 44);
		}
		.cbx-icon {
			i {
				&::before {
					font-size: viewport(lg, 8);
				}
			}
		}
		&[m-mody="close-bottom"] {
			width: viewport(lg, 125);
			height: viewport(lg, 85);
			&[m-active="true"] {
				padding-bottom: viewport(lg, 10);
			}
			.cbx-img {
				width: viewport(lg, 120);
				height: viewport(lg, 75);
			}
		}
	}
}

@media width >= 1280px {
	.cbx-credit-card {
		width: viewport(xl, 125);
		height: viewport(xl, 85);
		padding: {
			right: viewport(xl, 15);
			top: viewport(xl, 10);
		}
		&[m-active="false"] {
			.cbx-img {
				border-radius: borderRadius(xl);
				border-width: viewport(xl, 2);
			}
		}
		.cbx-img {
			width: viewport(xl, 120);
			height: viewport(xl, 75);
		}
		.credit-button {
			height: viewport(xl, 44);
			width: viewport(xl, 44);
		}
		.cbx-icon {
			i {
				&::before {
					font-size: viewport(xl, 8);
				}
			}
		}
		&[m-mody="close-bottom"] {
			width: viewport(xl, 125);
			height: viewport(xl, 85);
			&[m-active="true"] {
				padding-bottom: viewport(xl, 10);
			}
			.cbx-img {
				width: viewport(xl, 120);
				height: viewport(xl, 75);
			}
		}
	}
}

@media width >= 1280px {
	.cbx-credit-card {
		width: viewport(xxl, 125);
		height: viewport(xxl, 85);
		padding: {
			right: viewport(xxl, 15);
			top: viewport(xxl, 10);
		}
		&[m-active="false"] {
			.cbx-img {
				border-radius: borderRadius(xxl);
				border-width: viewport(xxl, 2);
			}
		}
		.cbx-img {
			width: viewport(xxl, 120);
			height: viewport(xxl, 75);
		}
		.credit-button {
			height: viewport(xxl, 44);
			width: viewport(xxl, 44);
		}
		.cbx-icon {
			i {
				&::before {
					font-size: viewport(xxl, 8);
				}
			}
		}
		&[m-mody="close-bottom"] {
			width: viewport(xxl, 125);
			height: viewport(xxl, 85);
			&[m-active="true"] {
				padding-bottom: viewport(xxl, 10);
			}
			.cbx-img {
				width: viewport(xxl, 120);
				height: viewport(xxl, 75);
			}
		}
	}
}
