@import "../../mixins.pcss";

.cbx-sub-title {
	font: {
		@mixin viewport xs, size, 16;
		family: var(--font-r);
	}
	color: var(--darkest-gray);
}

@media (--portrait) {
	.cbx-sub-title {
		font-size: 16px;
	}
}

@media (--small-desktop) {
	.cbx-sub-title {
		@mixin viewport lg, font-size, 16;
	}
}

@media (--large-desktop) {
	.cbx-sub-title {
		@mixin viewport xl, font-size, 18;
	}
}

@media (--full) {
	.cbx-sub-title {
		@mixin viewport xxl, font-size, 18;
	}
}
