<section class="cbx-economia" m-open="true">
    <div class="content-economia">
        <ul class="dropdown-list">
            <li class="item-list" m-current="false" m-target="Tipo-de-Cambio">
                <div class="tooltip-moneda">
                    <p class="cbx-text">$20.000 COMPRA</p>
                    <p class="cbx-text">$20.000 VENTA</p>
                </div>
                <button class="cbx-card" type="button" m-mody="">
                    <div class="icons-content">
                        <div class="card-content">
                            <span class="cbx-icon" m-size="50" m-mody="icon-bold">
                                <i class="icon-money-o"></i>
                            </span>
                            <div class="card-description">
                                <p class="cbx-text">Tipo de cambio</p>
                            </div>
                            <span class="cbx-icon" m-size="20" m-mody="icon-bold">
                                <i class="icon-angle-down-o"></i>
                            </span>
                        </div>
                    </div>
                    <div class="card-description">
                        <p class="cbx-text">Tipo de cambio</p>
                    </div>
                </button>
            </li>
            <li class="item-list" m-current="false" m-target="Tipo-de-Cambio">
                <button class="cbx-card" type="button" m-mody="">
                    <div class="icons-content">
                        <div class="card-content">
                            <span class="cbx-icon" m-size="50" m-mody="icon-bold">
                                <i class="icon-gold-o"></i>
                            </span>
                            <div class="card-description">
                                <p class="cbx-text">Metales</p>
                            </div>
                            <span class="cbx-icon" m-size="20" m-mody="icon-bold">
                                <i class="icon-angle-down-o"></i>
                            </span>
                        </div>
                    </div>
                    <div class="card-description">
                        <p class="cbx-text">Metales</p>
                    </div>
                </button>
            </li>
            <li class="item-list" m-current="false" m-target="Tipo-de-Cambio">
                <button class="cbx-card" type="button" m-mody="">
                    <div class="icons-content">
                        <div class="card-content">
                            <span class="cbx-icon" m-size="50" m-mody="icon-bold">
                                <i class="icon-chartline-o"></i>
                            </span>
                            <div class="card-description">
                                <p class="cbx-text">Mercados</p>
                            </div>
                            <span class="cbx-icon" m-size="20" m-mody="icon-bold">
                                <i class="icon-angle-down-o"></i>
                            </span>
                        </div>
                    </div>
                    <div class="card-description">
                        <p class="cbx-text">Mercados</p>
                    </div>
                </button></li>
        </ul>
        <div class="content-items">
            <div class="content" m-active="false" m-content="Tipo-de-Cambio">Tipo de Cambio</div>
            <div class="content" m-content="Metales">Metales</div>
            <div class="content" m-content="Mercados">Mercados </div>
        </div>
    </div>
</section>