@import '../../mixins.pcss';

.cbx-economia {
	background-color: var(--background-gray);

	& .content-economia {
		& .item-list {
			& .card-content {
				& .card-description {
					display: none;
				}
				& .cbx-icon {
					color: var(--darkest-gray);
					margin-right: 0;
					@mixin viewport xs, width, 25;
					@mixin viewport xs, height, 25;
					& > i:not(.icon-angle-down-o) {
						@mixin viewport xs, font-size, 18;
					}
				}
			}
			& .tooltip-moneda {
				@mixin box-shadow xs, small-out;
				display: none;
				opacity: 0;
				position: absolute;
				background-color: var(--white);
				padding: 10px;
				border-radius: 4px;
				left: 50%;
				transform: translateX(-50%);
				transition: opacity 350ms ease-in-out;
				top: -85%;
			}
			& .card-description {
				display: block;
			}
			& .icons-content {
				display: flex;
				align-items: center;
				justify-content: center;
				& .card-content {
					& .cbx-icon {
						&[m-mody~="icon-bold"] {
							text-shadow: -1px -1px 0 var(--darkest-gray),
								-1px -1px 0 var(--darkest-gray), -1px -1px 0 var(--darkest-gray);
							@supports (display: grid) {
								text-shadow: none;
							}
						}
					}
				}
			}
		}
	}
	&[m-open="true"] {
		& .content-economia {
			display: block;
		}
		& .icon-plus-o {
			&:before {
				content: "\59";
			}
		}
	}
	& [m-current="true"] {
		& .icon-angle-down-o {
			&:before {
				content: "\6b";
			}
		}
	}
	& .button-open {
		width: 100%;
		@mixin viewport xs, height, 50;
		display: flex;
		justify-content: center;
		& .cbx-sub-title {
			@mixin viewport xs, margin-right, 20;
		}
	}
	& .cbx-card {
		box-shadow: none;
		display: block;
		width: 100%;
		justify-content: center;
		@mixin viewport xs, padding, 15;
		background-color: transparent;
		align-items: center;
		height: inherit;
		cursor: pointer;
	}
	& .dropdown-list {
		display: inline-flex;
		width: 100%;
		@mixin viewport xs, height, 50;
		justify-content: space-between;
		& .item-list {
			height: inherit;
			display: flex;
			align-items: center;
			&[m-current="true"] {
				& .cbx-text {
					color: var(--soft-blue);
				}
			}
		}
	}
	& .icon-angle-down-o {
		color: var(--soft-blue);
		margin-top: auto;
	}
	& .content-items {
		& .content {
			display: none;
			&[m-active="true"] {
				display: block;
			}
		}
	}
}
@media (--portrait) {
	.cbx-economia {
		& .button-open {
			display: none;
		}
		& .content-economia {
			display: block;
			& .item-list {
				& .card-content {
					& .card-description {
						display: block;
					}
					& .cbx-icon {
						width: 50px;
						height: 50px;
						& > i:not(.icon-angle-down-o) {
							font-size: 25px;
						}
					}
				}
				& .card-description {
					display: none;
				}
			}
		}
		& .dropdown-list {
			display: inline-flex;
			width: 100%;
			justify-content: space-around;
			height: 80px;
			& .item-list {
				flex-basis: 0;
				flex-shrink: 0;
				flex-grow: 1;

				&[m-current="true"] {
					display: block;
					background-color: transparent;
				}
				& .cbx-card {
					padding: 0;
					& .cbx-text {
						transition: color 350ms ease-in-out;
					}
					&:hover {
						& .cbx-text {
							color: var(--soft-blue);
						}
					}
				}
			}
			& .cbx-icon {
				color: var(--darkest-gray);
				margin-right: 0;
				& .icon-angle-down-o {
					@mixin viewport lg, margin-left, 15;
				}
			}
		}
		& .cbx-card {
			display: flex;
		}
	}
}

@media (--small-desktop) {
	.cbx-economia {
		& .content-economia {
			& .item-list {
				& .card-content {
					& .cbx-icon {
						@mixin viewport lg, width, 50;
						@mixin viewport lg, height, 50;
						& > i:not(.icon-angle-down-o) {
							@mixin viewport lg, font-size, 25;
						}
					}
				}
			}
		}
		& .dropdown-list {
			@mixin viewport lg, height, 60;
			& .cbx-icon {
				& .icon-angle-down-o {
					@mixin viewport lg, margin-left, 15;
				}
			}
		}
	}
}

@media (--large-desktop) {
	.cbx-economia {
		& .content-economia {
			& .item-list {
				position: relative;
				& .card-content {
					& .cbx-icon {
						@mixin viewport xl, width, 50;
						@mixin viewport xl, height, 50;
						& > i:not(.icon-angle-down-o) {
							@mixin viewport xl, font-size, 25;
						}
					}
				}
				& .tooltip-moneda {
					display: block;
					opacity: 0;
					position: absolute;
					background-color: var(--white);
					@mixin viewport xl, padding, 10;
					@mixin viewport xl, border-radius, 4;
					left: 50%;
					transform: translateX(-50%);
					transition: opacity 350ms ease-in-out;
					top: -85%;
					@mixin box-shadow xl, small-out;
					z-index: 2;
					pointer-events: none;
					& .cbx-text {
						color: var(--dark-gray);
					}
				}
				&:hover {
					& .tooltip-moneda {
						opacity: 1;
					}
				}
			}
		}
		& .dropdown-list {
			@mixin viewport xl, height, 60;
			& .cbx-icon {
				& .icon-angle-down-o {
					@mixin viewport xl, margin-left, 15;
				}
			}
		}
	}
}
@media (--full) {
	.cbx-economia {
		& .content-economia {
			& .item-list {
				& .card-content {
					& .cbx-icon {
						@mixin viewport xxl, width,  50;
						@mixin viewport xxl, height,  50;
						& > i:not(.icon-angle-down-o) {
							@mixin viewport xxl, font-size,  25;
						}
					}
				}
				& .tooltip-moneda {
					@mixin viewport xxl, padding,  10;
					@mixin viewport xxl, border-radius,  4;
				}
			}
		}
		& .dropdown-list {
			@mixin viewport xxl, height,  60;
			& .cbx-icon {
				& .icon-angle-down-o {
					@mixin viewport xxl, margin-left,  15;
				}
			}
		}
	}
}