<section m-container="product-list">
    <nav class="nav-filter oculto">
        <ul class="content-nav">
            <button class="cbx-card" m-mody="" m-active="true">
                <span class="card-content">
                    <span class="cbx-icon" m-size="40" m-mody="icon-bold">
                        <i class="icon-card-o"></i>
                    </span>
                    <span class="card-description">
                        <p class="cbx-text" href="#"> Todas</p>
                    </span>
                </span>
            </button>
            <button class="cbx-card" m-mody=""> 
                <span class="card-content">
                    <span class="cbx-icon" m-size="40" m-mody="icon-bold">
                        <i class="icon-star-o"></i>
                    </span>
                    <span class="card-description">
                        <p class="cbx-text" href="#"> Recompensas</p>
                    </span>
                </span>
            </button>
            <button class="cbx-card" m-mody=""> 
                <span class="card-content">
                    <span class="cbx-icon" m-size="40" m-mody="icon-bold">
                        <i class="icon-airplane-o"></i>
                    </span>
                    <span class="card-description">
                        <p class="cbx-text" href="#"> Viajes</p>
                    </span>
                </span>
            </button>
            <button class="cbx-card" m-mody=""> 
                <span class="card-content">
                    <span class="cbx-icon" m-size="40" m-mody="icon-bold">
                        <i class="icon-shop-bag-o"></i>
                    </span>
                    <span class="card-description">
                        <p class="cbx-text" href="#"> Compras</p>
                    </span>
                </span>
            </button>
            <button class="cbx-card" m-mody=""> 
                <span class="card-content">
                    <span class="cbx-icon" m-size="40" m-mody="icon-bold">
                        <i class="icon-tenis-o"></i>
                    </span>
                    <span class="card-description">
                        <p class="cbx-text" href="#"> Deportes</p>
                    </span>
                </span>
            </button>
        </ul>
    </nav>
    <div class="cbx-wrapper content-select">
        <div class="cbx-select" m-empty="true"><select class="cbx-text select" name="">
                <option value="" selected="selected"></option>
                <option value="">Todas</option>
                <option value="">Recompensas</option>
                <option value="">Viajes</option>
                <option value="">Compras</option>
                <option value="">Deportes</option>
            </select>
            <label class="cbx-text">Todas</label>
            <span class="cbx-icon" m-size="10" m-mody="flat icon-bold">
                <i class="icon-angle-down-o"></i>
            </span>
        </div>
    </div>
    <div class="cbx-wrapper grid-cards">
        <article class="cbx-card" m-mody="c-img c-img-top c-button">
      
            <figure class="
            cbx-img">
                <img src="" alt="" />

            </figure>
            <div class="card-content">
                <button class="cbx-icon" m-size="40" m-mody="icon-bold flat">
                    <i class="icon-heart-s"></i>
                </button>
                <div class="card-description">
                    <p class="cbx-title">BSmart</p>
                    <ul class="cbx-list">
                        <li class="list-item">
                            <span class="bullet cbx-text">•</span>
                            <p class="cbx-text">5% en Puntos Premia por todastus compras</p>
                        </li>
                        <li class="list-item">
                            <span class="bullet cbx-text">•</span>
                            <p class="cbx-text">Martes de 50% en Puntos Premia en gasolina</p>
                        </li>
                    </ul>
                    <p class="cbx-text">Anualidad de $645 sin IVA </p>
                    <p class="cbx-text"> Ingreso mínimo $7000</p>
                    <p class="cbx-text">CAT promedio 73.3% si IVA</p>
                </div>
                <div class="card-buttons">
                    <div class="card-call">
                        <a class="cbx-link" href="#"> Comparar</a>
                    </div>
                    <a class="cbx-button">Solicitar</a>
                </div>
            </div>
        </article>
        <article class="cbx-card" m-mody="c-img c-img-top c-button">
      
            <figure class="
            cbx-img">
                <img src="" alt="" />

            </figure>
            <div class="card-content">
                <button class="cbx-icon" m-size="40" m-mody="icon-bold flat">
                    <i class="icon-heart-s"></i>
                </button>
                <div class="card-description">
                    <p class="cbx-title">BSmart</p>
                    <ul class="cbx-list">
                        <li class="list-item">
                            <span class="bullet cbx-text">•</span>
                            <p class="cbx-text">5% en Puntos Premia por todastus compras</p>
                        </li>
                        <li class="list-item">
                            <span class="bullet cbx-text">•</span>
                            <p class="cbx-text">Martes de 50% en Puntos Premia en gasolina</p>
                        </li>
                    </ul>
                    <p class="cbx-text">Anualidad de $645 sin IVA </p>
                    <p class="cbx-text"> Ingreso mínimo $7000</p>
                    <p class="cbx-text">CAT promedio 73.3% si IVA</p>
                </div>
                <div class="card-buttons">
                    <div class="card-call">
                        <a class="cbx-link" href="#"> Comparar</a>
                    </div>
                    <a class="cbx-button">Solicitar</a>
                </div>
            </div>
        </article>
        <article class="cbx-card" m-mody="c-img c-img-top c-button">
            <figure class="cbx-img">
                <img src="" alt="" />
            </figure>
            <div class="card-content">
                <button class="cbx-icon" m-size="40" m-mody="icon-bold flat">
                    <i class="icon-heart-s"></i>
                </button>
                <div class="card-description">
                    <p class="cbx-title">BSmart</p>
                    <ul class="cbx-list">
                        <li class="list-item">
                            <span class="bullet cbx-text">•</span>
                            <p class="cbx-text">5% en Puntos Premia por todastus compras</p>
                        </li>
                        <li class="list-item">
                            <span class="bullet cbx-text">•</span>
                            <p class="cbx-text">Martes de 50% en Puntos Premia en gasolina</p>
                        </li>
                    </ul>
                    <p class="cbx-text">Anualidad de $645 sin IVA </p>
                    <p class="cbx-text"> Ingreso mínimo $7000</p>
                    <p class="cbx-text">CAT promedio 73.3% si IVA</p>
                </div>
                <div class="card-buttons">
                    <div class="card-call">
                        <a class="cbx-link" href="#">Comparar</a>
                    </div>
                    <a class="cbx-button">Solicitar</a>
                </div>
            </div>
        </article>
        <article class="cbx-card" m-mody="c-img c-img-top c-button">
            <figure class="cbx-img">
                <img src="" alt="" />
            </figure>
            <div class="card-content">
                <button class="cbx-icon" m-size="40" m-mody="icon-bold flat">
                    <i class="icon-heart-s"></i>
                </button>
                <div class="card-description">
                    <p class="cbx-title">BSmart</p>
                    <ul class="cbx-list">
                        <li class="list-item">
                            <span class="bullet cbx-text">•</span>
                            <p class="cbx-text">5% en Puntos Premia por todastus compras</p>
                        </li>
                        <li class="list-item">
                            <span class="bullet cbx-text">•</span>
                            <p class="cbx-text">Martes de 50% en Puntos Premia en gasolina</p>
                        </li>
                    </ul>
                    <p class="cbx-text">Anualidad de $645 sin IVA </p>
                    <p class="cbx-text"> Ingreso mínimo $7000</p>
                    <p class="cbx-text">CAT promedio 73.3% si IVA</p>
                </div>
                <div class="card-buttons">
                    <div class="card-call">
                        <a class="cbx-link" href="#">Comparar</a>
                    </div>
                    <a class="cbx-button">Solicitar</a>
                </div>
            </div>
        </article>
        <article class="cbx-card" m-mody="c-img c-img-top c-button">
            <figure class="cbx-img">
                <img src="" alt="" />
            </figure>
            <div class="card-content">
                <button class="cbx-icon" m-size="40" m-mody="icon-bold flat">
                    <i class="icon-heart-s"></i>
                </button>
                <div class="card-description">
                    <p class="cbx-title">BSmart</p>
                    <ul class="cbx-list">
                        <li class="list-item">
                            <span class="bullet cbx-text">•</span>
                            <p class="cbx-text">5% en Puntos Premia por todastus compras</p>
                        </li>
                        <li class="list-item">
                            <span class="bullet cbx-text">•</span>
                            <p class="cbx-text">Martes de 50% en Puntos Premia en gasolina</p>
                        </li>
                    </ul>
                    <p class="cbx-text">Anualidad de $645 sin IVA </p>
                    <p class="cbx-text"> Ingreso mínimo $7000</p>
                    <p class="cbx-text">CAT promedio 73.3% si IVA</p>
                </div>
                <div class="card-buttons">
                    <div class="card-call">
                        <a class="cbx-link" href="#">Comparar</a>
                    </div>
                    <a class="cbx-button">Solicitar</a>
                </div>
            </div>
        </article>
        <article class="cbx-card" m-mody="c-img c-img-top c-button">
            <figure class="cbx-img">
                <img src="" alt="" />
            </figure>
            <div class="card-content">
                <button class="cbx-icon" m-size="40" m-mody="icon-bold flat">
                    <i class="icon-heart-s"></i>
                </button>
                <div class="card-description">
                    <p class="cbx-title">BSmart</p>
                    <ul class="cbx-list">
                        <li class="list-item">
                            <span class="bullet cbx-text">•</span>
                            <p class="cbx-text">5% en Puntos Premia por todastus compras</p>
                        </li>
                        <li class="list-item">
                            <span class="bullet cbx-text">•</span>
                            <p class="cbx-text">Martes de 50% en Puntos Premia en gasolina</p>
                        </li>
                    </ul>
                    <p class="cbx-text">Anualidad de $645 sin IVA </p>
                    <p class="cbx-text"> Ingreso mínimo $7000</p>
                    <p class="cbx-text">CAT promedio 73.3% si IVA</p>
                </div>
                <div class="card-buttons">
                    <div class="card-call">
                        <a class="cbx-link" href="#">Comparar</a>
                    </div>
                    <a class="cbx-button">Solicitar</a>
                </div>
            </div>
        </article>
        <article class="cbx-card" m-mody="c-img c-img-top c-button">
            <figure class="cbx-img">
                <img src="" alt="" />
            </figure>
            <div class="card-content">
                <button class="cbx-icon" m-size="40" m-mody="icon-bold flat">
                    <i class="icon-heart-s"></i>
                </button>
                <div class="card-description">
                    <p class="cbx-title">BSmart</p>
                    <ul class="cbx-list">
                        <li class="list-item">
                            <span class="bullet cbx-text">•</span>
                            <p class="cbx-text">5% en Puntos Premia por todastus compras</p>
                        </li>
                        <li class="list-item">
                            <span class="bullet cbx-text">•</span>
                            <p class="cbx-text">Martes de 50% en Puntos Premia en gasolina</p>
                        </li>
                    </ul>
                    <p class="cbx-text">Anualidad de $645 sin IVA </p>
                    <p class="cbx-text"> Ingreso mínimo $7000</p>
                    <p class="cbx-text">CAT promedio 73.3% si IVA</p>
                </div>
                <div class="card-buttons">
                    <div class="card-call">
                        <a class="cbx-link" href="#">Comparar</a>
                    </div>
                    <a class="cbx-button">Solicitar</a>
                </div>
            </div>
        </article>
        <article class="cbx-card" m-mody="c-img c-img-top c-button">
            <figure class="cbx-img">
                <img src="" alt="" />
            </figure>
            <div class="card-content">
                <button class="cbx-icon" m-size="40" m-mody="icon-bold flat">
                    <i class="icon-heart-s"></i>
                </button>
                <div class="card-description">
                    <p class="cbx-title">BSmart</p>
                    <ul class="cbx-list">
                        <li class="list-item">
                            <span class="bullet cbx-text">•</span>
                            <p class="cbx-text">5% en Puntos Premia por todastus compras</p>
                        </li>
                        <li class="list-item">
                            <span class="bullet cbx-text">•</span>
                            <p class="cbx-text">Martes de 50% en Puntos Premia en gasolina</p>
                        </li>
                    </ul>
                    <p class="cbx-text">Anualidad de $645 sin IVA </p>
                    <p class="cbx-text"> Ingreso mínimo $7000</p>
                    <p class="cbx-text">CAT promedio 73.3% si IVA</p>
                </div>
                <div class="card-buttons">
                    <div class="card-call">
                        <a class="cbx-link" href="#">Comparar</a>
                    </div>
                    <a class="cbx-button">Solicitar</a>
                </div>
            </div>
        </article>
        <article class="cbx-card" m-mody="c-img c-img-top c-button">
            <figure class="cbx-img">
                <img src="" alt="" />
            </figure>
            <div class="card-content">
                <button class="cbx-icon" m-size="40" m-mody="icon-bold flat">
                    <i class="icon-heart-s"></i>
                </button>
                <div class="card-description">
                    <p class="cbx-title">BSmart</p>
                    <ul class="cbx-list">
                        <li class="list-item">
                            <span class="bullet cbx-text">•</span>
                            <p class="cbx-text">5% en Puntos Premia por todastus compras</p>
                        </li>
                        <li class="list-item">
                            <span class="bullet cbx-text">•</span>
                            <p class="cbx-text">Martes de 50% en Puntos Premia en gasolina</p>
                        </li>
                    </ul>
                    <p class="cbx-text">Anualidad de $645 sin IVA </p>
                    <p class="cbx-text"> Ingreso mínimo $7000</p>
                    <p class="cbx-text">CAT promedio 73.3% si IVA</p>
                </div>
                <div class="card-buttons">
                    <div class="card-call">
                        <a class="cbx-link" href="#">Comparar</a>
                    </div>
                    <a class="cbx-button">Solicitar</a>
                </div>
            </div>
        </article>
        <article class="cbx-card" m-mody="c-img c-img-top c-button">
            <figure class="cbx-img">
                <img src="" alt="" />
            </figure>
            <div class="card-content">
                <button class="cbx-icon" m-size="40" m-mody="icon-bold flat">
                    <i class="icon-heart-s"></i>
                </button>
                <div class="card-description">
                    <p class="cbx-title">BSmart</p>
                    <ul class="cbx-list">
                        <li class="list-item">
                            <span class="bullet cbx-text">•</span>
                            <p class="cbx-text">5% en Puntos Premia por todastus compras</p>
                        </li>
                        <li class="list-item">
                            <span class="bullet cbx-text">•</span>
                            <p class="cbx-text">Martes de 50% en Puntos Premia en gasolina</p>
                        </li>
                    </ul>
                    <p class="cbx-text">Anualidad de $645 sin IVA </p>
                    <p class="cbx-text"> Ingreso mínimo $7000</p>
                    <p class="cbx-text">CAT promedio 73.3% si IVA</p>
                </div>
                <div class="card-buttons">
                    <div class="card-call">
                        <a class="cbx-link" href="#">Comparar</a>
                    </div>
                    <a class="cbx-button">Solicitar</a>
                </div>
            </div>
        </article>
        <article class="cbx-card" m-mody="c-img c-img-top c-button">
            <figure class="cbx-img">
                <img src="" alt="" />
            </figure>
            <div class="card-content">
                <button class="cbx-icon" m-size="40" m-mody="icon-bold flat">
                    <i class="icon-heart-s"></i>
                </button>
                <div class="card-description">
                    <p class="cbx-title">BSmart</p>
                    <ul class="cbx-list">
                        <li class="list-item">
                            <span class="bullet cbx-text">•</span>
                            <p class="cbx-text">5% en Puntos Premia por todastus compras</p>
                        </li>
                        <li class="list-item">
                            <span class="bullet cbx-text">•</span>
                            <p class="cbx-text">Martes de 50% en Puntos Premia en gasolina</p>
                        </li>
                    </ul>
                    <p class="cbx-text">Anualidad de $645 sin IVA </p>
                    <p class="cbx-text"> Ingreso mínimo $7000</p>
                    <p class="cbx-text">CAT promedio 73.3% si IVA</p>
                </div>
                <div class="card-buttons">
                    <div class="card-call">
                        <a class="cbx-link" href="#">Comparar</a>
                    </div>
                    <a class="cbx-button">Solicitar</a>
                </div>
            </div>
        </article>
        <article class="cbx-card" m-mody="c-img c-img-top c-button">
            <figure class="cbx-img">
                <img src="" alt="" />
            </figure>
            <div class="card-content">
                <button class="cbx-icon" m-size="40" m-mody="icon-bold flat">
                    <i class="icon-heart-s"></i>
                </button>
                <div class="card-description">
                    <p class="cbx-title">BSmart</p>
                    <ul class="cbx-list">
                        <li class="list-item">
                            <span class="bullet cbx-text">•</span>
                            <p class="cbx-text">5% en Puntos Premia por todastus compras</p>
                        </li>
                        <li class="list-item">
                            <span class="bullet cbx-text">•</span>
                            <p class="cbx-text">Martes de 50% en Puntos Premia en gasolina</p>
                        </li>
                    </ul>
                    <p class="cbx-text">Anualidad de $645 sin IVA </p>
                    <p class="cbx-text"> Ingreso mínimo $7000</p>
                    <p class="cbx-text">CAT promedio 73.3% si IVA</p>
                </div>
                <div class="card-buttons">
                    <div class="card-call">
                        <a class="cbx-link" href="#">Comparar</a>
                    </div>
                    <a class="cbx-button">Solicitar</a>
                </div>
            </div>
        </article>
        <article class="cbx-card" m-mody="c-img c-img-top c-button">
            <figure class="cbx-img">
                <img src="" alt="" />
            </figure>
            <div class="card-content">
                <button class="cbx-icon" m-size="40" m-mody="icon-bold flat">
                    <i class="icon-heart-s"></i>
                </button>
                <div class="card-description">
                    <p class="cbx-title">BSmart</p>
                    <ul class="cbx-list">
                        <li class="list-item">
                            <span class="bullet cbx-text">•</span>
                            <p class="cbx-text">5% en Puntos Premia por todastus compras</p>
                        </li>
                        <li class="list-item">
                            <span class="bullet cbx-text">•</span>
                            <p class="cbx-text">Martes de 50% en Puntos Premia en gasolina</p>
                        </li>
                    </ul>
                    <p class="cbx-text">Anualidad de $645 sin IVA </p>
                    <p class="cbx-text"> Ingreso mínimo $7000</p>
                    <p class="cbx-text">CAT promedio 73.3% si IVA</p>
                </div>
                <div class="card-buttons">
                    <div class="card-call">
                        <a class="cbx-link" href="#">Comparar</a>
                    </div>
                    <a class="cbx-button">Solicitar</a>
                </div>
            </div>
        </article>
        <article class="cbx-card" m-mody="c-img c-img-top c-button">
            <figure class="cbx-img">
                <img src="" alt="" />
            </figure>
            <div class="card-content">
                <button class="cbx-icon" m-size="40" m-mody="icon-bold flat">
                    <i class="icon-heart-s"></i>
                </button>
                <div class="card-description">
                    <p class="cbx-title">BSmart</p>
                    <ul class="cbx-list">
                        <li class="list-item">
                            <span class="bullet cbx-text">•</span>
                            <p class="cbx-text">5% en Puntos Premia por todastus compras</p>
                        </li>
                        <li class="list-item">
                            <span class="bullet cbx-text">•</span>
                            <p class="cbx-text">Martes de 50% en Puntos Premia en gasolina</p>
                        </li>
                    </ul>
                    <p class="cbx-text">Anualidad de $645 sin IVA </p>
                    <p class="cbx-text"> Ingreso mínimo $7000</p>
                    <p class="cbx-text">CAT promedio 73.3% si IVA</p>
                </div>
                <div class="card-buttons">
                    <div class="card-call">
                        <a class="cbx-link" href="#">Comparar</a>
                    </div>
                    <a class="cbx-button">Solicitar</a>
                </div>
            </div>
        </article>
        <article class="cbx-card" m-mody="c-img c-img-top c-button">
            <figure class="cbx-img">
                <img src="" alt="" />
            </figure>
            <div class="card-content">
                <button class="cbx-icon" m-size="40" m-mody="icon-bold flat">
                    <i class="icon-heart-s"></i>
                </button>
                <div class="card-description">
                    <p class="cbx-title">BSmart</p>
                    <ul class="cbx-list">
                        <li class="list-item">
                            <span class="bullet cbx-text">•</span>
                            <p class="cbx-text">5% en Puntos Premia por todastus compras</p>
                        </li>
                        <li class="list-item">
                            <span class="bullet cbx-text">•</span>
                            <p class="cbx-text">Martes de 50% en Puntos Premia en gasolina</p>
                        </li>
                    </ul>
                    <p class="cbx-text">Anualidad de $645 sin IVA </p>
                    <p class="cbx-text"> Ingreso mínimo $7000</p>
                    <p class="cbx-text">CAT promedio 73.3% si IVA</p>
                </div>
                <div class="card-buttons">
                    <div class="card-call">
                        <a class="cbx-link" href="#">Comparar</a>
                    </div>
                    <a class="cbx-button">Solicitar</a>
                </div>
            </div>
        </article>
        <article class="cbx-card" m-mody="c-img c-img-top c-button">
            <figure class="cbx-img">
                <img src="" alt="" />
            </figure>
            <div class="card-content">
                <button class="cbx-icon" m-size="40" m-mody="icon-bold flat">
                    <i class="icon-heart-s"></i>
                </button>
                <div class="card-description">
                    <p class="cbx-title">BSmart</p>
                    <ul class="cbx-list">
                        <li class="list-item">
                            <span class="bullet cbx-text">•</span>
                            <p class="cbx-text">5% en Puntos Premia por todastus compras</p>
                        </li>
                        <li class="list-item">
                            <span class="bullet cbx-text">•</span>
                            <p class="cbx-text">Martes de 50% en Puntos Premia en gasolina</p>
                        </li>
                    </ul>
                    <p class="cbx-text">Anualidad de $645 sin IVA </p>
                    <p class="cbx-text"> Ingreso mínimo $7000</p>
                    <p class="cbx-text">CAT promedio 73.3% si IVA</p>
                </div>
                <div class="card-buttons">
                    <div class="card-call">
                        <a class="cbx-link" href="#">Comparar</a>
                    </div>
                    <a class="cbx-button">Solicitar</a>
                </div>
            </div>
        </article>
    </div>
</section>