@import '../../mixins.pcss';

html {
	&[m-browser="ie"] {
		& .cbx-side-menu {
			& [m-open="true"] {
				& [m-size] {
					& .cbx-icon {
						width: 1.25vw;
						height: 1.25vw;
						i {
							font-size: 1.65vw;
						}
					}
				}
			}
			[m-open="false"] {
				[m-size] {
					&.cbx-icon {
						i {
							top: 0;
						}
					}
				}
			}
		}
		& .social-buttons {
			& .cbx-icon {
				height: 100%;
			}
		}
	}
	&[m-browser~="mobile"] {
		& .cbx-icon {
			& .icon-plus-o {
				position: relative;
				&:before {
					position: absolute;
					top: 56%;
					transform: translateY(-50%);
				}
			}
		}
	}
}
.cbx-side-menu {
	&[m-open="false"] {
		display: none;
	}
	&[m-open="true"] {
		display: block !important;
	}
	& .content-items {
		position: relative;
		&::before, &::after{
			@mixin absolute center-horizontal;
			content: "";
			height: 1px;
			width: 100%;
			background-color: var(--bright-gray);
		}
		&:before {
			top: 0;
		}
		&:after {
			@mixin transition background-color;
			bottom: 0;
		}
		&:hover {
			&:after {
				background-color: var(--soft-blue);
			}
		}
	}
	& .cbx-sub-headline {
		display: flex;
		width: 100%;
		padding: {
			@mixin viewport xs, top, 20;
			@mixin viewport xs, bottom, 20;
		}
		justify-content: space-between;
		&[m-open="true"] {
			& .icon-plus-o {
				@mixin transition content;
				&:before {
					content: "\59";
					font-weight: bold !important;
				}
			}
		}
	}
	& .contents-subitems {
		padding: {
			@mixin viewport xs, left, 20;
			@mixin viewport xs, right, 20;
		}
		& .subitem-menu {
			@mixin viewport xs, padding-bottom, 20;
		}
		& .cbx-link {
			color: var(--darkest-gray);
			position: relative;
			&:after {
				background-color: var(--darkest-gray);
			}
			&[m-active="true"] {
				&:before {
					content: "\6a";
					font-family: "cbx-icons" !important;
					position: absolute;
					@mixin viewport xs, left, -15;
					top: 50%;
					transform: translateY(-50%);
				}
			}
		}
	}
}

@media (width >= 768px) {
	.cbx-side-menu {
		& .cbx-sub-headline {
			padding: {
				top: 20px;
				bottom: 20px;
			}
		}
		& .contents-subitems {
			padding: {
				left: 20px;
				right: 20px;
			}
			& .subitem-menu {
				padding-bottom: 20px;
			}
			& .cbx-link {
				&[m-active="true"] {
					&:before {
						left: -15px;
					}
				}
			}
		}
	}
}
@media (width >= 1024px) {
	.cbx-side-menu {
		&[m-open="false"] {
			display: block;
		}
		& .cbx-sub-headline {
			padding: {
				@mixin viewport lg, top, 20;
				@mixin viewport lg, bottom, 20;
			}
		}
		& .contents-subitems {
			padding: {
				@mixin viewport lg, right, 20;
				@mixin viewport lg, left, 20;
			}
			& .subitem-menu {
				@mixin viewport lg, padding-bottom, 20;
			}
			& .cbx-link {
				&[m-active="true"] {
					&:before {
						@mixin viewport lg, left, -15;
					}
				}
			}
		}
	}
}
@media (width >= 1280px) {
	.cbx-side-menu {
		& .cbx-sub-headline {
			padding: {
				@mixin viewport xl, top, 20;
				@mixin viewport xl, bottom, 20;
			}
		}
		& .contents-subitems {
			padding: {
				@mixin viewport xl, right, 20;
				@mixin viewport xl, left, 20;
			}
			& .subitem-menu {
				@mixin viewport xl, padding-bottom, 20;
			}
			& .cbx-link {
				&[m-active="true"] {
					&:before {
						@mixin viewport xl, left, -20;
					}
				}
			}
		}
	}
}

@media (width >= 1440px) {
	.cbx-side-menu {
		& .cbx-sub-headline {
			padding: {
				@mixin viewport xxl, top,, 20;
				@mixin viewport xxl, bottom,, 20;
			}
		}
		& .contents-subitems {
			padding: {
				@mixin viewport xxl, right,, 20;
				@mixin viewport xxl, left,, 20;
			}
			& .subitem-menu {
				@mixin viewport xxl, padding-bottom,, 20;
			}
			& .cbx-link {
				&[m-active="true"] {
					&:before {
						@mixin viewport xxl, left,, -20;
					}
				}
			}
		}
	}
}