@import "../../mixins.pcss";

.cbx-sub-headline {
	font: {
		@mixin viewport xs, size, 16;
		family: var(--font-r);
	}
	color: var(--light-gray);
}

@media (--portrait) {
	.cbx-sub-headline {
		font-size: 16px;
	}
}

@media (--small-desktop) {
	.cbx-sub-headline {
		@mixin viewport lg, font-size, 16;
	}
}

@media (--large-desktop) {
	.cbx-sub-headline {
		@mixin viewport xl, font-size, 20;
	}
}

@media (--full) {
	.cbx-sub-headline {
		@mixin viewport xxl, font-size, 20;
	}
}
