<div m-container="form">
    <div class="cbx-input" m-error="false" m-success="false" m-empty="true">
        <input class="cbx-sub-title" type="text" name="" />
        <label class="cbx-sub-title">Nombre Completo</label>
        <span class="cbx-sub-text">Message </span>
    </div>
    <div class="cbx-input" m-error="false" m-success="false" m-empty="true">
        <input class="cbx-sub-title" type="text" name="" />
        <label class="cbx-sub-title">Coore electrónico</label>
        <span class="cbx-sub-text">Message </span>
    </div>
    <div class="cbx-input" m-error="false" m-success="false" m-empty="true">
        <input class="cbx-sub-title" type="text" name="" />
        <label class="cbx-sub-title">Confirmar correo</label>
        <span class="cbx-sub-text">Message </span>
    </div>
    <div class="cbx-input" m-error="false" m-success="false" m-empty="true">
        <input class="cbx-sub-title" type="text" name="" />
        <label class="cbx-sub-title">Celular</label>
        <span class="cbx-sub-text">Message </span>
    </div>
    <div class="cbx-select" m-error="false" m-success="false" m-empty="true">
        <select class="cbx-sub-title" name="">
            <option value="" selected="selected"></option>
            <option value="Todas">Todas</option>
            <option value="Recompensas">Recompensas</option>
            <option value="Viajes">Viajes</option>
            <option value="Compras">Compras</option>
            <option value="Deportes">Deportes</option>
        </select>
        <label class="cbx-sub-title">¿Qué seguro te interesa?</label>
        <span class="cbx-icon" m-size="10" m-mody="flat icon-bold">
            <i class="icon-angle-down-o"></i>
        </span>
        <span class="cbx-sub-text">Message</span>
    </div>
    <p class="cbx-text form-legal"> 
        Al dar clic en enviar, aceptas las Bases, Términos, Condiciones de Uso y el
        <a class="cbx-link" href="#">Aviso de  de Privacidad de Citibanamex</a>y de 
        <a class="cbx-link" href="#">Citibanamex Seguro </a>
        para el seguimiento de tu solicitud
    </p>
    <button class="cbx-button form-button" type="button">Enviar </button>
</div>
    
<br/><br/>

<div m-container="form">
    <div class="form-message" m-mody="success">
        <span class="cbx-icon" m-size="50" m-mody="fill circle icon-bold">
            <i class="icon-chek-o"></i>
        </span>
        <p class="cbx-headline-section" m-font="bold">¿Felicidades, ya estás participando!</p>
        <p class="cbx-sub-headline">Sigue pendiente para conocer la lista de ganadores</p>
    </div>
</div>

<br/><br/>

<div m-container="form">
    <div class="form-message" m-mody="error">
        <span class="cbx-icon" m-size="50" m-mody="fill circle icon-bold">
            <i class="icon-info-inverse-s"></i>
        </span>
        <p class="cbx-headline-section" m-font="bold">Lo sentimos, algo no anda bien...</p>
        <p class="cbx-sub-headline">Por el momento el sistema no está disponible</p>
    </div>
</div>

<br/><br/>

<div m-container="form">
    <div class="form-message" m-mody="loading">
        <span class="cbx-icon" m-size="50" m-mody="fill circle icon-bold">
            <i class="icon-clock-s"></i>
        </span>
        <p class="cbx-headline-section" m-font="bold">Estamos procesando tu información</p>
        <p class="cbx-sub-headline">Por el momento el sistema no está disponible</p>
    </div>
</div>

<br/><br/>