<section m-container="perfilador">
    <article class="cbx-perfilador">
        <picture class="cbx-img">
            <source media="(max-width: 767px)" srcset="/views/components/molecules/cbx-perfilador/img/mobile/Paso_1.jpg" />
            <source media="(min-width: 768px)" srcset="/views/components/molecules/cbx-perfilador/img/desktop/Paso_1.jpg" />
            <img src="/views/components/molecules/cbx-perfilador/img/desktop/Paso_1.jpg" alt="" />
        </picture>
        <div class="perfilador-labels">
            <p class="cbx-text"> 1 / 3</p>
            <button class="label-close" type="button">
                <span class="cbx-icon" m-size="20" m-mody="icon-bold" type="button">
                    <i class="icon-close-o"></i>
                </span>
            </button>
            <div class="content-perfilador">
                <p class="cbx-headline-section">¿Cuál es tu <br>ingreso mensual? </p>
            </div>
            <div class="perfil-rounded"></div>
            <button class="cbx-button" type="button" m-mody="raised">Continuar</button>
        </div>
    </article>
    <article class="cbx-perfilador">
        <picture class="cbx-img">
            <source media="(max-width: 767px)" srcset="/views/components/molecules/cbx-perfilador/img/mobile/Paso_1.jpg" />
            <source media="(min-width: 768px)" srcset="/views/components/molecules/cbx-perfilador/img/desktop/Paso_1.jpg" />
            <img src="/views/components/molecules/cbx-perfilador/img/desktop/Paso_1.jpg" alt="" />
        </picture>
        <div class="perfilador-labels">
            <p class="cbx-text"> 2 / 3</p>
            <button class="label-close" type="button">
                <span class="cbx-icon" m-size="20" m-mody="icon-bold" type="button">
                    <i class="icon-close-o"></i>
                </span>
            </button>
            <div class="content-perfilador">
                <p class="cbx-headline-section">¿Cuántos años <br>tienes? </p>
            </div>
            <div class="perfil-rounded"></div>
            <button class="cbx-button" type="button" m-mody="raised">Continuar</button>
        </div>
    </article>
    <article class="cbx-perfilador">
        <picture class="cbx-img">
            <source media="(max-width: 767px)" srcset="/views/components/molecules/cbx-perfilador/img/mobile/Paso_1.jpg" />
            <source media="(min-width: 768px)" srcset="/views/components/molecules/cbx-perfilador/img/desktop/Paso_1.jpg" />
            <img src="/views/components/molecules/cbx-perfilador/img/desktop/Paso_1.jpg" alt="" />
        </picture>
        <div class="perfilador-labels">
            <p class="cbx-text"> 3 / 3</p>
            <button class="label-close" type="button">
                <span class="cbx-icon" m-size="20" m-mody="icon-bold" type="button">
                    <i class="icon-close-o"></i>
                </span>
            </button>
            <div class="content-perfilador">
                <p class="cbx-headline-section">¿Acostumbras pagar <br>el total de tu tarjeta? </p>
            </div>
            <div class="perfil-buttton">
                <button class="cbx-button-boolean" type="button" m-active="false">
                    <span>SI</span>
                </button>
                <button class="cbx-button-boolean" type="button" m-active="false">
                    <span>NO</span>
                </button>
            </div>
            <button class="cbx-button" type="button" m-mody="raised">Terminar</button>
        </div>
    </article>
</section>