<section m-container="tdc-list">
	<div class="cbx-wrapper" m-drop-down="m-drop-down">
		<div class="tdc-item">
			<button class="cbx-sub-headline" type="button" m-open="false">
				<span>
					Tarjetas con 
					<span class="white-space">beneficios en puntos</span>
				</span>
				<span class="cbx-icon" m-size="20" m-mody="icon-bold">
					<i class="icon-angle-down-o"></i>
				</span>
			</button>
			<ul>
				<li>
					<a class="cbx-link" href="?lid=s.pageName-TextoBottom-Acquisition-irTarjetaClasica-ES">Clásica Citibanamex</a>
				</li>
				<li>
					<a class="cbx-link" href="?lid=s.pageName-TextoBottom-Acquisition-irTarjetaBsmart-ES">B•smart Citibanamex</a>
				</li>
				<li>
					<a class="cbx-link" href="?lid=s.pageName-TextoBottom-Acquisition-irTarjetaOro-ES">Oro Citibanamex</a>
				</li>
				<li>
					<a class="cbx-link" href="?lid=s.pageName-TextoBottom-Acquisition-irTarjetaPlatinum-ES">Platinum Citibanamex</a>
				</li>
			</ul>
		</div>
		<div class="tdc-item">
			<button class="cbx-sub-headline" type="button" m-open="false">
				<span>
					Tarjetas con 
					<span class="white-space">beneficios en viajes</span>
				</span>
				<span class="cbx-icon" m-size="20" m-mody="icon-bold">
					<i class="icon-angle-down-o"></i>
				</span>
			</button>
			<ul>
				<li>
					<a class="cbx-link" href="?lid=s.pageName-TextoBottom-Acquisition-irTarjetaPremiumCitiRewards-ES">Citibanamex Rewards</a>
				</li>
				<li>
					<a class="cbx-link" href="?lid=s.pageName-TextoBottom-Acquisition-irTarjetaPremiunCitiPremier-ES">Citibanamex Premier</a>
				</li>
				<li>
					<a class="cbx-link" href="?lid=s.pageName-TextoBottom-Acquisition-irTarjetaAadvantage-ES">Citi® / AAdvantage®</a>
				</li>
			</ul>
		</div>
		<div class="tdc-item">
			<button class="cbx-sub-headline" type="button" m-open="false">
				<span>
					Tarjetas 
					<span class="white-space">para estudiantes</span>
				</span>
				<span class="cbx-icon" m-size="20" m-mody="icon-bold">
					<i class="icon-angle-down-o"></i>
				</span>
			</button>
			<ul>
				<li>
					<a class="cbx-link" href="?lid=s.pageName-TextoBottom-Acquisition-irTarjetaBsmartU-ES"> B•smart Universidades</a>
				</li>
			</ul>
		</div>
		<div class="tdc-item">
			<button class="cbx-sub-headline" type="button" m-open="false">
				<span>
					Tarjetas con 
					<span class="white-space">beneficios en tiendas</span>
				</span>
				<span class="cbx-icon" m-size="20" m-mody="icon-bold">
					<i class="icon-angle-down-o"></i>
				</span>
			</button>
			<ul>
				<li>
					<a class="cbx-link" href="?lid=s.pageName-TextoBottom-Acquisition-irTarjetaHomeDepot-ES">The Home Depot Citibanamex</a>
				</li>
				<li>
					<a class="cbx-link" href="?lid=s.pageName-TextoBottom-Acquisition-irTarjetaOfficeDepot-ES">Office Deport Citibanamex</a>
				</li>
				<li>
					<a class="cbx-link" href="?lid=s.pageName-TextoBottom-Acquisition-irTarjetaBestBuy-ES">Best Buy Citibanamex</a>
				</li>
				<li>
					<a class="cbx-link" href="?lid=s.pageName-TextoBottom-Acquisition-irTarjetaCostco-ES">Costco Citibanamex</a>
				</li>
				<li>
					<a class="cbx-link" href="?lid=s.pageName-TextoBottom-Acquisition-irTarjetaAffinityCard-ES">Affinity Card Citibanamex</a>
				</li>
			</ul>
		</div>
		<div class="tdc-item">
			<button class="cbx-sub-headline" type="button" m-open="false">
				<span>
					Tarjetas con 
					<span class="white-space">beneficios en deportes</span>
				</span>
				<span class="cbx-icon" m-size="20" m-mody="icon-bold">
					<i class="icon-angle-down-o"></i>
				</span>
			</button>
			<ul>
				<li>
					<a class="cbx-link" href="?lid=s.pageName-TextoBottom-Acquisition-irTarjetaDeporteismo-ES">Martí Clásica Citibanamex</a>
				</li>
				<li>
					<a class="cbx-link" href="?lid=s.pageName-TextoBottom-Acquisition-irTarjetaDeporteismoPlatinum-ES">Martí Premium Citibanamex</a>
				</li>
				<li>
					<a class="cbx-link" href="?lid=s.pageName-TextoBottom-Acquisition-irTarjetaAmerica-ES">América Deporteísmo</a>
				</li>
				<li>
					<a class="cbx-link" href="?lid=s.pageName-TextoBottom-Acquisition-irTarjetaToluca-ES">Toluca Deporteísmo</a>
				</li>
				<li>
					<a class="cbx-link" href="?lid=s.pageName-TextoBottom-Acquisition-irTarjetaLaVerde-ES">La Verde Citibanamex</a>
				</li>
			</ul>
		</div>
		<div class="tdc-item">
			<button class="cbx-sub-headline" type="button" m-open="false">
				<span>
					Tarjetas 
					<span class="white-space">para ayudar</span>
				</span>
				<span class="cbx-icon" m-size="20" m-mody="icon-bold">
					<i class="icon-angle-down-o"></i>
				</span>
			</button>
			<ul>
				<li>
					<a class="cbx-link" href="?lid=s.pageName-TextoBottom-Acquisition-irTarjetaTeleton-ES">Teletón Citibanamex</a>
				</li>
			</ul>
		</div>
	</div>
</section>