


.cbx-link{
    &[m-theme=white]{
        color: var(--white);
        &::after{
            background-color: var(--white);
        }
        &[m-mody~=cta]{
            .cbx-icon{
                color: var(--white);
            }
        }
    }
}