<section m-desk="faqs">
    <div class="cbx-wrapper">
        <h4 class="cbx-title">Preguntas Frecuentes</h4>
        <div class="cbx-faqs">
            <article m-drop-down="m-drop-down" m-open="true">
                <div class="content-items">
                    <button class="cbx-text head-faqs" type="button" m-open="false" aria-controls="aria-controls">
                        ¿Pregunta frecuente número 1?
                        <span class="cbx-icon" m-size="15" m-mody="flat">
                            <i class="icon-angle-down-s"></i>
                        </span>
                    </button>
                    <div class="answer-faqs">
                        <p class="cbx-text">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
                        </p>
                    </div>
                </div>
                <div class="content-items">
                    <button class="cbx-text head-faqs" type="button" m-open="false" aria-controls="aria-controls">
                        ¿Pregunta frecuente número 2?
                        <span class="cbx-icon" m-size="15" m-mody="flat">
                            <i class="icon-angle-down-s"></i>
                        </span>
                    </button>
                    <div class="answer-faqs">
                        <p class="cbx-text">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
                        </p>
                    </div>
                </div>
                <div class="content-items">
                    <button class="cbx-text head-faqs" type="button" m-open="false" aria-controls="aria-controls">
                        ¿Pregunta frecuente número 3?
                        <span class="cbx-icon" m-size="15" m-mody="flat">
                            <i class="icon-angle-down-s"></i>
                        </span>
                    </button>
                    <div class="answer-faqs">
                        <p class="cbx-text">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
                        </p>
                    </div>
                </div>
                <div class="content-items">
                    <button class="cbx-text head-faqs" type="button" m-open="false" aria-controls="aria-controls">
                        ¿Pregunta frecuente número 4?
                        <span class="cbx-icon" m-size="15" m-mody="flat">
                            <i class="icon-angle-down-s"></i>
                        </span>
                    </button>
                    <div class="answer-faqs">
                        <p class="cbx-text">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
                        </p>
                    </div>
                </div>
                <div class="content-items">
                    <button class="cbx-text head-faqs" type="button" m-open="false" aria-controls="aria-controls">
                        ¿Pregunta frecuente número 5?
                        <span class="cbx-icon" m-size="15" m-mody="flat">
                            <i class="icon-angle-down-s"></i>
                        </span>
                    </button>
                    <div class="answer-faqs">
                        <p class="cbx-text">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
                        </p>
                    </div>
                </div>
            </article>
            <article class="cbx-card" m-mody="c-phone">
                <div class="card-content">
                    <div class="card-head">
                        <h3 class="cbx-title">¿Tienes más dudas?</h3>
                    </div>
                    <div class="card-body">
                        <div class="item">
                            <p class="cbx-text">Unidad Especializada de Atención de Consultas y reclamaciones</p>
                            <a class="cbx-link" href="tel:018000063342" m-mody="phone">01 800 006 33 42</a>
                        </div>
                        <div class="item">
                            <p class="cbx-text">Atención exclusiva para cliente:</p>
                            <a class="cbx-link" href="tel:018009002880" m-mody="phone">01 800 900 28 80</a>
                        </div>
                        <div class="item">
                            <a class="cbx-link" href="mailto:018009002880">uneseguros@chubb.com</a>
                        </div>
                    </div>
                </div>
            </article>
        </div>
    </div>
</section>

<br /><br /><br /><br /><br />

<section m-desk="faqs" m-theme="background-gray">
    <div class="cbx-wrapper">
        <h4 class="cbx-title">Preguntas frecuentes</h4>
        <div class="cbx-faqs">
            <article m-drop-down="m-drop-down" m-open="true">
                <div class="content-items">
                    <button class="cbx-text head-faqs" type="button" m-open="false" aria-controls="aria-controls">
                        ¿Pregunta frecuente número 1?
                        <span class="cbx-icon" m-size="15" m-mody="flat">
                            <i class="icon-angle-down-s"></i>
                        </span>
                    </button>
                    <div class="answer-faqs">
                        <p class="cbx-text">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
                        </p>
                    </div>
                </div>
                <div class="content-items">
                    <button class="cbx-text head-faqs" type="button" m-open="false" aria-controls="aria-controls">
                        ¿Pregunta frecuente número 2?
                        <span class="cbx-icon" m-size="15" m-mody="flat">
                            <i class="icon-angle-down-s"></i>
                        </span>
                    </button>
                    <div class="answer-faqs">
                        <p class="cbx-text">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
                        </p>
                    </div>
                </div>
                <div class="content-items">
                    <button class="cbx-text head-faqs" type="button" m-open="false" aria-controls="aria-controls">
                        ¿Pregunta frecuente número 3?
                        <span class="cbx-icon" m-size="15" m-mody="flat">
                            <i class="icon-angle-down-s"></i>
                        </span>
                    </button>
                    <div class="answer-faqs">
                        <p class="cbx-text">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
                        </p>
                    </div>
                </div>
                <div class="content-items">
                    <button class="cbx-text head-faqs" type="button" m-open="false" aria-controls="aria-controls">
                        ¿Pregunta frecuente número 4?
                        <span class="cbx-icon" m-size="15" m-mody="flat">
                            <i class="icon-angle-down-s"></i>
                        </span>
                    </button>
                    <div class="answer-faqs">
                        <p class="cbx-text">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
                        </p>
                    </div>
                </div>
                <div class="content-items">
                    <button class="cbx-text head-faqs" type="button" m-open="false" aria-controls="aria-controls">
                        ¿Pregunta frecuente número 5?
                        <span class="cbx-icon" m-size="15" m-mody="flat">
                            <i class="icon-angle-down-s"></i>
                        </span>
                    </button>
                    <div class="answer-faqs">
                        <p class="cbx-text">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
                        </p>
                    </div>
                </div>
            </article>
            <article class="cbx-card" m-mody="c-phone">
                <div class="card-content">
                    <div class="card-head">
                        <h3 class="cbx-title">¿Tienes más dudas?</h3>
                    </div>
                    <div class="card-body">
                        <div class="item">
                            <p class="cbx-text">Unidad Especializada de Atención de Consultas y reclamaciones</p>
                            <a class="cbx-link" href="tel:018000063342" m-mody="phone">01 800 006 33 42</a>
                        </div>
                        <div class="item">
                            <p class="cbx-text">Atención exclusiva para cliente:</p>
                            <a class="cbx-link" href="tel:018009002880" m-mody="phone">01 800 900 28 80</a>
                        </div>
                        <div class="item">
                            <a class="cbx-link" href="mailto:018009002880">uneseguros@chubb.com</a>
                        </div>
                    </div>
                </div>
            </article>
        </div>
    </div>
</section>