@import "../../mixins.pcss";

.cbx-text {
	font: {
		@mixin viewport xs, size, 14;
		family: var(--font-r);
	}
	color: var(--darkest-gray);
}

@media (--portrait) {
	.cbx-text {
		font-size: 14px;
	}
}

@media (--small-desktop) {
	.cbx-text {
		@mixin viewport lg, font-size, 14;
	}
}

@media (--large-desktop) {
	.cbx-text {
		@mixin viewport xl, font-size, 16;
	}
}

@media (--full) {
	.cbx-text {
		@mixin viewport xxl, font-size, 16;
	}
}
