

.cbx-text{
    font: {
        size: viewport(xs, 14);
        family: var(--font-r);
    }
    color: var(--darkest-gray);
}

@media width >= 768px{
    .cbx-text{
        font-size: 14px;
    }
}

@media width >= 1024px{
    .cbx-text{
        font-size: viewport(lg, 14);
    }
}


@media width >= 1280px{
    .cbx-text{
        font-size: viewport(xl, 16);
    }
}

@media width >= 1440px{
    .cbx-text{
        font-size: viewport(xxl, 16);
    }
}