@import '../../mixins.pcss';

.cbx-text {
	@mixin viewport xs, font-size, 14;
	font-family: var(--font-r);
	color: var(--darkest-gray);
}

@media (width >= 768px) {
	.cbx-text {
		font-size: 14px;
	}
}

@media (width >= 1024px) {
	.cbx-text {
		@mixin viewport lg, font-size, 14;
	}
}

@media (width >= 1280px) {
	.cbx-text {
		@mixin viewport xl, font-size, 16;
	}
}

@media (width >= 1440px) {
	.cbx-text {
		@mixin viewport xxl, font-size, 16;
	}
}
