
.cbx-list{ 
    margin-bottom: viewport(xs,20);
    .list-item{
        display: flex;
        .bullet{
            margin-right: viewport(xs,5);
        }
    }
}

@media width >= 768px{
    margin-bottom: 20px;
    .cbx-list{
        .list-item{
            .bullet{
                margin-right: 5px;
            }
        }
    }
}
@media width >= 1024px{
    .cbx-list{
        margin-bottom: viewport(lg,20);
        .list-item{
            .bullet{
                margin-right: viewport(lg,5)
            }
        }
    }
}

@media width >= 1280px{
    margin-bottom: viewport(xl,20);
    .cbx-list{
        .list-item{
            .bullet{
                margin-right: viewport(xl,5)
            }
        }
    }
}

@media width >= 1440px{
    margin-bottom: viewport(xxl,20);
    .cbx-list{
        .list-item{
            .bullet{
                margin-right: viewport(xxl,5)
            }
        }
    }
}