<article class="cbx-card">
	<div class="card-content">
		<div class="card-description">
			<p class="cbx-text"> Label template</p>
		</div>
	</div>
</article>

<br/><br/>

<article class="cbx-card">
	<div class="card-content">
		<span class="cbx-icon" m-size="20" m-mody="border rounded">
			<i class="icons-seguros-accidentes-o"></i>
		</span>
		<div class="card-description">
			<p class="cbx-text"> Label template</p>
		</div>
	</div>
</article>

<br/><br/>

<article class="cbx-card">
	<div class="card-content">
		<div class="card-description">
			<p class="cbx-text"> Label template</p>
			<p class="cbx-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas doloremque consequatur quo laudantium.</p>
		</div>
	</div>
</article>

<br/><br/>

<article class="cbx-card" m-mody="c-icon">
	<div class="card-content">
		<span class="cbx-icon" m-size="20" m-mody="border rounded">
			<i class="icon-angle-right-o"></i>
		</span>
		<div class="card-description">
			<p class="cbx-text">Label template</p>
			<p class="cbx-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas doloremque consequatur quo laudantium.</p>
		</div>
	</div>
</article>

<br/><br/>

<article class="cbx-card" m-mody="c-icon c-icon-top">
	<div class="card-content">
		<span class="cbx-icon" m-size="20" m-mody="border rounded">
			<i class="icon-angle-right-o"></i>
		</span>
		<div class="card-description">
			<p class="cbx-text">Label template</p>
			<p class="cbx-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas doloremque consequatur quo laudantium.</p>
		</div>
	</div>
</article>

<br/><br/>

<article class="cbx-card">
	<div class="card-content">
		<div class="card-description">
			<p class="cbx-title"> Label template</p>
			<p class="cbx-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas doloremque consequatur quo laudantium.</p>
		</div>
	</div>
</article>

<br/><br/>

<article class="cbx-card" m-mody="c-icon">
	<div class="card-content">
		<span class="cbx-icon" m-size="20" m-mody="border rounded">
			<i class="icon-angle-right-o"></i>
		</span>
		<div class="card-description">
			<p class="cbx-title">Label template</p>
			<p class="cbx-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas doloremque consequatur quo laudantium.</p>
		</div>
	</div>
</article>

<br/><br/>

<article class="cbx-card" m-mody="c-icon c-icon-top">
	<div class="card-content">
		<span class="cbx-icon" m-size="20" m-mody="border rounded">
			<i class="icon-angle-right-o"></i>
		</span>
		<div class="card-description">
			<p class="cbx-title">Label template</p>
			<p class="cbx-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas doloremque consequatur quo laudantium.</p>
		</div>
	</div>
</article>

<br/><br/>

<article class="cbx-card" m-mody="c-img">
	<figure class="cbx-img">
		<img src="" alt="" />
	</figure>
	<div class="card-content">
		<div class="card-description">
			<p class="cbx-title">Label template</p>
			<p class="cbx-text">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
		</div>
	</div>
</article>

<br/><br/>

<article class="cbx-card" m-mody="c-img c-img-top c-request">
	<figure class="cbx-img">
		<img src="" alt="" />
	</figure>
	<div class="card-content">
		<div class="card-description">
			<p class="cbx-title">Solicíta tu tarjeta para el Buen Fin</p>
			<a class="cbx-link" href="#" m-mody="cta" m-theme="white">
				Solicítala
				<span class="cbx-icon" m-size="20" m-mody="icon-bold">
					<i class="icon-arrow-right-o"></i>
				</span>
			</a>
		</div>
	</div>
</article>

<br/><br/>

<article class="cbx-card" m-mody="c-img c-img-icon">
	<figure class="cbx-img">
		<img src="" alt="" />
	</figure>
	<div class="card-content">
		<span class="cbx-icon" m-size="20" m-mody="border rounded">
			<i class="icon-angle-right-o"></i>
		</span>
		<div class="card-description">
			<p class="cbx-title">Label template</p>
			<p class="cbx-text">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
		</div>
	</div>
</article>

<br/><br/>

<article class="cbx-card" m-mody="c-img c-img-top c-button">
	<figure class="cbx-img">
		<img src="" alt="" />
	</figure>
	<div class="card-content">
		<div class="card-description">
			<p class="cbx-title">Label template</p>
			<p class="cbx-text">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
		</div>
		<div class="card-buttons">
			<div class="card-call">
				<a class="cbx-link" href="#">Detalles</a>
			</div>
			<a class="cbx-button">Me interesa</a>
		</div>
	</div>
</article>

<br/><br/>

<article class="cbx-card" m-mody="c-img c-img-top c-button">
	<figure class="cbx-img">
		<img src="" alt="" />
	</figure>
	<div class="card-content">
		<span class="cbx-icon" m-size="20" m-mody="border rounded">
			<i class="icon-angle-right-o"></i>
		</span>
		<div class="card-description">
			<p class="cbx-title">Label template</p>
			<p class="cbx-text">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
		</div>
		<div class="card-buttons">
			<div class="card-call">
				<a class="cbx-link" href="#">Detalles</a>
			</div>
			<a class="cbx-button">Me interesa</a>
		</div>
	</div>
</article>

<br/><br/>

<article class="cbx-card" m-mody="c-img c-img-top c-img-square">
	<figure class="cbx-img">
		<img src="" alt="" />
	</figure>
	<div class="card-content">
		<div class="card-description">
			<p class="cbx-title">Label template</p>
			<p class="cbx-text">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
		</div>
	</div>
</article>

<br/><br/>

<article class="cbx-card" m-mody="c-img c-img-square-h c-blue-wave">
	<figure class="cbx-img">
		<img src="" alt="" />
	</figure>
	<div class="card-content">
		<div class="card-description">
			<p class="cbx-title">Accede a las mejores preventas</p>
			<a class="cbx-link" href="#" m-mody="cta" m-theme="white">
				Solicítala
				<span class="cbx-icon" m-size="20" m-mody="icon-bold">
					<i class="icon-arrow-right-o"></i>
				</span>
			</a>
		</div>
	</div>
</article>

<br/><br/>

<article class="cbx-card" m-mody="c-img c-img-square-h">
	<figure class="cbx-img">
		<img src="" alt="" />
	</figure>
	<div class="card-content">
		<div class="card-description">
			<p class="cbx-title">Label template</p>
			<p class="cbx-text">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
		</div>
	</div>
</article>

<br/><br/>

<article class="cbx-card" m-mody="c-img c-img-top c-img-square-v">
	<figure class="cbx-img">
		<img src="" alt="" />
	</figure>
	<div class="card-content">
		<div class="card-description">
			<p class="cbx-title">Label template</p>
			<p class="cbx-text">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
		</div>
	</div>
</article>

<br/><br/>

<article class="cbx-card" m-mody="c-img c-img-square c-img-top c-img-large">
	<figure class="cbx-img">
		<img src="" alt="" />
	</figure>
	<div class="card-content">
		<div class="card-description">
			<p class="cbx-sub-category">PREVENTA CITIBANAMEX</p>
			<p class="cbx-title">Label template</p>
			<p class="cbx-text">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
		</div>
	</div>
</article>

<br/><br/>

<article class="cbx-card" m-mody="c-img c-img-large-full">
	<figure class="cbx-img">
		<img src="" alt="" />
	</figure>
	<div class="card-content">
		<div class="card-description">
			<p class="cbx-sub-category">PREVENTA CITIBANAMEX</p>
			<p class="cbx-title">Label template</p>
			<p class="cbx-text">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
		</div>
	</div>
</article>

<br/><br/>

<article class="cbx-card" m-mody="c-img c-img-large-full c-img-double">
	<div class="card-images">
		<figure class="cbx-img">
			<img src="" alt="" />
		</figure>
		<figure class="cbx-img">
			<img src="" alt="" />
		</figure>
	</div>
	<div class="card-content">
		<div class="card-description">
			<p class="cbx-sub-category">PREVENTA CITIBANAMEX</p>
			<p class="cbx-title">Label template</p>
			<p class="cbx-text">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
			<a class="cbx-button"> Solicítala</a>
			<a class="cbx-link">En otro momento</a>
		</div>
	</div>
</article>

<br/><br/>

<h2 class="cbx-sub-title">BEGIN DMP</h2><br/><br/>
<article class="cbx-card" m-dmp="m-dmp" m-mody="c-img c-button-full c-img-large-full">
	<picture class="cbx-img">
		<source media="(max-width:767px)" srcset="/assets/img/dmp/BAUinterest.jpg" />
		<source media="(min-width:1024px) and (max-width:1279px)" srcset="/assets/img/dmp/landscape/BAUinterest.jpg" />
		<source media="(min-width:1280px)" srcset="/assets/img/dmp/BAUinterest.jpg" />
		<img src="/assets/img/dmp/BAUinterest.jpg" alt="" />
	</picture>
	<div class="card-content">
		<div class="card-description">
			<p class="cbx-sub-category">PREVENTA CITIBANAMEX</p>
			<p class="cbx-title">Label template Label template</p>
			<p class="cbx-text">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
		</div>
		<div class="card-buttons">
			<a class="cbx-button"> Solicítala</a>
			<a class="cbx-link">En otro momento</a>
		</div>
	</div>
</article>

<br/><br/>

<article class="cbx-card" m-dmp="m-dmp" m-mody="c-img c-button-full c-img-large-full c-img-double">
	<div class="card-images">
		<figure class="cbx-img">
			<img src="" alt="" />
		</figure>
		<figure class="cbx-img">
			<img src="" alt="" />
		</figure>
	</div>
	<div class="card-content">
		<div class="card-description">
			<p class="cbx-sub-category">PREVENTA CITIBANAMEX</p>
			<p class="cbx-title">Label template Label template Label template </p>
			<p class="cbx-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Lorem ipsum dolor sit amet consectetur adipisicing elit. Lorem ipsum dolor sit amet consectetur adipisicing elit. Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
		</div>
		<div class="card-buttons">
			<a class="cbx-button"> Solicítala</a>
			<a class="cbx-link">En otro momento</a>
		</div>
	</div>
</article>

<br/><br/>

<article class="cbx-card" m-dmp="m-dmp" m-mody="c-img c-button-full c-img-large-full c-img-double-big">
	<div class="card-images">
		<figure class="cbx-img">
			<img src="" alt="" />
		</figure>
		<figure class="cbx-img">
			<img src="" alt="" />
		</figure>
	</div>
	<div class="card-content">
		<div class="card-description">
			<p class="cbx-sub-category">PREVENTA CITIBANAMEX</p>
			<p class="cbx-title">Label template Label template Label template </p>
			<p class="cbx-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Lorem ipsum dolor sit amet consectetur adipisicing elit. Lorem ipsum dolor sit amet consectetur adipisicing elit. Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
		</div>
		<div class="card-buttons">
			<a class="cbx-button"> Solicítala</a>
			<a class="cbx-link">En otro momento</a>
		</div>
	</div>
</article>

<br/><br/>

<article class="cbx-card" m-dmp="m-dmp" m-mody="c-img c-button-full c-img-large-full c-img-double-big">
	<div class="card-images">
		<picture class="cbx-img">
			<source media="(max-width:767px)" srcset="/assets/img/dmp/BAUinterest.jpg" />
			<source media="(min-width:1024px) and (max-width:1279px)" srcset="/assets/img/dmp/landscape/BAUinterest.jpg" />
			<source media="(min-width:1280px)" srcset="/assets/img/dmp/BAUinterest.jpg" />
			<img src="/assets/img/dmp/BAUinterest.jpg" alt="" />
		</picture>
		<figure class="cbx-img">
			<img src="" alt="" />
		</figure>
	</div>
	<div class="card-content">
		<div class="card-description">
			<p class="cbx-sub-category">PREVENTA CITIBANAMEX</p>
			<p class="cbx-title">Label template Label template Label template </p>
			<p class="cbx-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Lorem ipsum dolor sit amet consectetur adipisicing elit. Lorem ipsum dolor sit amet consectetur adipisicing elit. Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
		</div>
		<div class="card-buttons">
			<a class="cbx-button"> Solicítala</a>
			<a class="cbx-link">En otro momento</a>
		</div>
	</div>
</article>

<br/><br/>

<h2 class="cbx-sub-title">END DMP</h2>

<br/><br/>

<article class="cbx-card" m-mody="c-stamp">
	<div class="card-content">
		<figure class="cbx-img card-stamp">
			<img src="img/stamp.png" alt="" />
		</figure>
		<div class="card-description">
			<p class="cbx-sub-category">PREVENTA CITIBANAMEX</p>
			<p class="cbx-title">Label template</p>
			<p class="cbx-text">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p><a class="cbx-link" href="#" m-mody="cta">Conocer más<span class="cbx-icon" m-size="20" m-mody="icon-bold"><i class="icon-arrow-right-o"></i></span></a></div>
	</div>
	<figure class="cbx-img card-img"><img src="img/img_phone.jpg" alt="" /></figure>
</article>

<br/><br/>

<article class="cbx-card" m-mody="c-stamp c-app">
	<div class="card-content">
		<figure class="cbx-img card-stamp">
			<img src="img/stamp.png" alt="" />
		</figure>
		<div class="card-description">
			<p class="cbx-sub-category">PREVENTA CITIBANAMEX</p>
			<p class="cbx-title">Label template</p>
			<p class="cbx-text">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
			<a class="cbx-link" href="#" m-mody="cta">
				Conocer más
				<span class="cbx-icon" m-size="20" m-mody="icon-bold">
					<i class="icon-arrow-right-o"></i>
				</span>
			</a>
			<div class="cbx-apps">
				<button type="button" m-mody="apple" m-exit="">
					<figure class="cbx-img">
						<img src="/views/components/molecules/cbx-apps/img/app-store.png" alt=""/>
					</figure>
				</button>
				<button type="button" m-mody="google">
					<figure class="cbx-img">
						<img src="/views/components/molecules/cbx-apps/img/google-play-store.png" alt=""/>
					</figure>
				</button>
			</div>
		</div>
	</div>
	<figure class="cbx-img card-img">
		<img src="img/img_phone.jpg" alt="" />
	</figure>
</article>

<br/><br/>

<article class="cbx-card" m-mody="c-stamp c-stamp-only c-app">
	<div class="card-content">
		<figure class="cbx-img card-stamp">
			<img src="img/stamp.png" alt="" />
		</figure>
		<div class="card-description">
			<p class="cbx-sub-category">PREVENTA CITIBANAMEX</p>
			<p class="cbx-title">Label template</p>
			<p class="cbx-text">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
			<div class="cbx-apps">
				<button type="button" m-mody="apple" m-web="true" m-exit="">
					<figure class="cbx-img">
						<img src="/views/components/molecules/cbx-apps/img/app-store.png" alt=""/>
					</figure>
				</button>
				<button type="button" m-mody="google">
					<figure class="cbx-img">
						<img src="/views/components/molecules/cbx-apps/img/google-play-store.png" alt=""/>
					</figure>
				</button>
			</div>
		</div>
	</div>
</article>

<br/><br/>

<article class="cbx-card" m-mody="c-phone c-phone-full">
	<div class="card-content">
		<div class="card-head">
			<h3 class="cbx-title">Audiomático</h3>
			<p class="cbx-text">Las 24 horas los 7 días de la semana</p>
		</div>
		<div class="card-body">
			<div class="item">
				<p class="cbx-text">Ciudad de México</p><a class="cbx-link" href="tel:22626391" m-mody="phone">2262 6391</a>
				<p class="cbx-text">(BANAMEX-1)</p>
			</div>
			<div class="item">
				<p class="cbx-text">Ciudad de México, Guadalajara y Monterrey</p><a class="cbx-link" href="tel:12262639" m-mody="phone">1-2262639</a>
				<p class="cbx-text">(BANAMEX-1)</p>
			</div>
			<div class="item">
				<p class="cbx-text">Del interior sin costo</p><a class="cbx-link" href="tel:22626391" m-mody="phone">01 800 021 2345</a></div>
			<div class="item">
				<p class="cbx-text">EUA y Canadá</p><a class="cbx-link" href="tel:18002262639" m-mody="phone">1 800 226 2639</a>
				<p class="cbx-text">(1 800 BANAMEX)</p>
			</div>
			<div class="item">
				<p class="cbx-text">De otro país por cobrar a EUA</p><a class="cbx-link" href="tel:16367226799" m-mody="phone">1636 722 6799</a></div>
		</div>
		<div class="card-footer">
			<p class="cbx-legal">Los ejecutivos telefónicos te atienden de: lunes a viernes de 7:00 a 23:00 h. Sábados, domingos y días festivos de 9:00 a 21:00 h.</p>
		</div>
	</div>
</article>

<br/><br/>

<article class="cbx-card" m-mody="c-phone">
	<div class="card-content">
		<div class="card-head">
			<h3 class="cbx-title">Audiomático</h3>
			<p class="cbx-text">Las 24 horas los 7 días de la semana</p>
		</div>
		<div class="card-body">
			<div class="item">
				<p class="cbx-text">Ciudad de México</p>
				<a class="cbx-link" href="tel:22623673" m-mody="phone">2262 3673</a>
			</div>
			<div class="item">
				<p class="cbx-text">Del interior sin costo</p>
				<a class="cbx-link" href="tel:018002823673" m-mody="phone">01 800 282 3673</a>
			</div>
		</div>
	</div>
</article>

<br/><br/>

<article class="cbx-card cbx-img" m-mody="c-img-background">
	<div class="card-content">
		<picture class="cbx-img">
			<source media="(min-width: )" srcset="" />
			<source media="(min-width: )" srcset="" />
			<img src="" alt="" />
			<figcaption class="card-description">
				<p class="cbx-title"> Aprovecha las Preventas Citibanamex</p>
			</figcaption>
		</picture>
	</div>
</article>

<br/><br/>
