@import '../../mixins.pcss';

html {
	&[m-browser~="mobile"] {
		& .cbx-card {
			&[m-mody~="c-app"] {
				& .card-description {
					@mixin viewport xs, margin-bottom, 10;
					& .cbx-text {
						@mixin viewport xs, margin-bottom, 10;
					}
					& .cbx-link {
						display: none;
					}
				}
			}
		}
	}
	&[m-browser="ie"] {
		& .cbx-card {
			&[m-mody*="c-img-large"] {
				display: flex;
				height: 100%;
				overflow: hidden;
			}
			&[m-dmp] {
				height: auto !important;
				&[m-open="false"] {
					display: none;
				}
				& .cbx-img {
					height: auto !important;
				}
			}
		}
	}
}

button.cbx-card {
	&:active {
		@mixin box-shadow xs, medium-out;
	}
}
.cbx-card {
	@mixin box-shadow xs, medium-out;
	@mixin border-radius xs;
	background-color: var(--white);
	display: flex;
	@mixin viewport xs, min-height, 20;
	@mixin viewport xs, padding, 20;
	@mixin viewport xs, width, 280;
	z-index: 0;
	& .card-content {
		display: flex;
		align-items: center;
		min-height: inherit;
		height: 100%;
		& .cbx-icon {
			@mixin viewport xs, margin-right, 20;
		}
	}
	& .card-description {
		width: 100%;
		& .cbx-title,
		& .cbx-sub-category {
			@mixin viewport xs, margin-bottom, 10;
		}
		& .cbx-text {
			@mixin viewport xs, margin-bottom, 10;
			&:last-child {
				margin-bottom: 0;
			}
		}
		& .cbx-list {
			& .list-item {
				@mixin viewport xs, margin-bottom, 10;
				&:last-child {
					margin-bottom: 0;
				}
			}
		}
	}
	& .card-stamp,
	& .card-img {
		@mixin viewport xs, margin-bottom, 20;
	}
	& .card-call {
		height: inherit;
		& > .cbx-link {
			display: flex;
			align-items: center;
			justify-content: center;
			height: inherit;
			width: 100%;
		}
	}
	& .cbx-link {
		text-align: center;
	}
	& [m-mody~="c-relative"] {
		position: relative;
	}
	& &.slick-slide {
		display: flex !important;
	}
	&[m-dmp] {
		@mixin viewport xs, width, 280;
		text-align: center;
		overflow: hidden;
		display: none;
		&[m-open="true"] {
			position: fixed;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			z-index: 4;
			display: flex;
		}
		& .card-content {
			box-shadow: none !important;
			border-radius: 0;
		}
		& .card-description {
			@mixin viewport xs, padding-top, 40;
			padding-bottom: 0;
			& > .cbx-sub-category,
			& > .cbx-title {
				@mixin viewport xs, margin-bottom, 20;
			}
			& > .cbx-text {
				@mixin viewport xs, min-height, 65;
				@mixin viewport xs, max-height, 65;
				overflow: hidden;
			}
		}
		& .card-images {
			@mixin viewport xs, height, 150;
		}
		& .card-buttons {
			@mixin viewport xs, margin-bottom, 40;
			& .cbx-button {
				@mixin viewport xs, margin-bottom, 40;
			}
		}
	}
	&[m-mody~="c-icon"] {
		& .card-content {
			align-items: flex-start;
		}
	}
	&[m-mody~="c-icon-top"] {
		& .card-content {
			flex-direction: column;
			flex-basis: 100%;
			& > .cbx-icon {
				@mixin viewport xs, margin-bottom, 10;
				margin-right: 0;
			}
		}
	}
	&[m-mody~="c-icon-spaces"] {
		& .card-content {
			& > .cbx-icon {
				@mixin viewport xs, margin-top, 20;
				@mixin viewport xs, margin-bottom, 50;
			}
		}
		& .card-description {
			& .cbx-text {
				@mixin viewport xs, margin-bottom, 20;
			}
		}
	}
	&[m-mody~="c-img"] {
		@mixin viewport xs, padding-left, 20;
		padding: 0;
		position: relative;
		flex-direction: column;
		justify-content: flex-end;
		background-color: transparent;
		& .cbx-img {
			@mixin absolute center-vertical;
			@mixin viewport xs, width, 90;
			@mixin viewport xs, height, 55;
			left: 0;
			z-index: 1;
			@mixin border-radius xs;
		}
		& .card-content {
			background-color: var(--white);
			flex-direction: column;
			align-items: flex-start;
			border-radius: inherit;
			position: relative;
			& > .cbx-icon {
				@mixin viewport xs, top, 10;
				@mixin viewport xs, right, 20;
				position: absolute;
				margin-right: 0;
			}
		}
		& .card-description {
			@mixin viewport xs, padding-top, 20;
			@mixin viewport xs, padding-right, 20;
			@mixin viewport xs, padding-bottom, 20;
			@mixin viewport xs, padding-left, 84;
		}
	}
	&[m-mody*="c-img-"] {
		box-shadow: none;
		& .card-content {
			@mixin box-shadow xs, medium-out;
		}
	}
	&[m-mody~="c-img-top"] {
		padding: {
			@mixin viewport xs, top, 20;
			left: 0;
		}
		& .cbx-img {
			@mixin viewport xs, left, 20;
			top: 0;
			transform: none;
		}
		& .card-description {
			width: 100%;
			padding: {
				@mixin viewport xs, top, 55;
				@mixin viewport xs, left, 20;
			}
		}
	}
	&[m-mody~="c-img-icon"] {
		& .card-description {
			@mixin viewport xs, padding-top, 40;
		}
	}
	&[m-mody*="c-img-square"] {
		@mixin viewport xs, width, 130;
		& .cbx-img {
			@mixin viewport xs, height, 80;
			transform: translateX(-50%);
			left: 50%;
		}
		& .card-description {
			@mixin viewport xs, padding-top, 80;
		}
	}
	&[m-mody~="c-img-square-h"] {
		@mixin viewport xs, width, 280;
		& .cbx-img {
			transform: translateY(-50%);
			left: 0;
		}
		& .card-description {
			@mixin viewport xs, padding-top, 20;
		}
	}
	&[m-mody~="c-img-square-v"] {
		& .card-description {
			@mixin viewport xs, min-height, 231;
		}
	}
	&[m-mody~="c-img-square-h"],
	&[m-mody~="c-img-square-v"] {
		& .cbx-img {
			overflow: hidden;
		}
	}
	&[m-mody*="c-img-large"] {
		@mixin viewport xs, width, 280;
		justify-content: flex-start;
		& .cbx-img {
			@mixin viewport xs, height, 150;
			overflow: hidden;
		}
	}
	&[m-mody~="c-img-large"] {
		@mixin viewport xs, padding-top, 40;
		& .cbx-img {
			@mixin viewport xs, width, 200;
			&:first-child {
				@mixin border-radius xs;
			}
		}
		& .card-description {
			@mixin viewport xs, padding-top, 150;
		}
	}
	&[m-mody~="c-img-large-full"] {
		@mixin box-shadow xs, medium-out;
		padding-left: 0;
		& .cbx-img {
			width: 100%;
			position: relative;
			top: auto;
			left: auto;
			transform: none;
		}
		& .card-content {
			box-shadow: none !important;
		}
		& .card-description {
			@mixin viewport xs, padding-left, 20;
		}
	}
	&[m-mody*="c-img-double"] {
		& .card-images {
			@mixin viewport xs, height, 150;
			position: relative;
			& .cbx-img {
				margin-bottom: 0;
				&:last-child {
					@mixin box-shadow xs, medium-out;
					@mixin absolute center-horizontal;
					@mixin viewport xs, bottom, -40;
					@mixin viewport xs, width, 120;
					@mixin viewport xs, height, 75;
					min-height: auto;
					overflow: hidden;
				}
			}
		}
		& .card-content {
			border-radius: 0;
		}
		& .card-description {
			@mixin viewport xs, padding-top, 67.5;
		}
	}
	&[m-mody~="c-img-double-big"] {
		& .card-images {
			& .cbx-img {
				&:last-child {
					@mixin viewport xs, bottom, -30;
					@mixin viewport xs, width, 228;
					@mixin viewport xs, height, 140;
				}
			}
		}
	}
	&[m-mody~="c-img-background"] {
		@mixin viewport xs, width, 280;
		@mixin viewport xs, height, 140;
		position: relative;
		padding: 0;
		& .card-content {
			width: inherit;
			border-radius: inherit;
			overflow: hidden;
		}
		& .cbx-img {
			width: inherit;
			height: inherit;
			& > img {
				height: inherit;
				object-fit: cover;
			}
			& .card-description {
				position: absolute;
				top: 0;
				left: 0;
				@mixin viewport xs, padding, 30, 20;
				width: 100%;
				height: 100%;
				& .cbx-title {
					color: white;
					&:last-of-type {
						margin-bottom: 0;
					}
				}
			}
		}
	}
	&[m-mody~="c-button"] {
		flex-direction: column;
		& .card-description {
			position: relative;
			&::after {
				@mixin absolute center-horizontal;
				content: "";
				bottom: 0;
				width: 90%;
				height: 1px;
				background-color: var(--soft-gray);
			}
		}
		& .card-buttons {
			display: flex;
			@mixin viewport xs, height, 70;
			width: 100%;
			align-items: center;
			justify-content: space-between;
			text-align: center;
			padding: {
				@mixin viewport xs, right, 20;
				@mixin viewport xs, left, 20;
			}
			& > * {
				min-width: calc(100% / 2);
			}
		}
	}
	&[m-mody~="c-button-full"] {
		& .card-buttons {
			width: 100%;
			padding: {
				@mixin viewport xs, right, 20;
				@mixin viewport xs, left, 20;
			}
			& > * {
				width: 100%;
			}
		}
	}
	&[m-mody~="c-stamp"] {
		flex-direction: column;
		padding-bottom: 0;
		& .card-stamp {
			@mixin viewport xs, border-radius, 16;
			@mixin viewport xs, width, 80;
			@mixin viewport xs, height, 80;
		}
		& .card-content {
			flex-direction: column;
			text-align: center;
		}
		& .card-description {
			@mixin viewport xs, margin-bottom, 20;
			& .cbx-text {
				@mixin viewport xs, margin-bottom, 20;
			}
		}
		& .card-img {
			margin-bottom: 0;
		}
	}
	&[m-mody~="c-stamp-only"] {
		@mixin viewport xs, padding-bottom, 20;
		& .card-description {
			margin-bottom: 0 !important;
		}
		& .cbx-apps {
			justify-content: center;
		}
	}
	&[m-mody~="c-request"] {
		padding-left: 0;
		& .card-content {
			@mixin blue-wave citi;
		}
		& .card-description {
			@mixin viewport xs, padding-top, 20;
			& .cbx-title {
				color: var(--white);
			}
		}
	}
	&[m-mody~="c-phone"] {
		width: 100%;
		& .card-content {
			display: block;
			width: 100%;
			& .card-head {
				height: auto;
				border-bottom-style: solid;
				border-width: 1px;
				border-color: var(--soft-gray);
				@mixin viewport xs, margin-bottom, 20;
				display: flex;
				flex-direction: column;
			}
			& .card-body {
				display: block;
				& .item {
					width: 100%;
					@mixin viewport xs, margin-bottom, 20;
				}
				& .cbx-text {
					@mixin viewport xs, margin-bottom, 5;
				}
			}
		}
	}
	&[m-mody~="c-phone-full"] {
		@mixin viewport xs, min-height, 260;
		& .card-body {
			& .item {
				@mixin viewport xs, margin-bottom, 20;
			}
		}
	}
	&[m-mody~="c-blue-wave"] {
		& .card-content {
			@mixin blue-wave citi;
		}
		& .card-description {
			& > * {
				color: var(--white);
			}
		}
	}

	&[m-size="c-4"],
	&[m-size="c-3"] {
		@mixin viewport xs, width, 280;
	}
	&[m-size="c-2"] {
		@mixin viewport xs, width, 130;
	}

	&[m-mody~="c-icon"],
	&[m-mody~="c-img"],
	&[m-mody~="c-button"],
	&[m-mody~="c-stamp"] {
		&[m-size="c-4"],
		&[m-size="c-3"] {
			@mixin viewport xs, width, 280;
		}
		&[m-size="c-2"] {
			@mixin viewport xs, width, 130;
		}
	}
}

@media (width <= 767px) {
	& .cbx-card {
		& .card-description {
			& > .cbx-button {
				min-width: 100%;
				width: 100%;
			}
		}
		&[m-mody~="c-request"] {
			& .cbx-img {
				display: none;
			}
		}
		&[m-mody="c-img"] {
			box-shadow: none;
			& .card-content {
				@mixin box-shadow xs, medium-out;
			}
		}
	}
}

@media (width >= 768px) {
	html {
		&[m-browser~="mobile"] {
			& .cbx-card {
				&[m-mody~="c-app"] {
					& .card-description {
						margin-bottom: 20px;
						& .cbx-text {
							margin-bottom: 10px;
						}
					}
				}
			}
		}
	}
	button.cbx-card {
		&:active {
			@mixin box-shadow sm, medium-out;
		}
	}
	.cbx-card {
		@mixin box-shadow sm, medium-out;
		@mixin border-radius sm;
		min-height: 20px;
		padding: 20px;
		width: 330px;
		& .card-content {
			& .cbx-icon {
				margin-right: 20px;
			}
		}
		& .card-description {
			& .cbx-title,
			& .cbx-sub-category {
				margin-bottom: 10px;
			}
			& .cbx-text {
				margin-bottom: 10px;
			}
			& .cbx-list {
				& .list-item {
					margin-bottom: 10px;
				}
			}
		}
		&[m-dmp] {
			width: 280px;
			&[m-open="true"] {
				top: 90px;
				right: 20px;
				left: auto;
				transform: none;
				z-index: 1;
			}
			& .card-description {
				/* padding-top: 40px; */
				& > .cbx-sub-category,
				& > .cbx-title {
					margin-bottom: 20px;
				}
				& > .cbx-text {
					min-height: 70px;
					max-height: 70px;
				}
			}
			& .card-buttons {
				margin-bottom: 40px;
				& .cbx-button {
					margin-bottom: 40px;
				}
			}
		}
		&[m-mody~="c-icon-top"] {
			& .card-content {
				& > .cbx-icon {
					margin-bottom: 10px;
				}
			}
		}
		&[m-mody~="c-icon-spaces"] {
			& .card-content {
				& > .cbx-icon {
					margin: {
						top: 20px;
						bottom: 50px;
					}
				}
			}
			& .card-description {
				& .cbx-text {
					margin-bottom: 20px;
				}
			}
		}
		&[m-mody~="c-img"] {
			padding-left: 20px;
			& .cbx-img {
				width: 90px;
				height: 55px;
				@mixin border-radius sm;
			}
			& .card-content {
				@mixin box-shadow sm, medium-out;
				& > .cbx-icon {
					top: 10px;
					right: 20px;
				}
			}
			& .card-description {
				padding: {
					top: 20px;
					right: 20px;
					bottom: 20px;
					left: 90px;
				}
			}
		}
		&[m-mody*="c-img-"] {
			& .card-content {
				@mixin box-shadow sm, medium-out;
			}
		}
		&[m-mody~="c-img-top"],
		&[m-mody="c-img"] {
			padding-top: 20px;
			& .cbx-img {
				left: 20px;
			}
			& .card-description {
				padding: {
					top: 55px;
					left: 20px;
				}
			}
		}
		&[m-mody~="c-img-top"] {
			padding-left: 0;
		}
		&[m-mody~="c-img-icon"] {
			& .card-description {
				padding-top: 40px;
			}
		}
		&[m-mody*="c-img-square"] {
			width: 330px;
			& .cbx-img {
				height: 80px;
			}
		}
		&[m-mody~="c-img-square"],
		&[m-mody~="c-img-square-v"] {
			& .card-description {
				height: inherit;
				padding: {
					top: 20px;
					left: 90px;
				}
			}
		}
		&[m-mody~="c-img-square"] {
			min-height: 120px;
			& .cbx-img {
				transform: none;
				height: 120px;
				width: 120px;
			}
			& .card-description {
				padding: {
					left: 160px;
					bottom: 20px;
				}
			}
		}
		&[m-mody~="c-img-square-v"] {
			padding: {
				top: 0;
				left: 20px;
			}
			background-color: transparent;
			& .cbx-img {
				top: 50%;
				left: 0;
				transform: translateY(-50%);
			}
			& .card-content {
				@mixin box-shadow sm, medium-out;
				@mixin border-radius sm;
			}
		}
		&[m-mody~="c-img-square-h"],
		&[m-mody~="c-img-square-v"] {
			padding-left: 0;
			justify-content: flex-start;
			&[m-mody*="br-left-"] {
				border-left-style: solid;
				border-left-width: 5px;
			}
			&[m-mody~="br-left-cyan"] {
				border-left-color: var(--cyan);
			}
			&[m-mody~="br-left-green"] {
				border-left-color: var(--green);
			}
			&[m-mody~="br-left-teal"] {
				border-left-color: var(--teal);
			}
			& .cbx-img {
				display: none;
			}
			& .card-description {
				padding-top: 20px;
				padding-left: 20px;
				min-height: 126px;
			}
		}
		&[m-mody*="c-img-large"] {
			width: 330px;
			& .cbx-img {
				height: 150px;
			}
		}
		&[m-mody~="c-img-large"] {
			padding-top: 40px;
			& .cbx-img {
				width: 170px;
				top: 0;
				left: 50%;
				transform: translateX(-50%);
				&:first-child {
					@mixin border-radius sm;
				}
			}
			& .card-description {
				padding: {
					top: 150px;
					left: 20px;
				}
			}
		}
		&[m-mody~="c-img-large-full"] {
			@mixin box-shadow sm, medium-out;
			padding-left: 0;
			& > .cbx-img {
				width: 100%;
			}
			& .card-description {
				padding-left: 20px;
			}
		}
		&[m-mody*="c-img-double"] {
			& .card-images {
				height: 150px;
				& .cbx-img {
					top: auto;
					width: 100%;
					&:last-child {
						@mixin box-shadow sm, medium-out;
						bottom: -40px;
						width: 120px;
						height: 75px;
					}
				}
			}
			& .card-description {
				& padding-top: 67.5px;
			}
		}
		&[m-mody~="c-img-double-big"] {
			& .card-images {
				& .cbx-img {
					&:last-child {
						bottom: -30px;
						width: 228px;
						height: 140px;
					}
				}
			}
		}
		&[m-mody="c-img"] {
			padding-left: 0;
			box-shadow: none;
			& .cbx-img {
				transform: none;
				top: 0;
			}
			& .card-content {
				display: block;
				@mixin box-shadow sm, medium-out;
			}
		}
		&[m-mody~="c-img-background"] {
			width: 210px;
			height: 180px;
			& .cbx-img {
				& .card-description {
					padding: 30px 20px;
				}
			}
		}
		&[m-mody~="c-button"] {
			& .card-buttons {
				height: 70px;
				padding: {
					right: 20px;
					left: 20px;
				}
				& > * {
					min-width: calc(100% / 2);
				}
			}
		}
		&[m-mody~="c-button-full"] {
			& .card-buttons {
				padding: {
					right: 20px;
					left: 20px;
				}
			}
		}
		&[m-mody~="c-stamp"] {
			flex-direction: row;
			align-items: flex-end;
			width: 680px;
			& .card-content,
			& > .cbx-img {
				flex-grow: 1;
				flex-shrink: 0;
				flex-basis: 50%;
			}
			& .card-content {
				align-self: flex-start;
				align-items: flex-start;
				text-align: left;
			}
			& .card-stamp {
				border-radius: 16px;
				width: 80px;
				height: 80px;
				margin-bottom: 20px;
			}
			& .card-description {
				margin-bottom: 20px;
				& .cbx-text {
					margin-bottom: 20px;
				}
			}
		}
		&[m-mody~="c-stamp-only"] {
			width: 330px;
			padding: 40px;
			& .card-content {
				text-align: center;
			}
			& .card-stamp {
				margin: {
					right: auto;
					left: auto;
				}
			}
		}
		&[m-mody~="c-request"] {
			& .cbx-img {
				width: 184px;
				height: 58px;
				left: 50%;
				transform: translateX(-50%);
			}
			& .card-description {
				padding-top: 58px;
			}
		}
		&[m-mody~="c-phone"] {
			& .card-content {
				position: relative;
				& .card-head {
					height: 80px;
					border-width: 1px;
					margin-bottom: 20px;
				}
				& .card-body {
					& .item {
						margin-bottom: 20px;
						flex-grow: 1;
						&:not(:last-child) {
							margin-right: 10px;
						}
					}
				}
				& .card-footer {
					position: absolute;
					bottom: 0;
					height: 20px;
				}
			}
		}
		&[m-mody~="c-phone-full"] {
			min-height: 260px;
			& .card-body {
				display: flex;
				& .item {
					width: calc(100% / 5);
				}
			}
		}
		&[m-size="c-4"] {
			width: 130px;
		}
		&[m-size="c-3"] {
			width: 280px;
		}
		&[m-size="c-2"] {
			width: 330px;
		}
		&[m-mody~="c-icon"],
		&[m-mody~="c-img"],
		&[m-mody~="c-button"],
		&[m-mody~="c-stamp"] {
			&[m-size="c-4"] {
				width: 130px;
			}
			&[m-size="c-3"] {
				width: 280px;
			}
			&[m-size="c-2"] {
				width: 330px;
			}
		}
	}
}

@media (width >= 1024px) {
	html {
		&[m-browser~="mobile"] {
			& .cbx-card {
				&[m-mody~="c-app"] {
					& .card-description {
						@mixin viewport lg, margin-bottom, 20;
						& .cbx-text {
							@mixin viewport lg, margin-bottom, 10;
						}
					}
				}
			}
		}
	}
	button.cbx-card {
		&:active {
			@mixin box-shadow lg, medium-out;
		}
	}
	& .cbx-card {
		@mixin box-shadow lg, medium-out;
		@mixin border-radius lg;
		@mixin viewport lg, min-height, 20;
		@mixin viewport lg, padding, 20;
		@mixin viewport lg, width, 470;
		& .card-content {
			& .cbx-icon {
				@mixin viewport lg, margin-right, 20;
			}
		}
		&:not([m-mody]),
		&[m-mody~="c-icon"],
		&[m-mody~="c-stamp"] {
			transition: box-shadow 250ms ease-out;
			&:hover {
				@mixin box-shadow lg, big-out;
			}
		}
		& .card-call {
			height: auto;
			display: flex;
			justify-content: center;
			align-items: center;
			& > .cbx-link {
				display: inline-block;
				height: auto;
				width: auto;
			}
		}
		& .card-description {
			& .cbx-title,
			& .cbx-sub-category {
				@mixin viewport lg, margin-bottom, 10;
			}
			& .cbx-text {
				@mixin viewport lg, margin-bottom, 10;
			}
			& .cbx-list {
				& .list-item {
					@mixin viewport lg, margin-bottom, 10;
				}
			}
		}
		&[m-dmp] {
			@mixin viewport lg, width, 306;
			&[m-open="true"] {
				@mixin viewport lg, top, 100;
				@mixin viewport lg, right, 20;
			}
			& .card-description {
				& > .cbx-sub-category,
				& > .cbx-title {
					@mixin viewport lg, margin-bottom, 20;
				}
				& > .cbx-text {
					@mixin viewport lg, min-height, 70;
					@mixin viewport lg, max-height, 70;
				}
			}
			& .card-buttons {
				@mixin viewport lg, margin-bottom, 40;
				& .cbx-button {
					@mixin viewport lg, margin-bottom, 40;
				}
			}
		}
		&[m-mody~="c-icon-top"] {
			& .card-content {
				& > .cbx-icon {
					@mixin viewport lg, margin-bottom, 10;
				}
			}
		}
		&[m-mody~="c-icon-spaces"] {
			& .card-content {
				& > .cbx-icon {
					margin: {
						@mixin viewport lg, top, 20;
						@mixin viewport lg, bottom, 50;
					}
				}
			}
			& .card-description {
				& .cbx-text {
					@mixin viewport lg, margin-bottom, 20;
				}
			}
		}
		&[m-mody~="c-img"] {
			@mixin viewport lg, padding-left, 20;
			& .cbx-img {
				@mixin viewport lg, width, 120;
				@mixin viewport lg, height, 74;
				@mixin border-radius lg;
			}
			& .card-content {
				& > .cbx-icon {
					@mixin viewport lg, top, 10;
					@mixin viewport lg, right, 20;
				}
			}
			& .card-description {
				padding: {
					@mixin viewport lg, top, 20;
					@mixin viewport lg, right, 20;
					@mixin viewport lg, bottom, 20;
					@mixin viewport lg, left, 120;
				}
			}
		}
		&[m-mody*="c-img-"] {
			&:not([m-mody*="c-img-large"]) {
				&:hover {
					& .card-content {
						@mixin box-shadow lg, big-out;
					}
				}
				& .card-content {
					transition: box-shadow 250ms ease-out;
				}
			}
			& .card-content {
				@mixin box-shadow lg, medium-out;
			}
		}
		&[m-mody~="c-img-top"],
		&[m-mody="c-img"] {
			@mixin viewport lg, padding-top, 20;
			& .cbx-img {
				@mixin viewport lg, left, 20;
			}
			& .card-description {
				padding: {
					@mixin viewport lg, top, 74;
					@mixin viewport lg, left, 20;
				}
			}
		}
		&[m-mody~="c-img-top"] {
			padding-left: 0;
		}
		&[m-mody~="c-img-icon"] {
			& .card-description {
				@mixin viewport lg, padding-top, 40;
			}
		}
		&[m-mody*="c-img-square"] {
			@mixin viewport lg, width, 470;
			& .cbx-img {
				@mixin viewport lg, height, 120;
			}
		}
		&[m-mody~="c-img-square"],
		&[m-mody~="c-img-square-v"] {
			& .card-description {
				padding: {
					@mixin viewport lg, top, 20;
					@mixin viewport lg, left, 90;
				}
			}
		}
		&[m-mody~="c-img-square"] {
			@mixin viewport lg, min-height, 120;
			& .cbx-img {
				transform: none;
				@mixin viewport lg, height, 120;
				@mixin viewport lg, width, 120;
			}
			& .card-description {
				padding: {
					@mixin viewport lg, left, 160;
					@mixin viewport lg, bottom, 20;
				}
			}
		}
		&[m-mody~="c-img-square-v"] {
			padding: {
				top: 0;
				@mixin viewport lg, left, 20;
			}
			background-color: transparent;
			& .cbx-img {
				top: 50%;
				left: 0;
				transform: translateY(-50%);
			}
			& .card-content {
				@mixin box-shadow lg, medium-out;
				@mixin border-radius lg;
			}
			& .card-description {
				@mixin viewport lg, padding-left, 120;
			}
		}
		&[m-mody~="c-img-square-h"],
		&[m-mody~="c-img-square-v"] {
			@mixin viewport lg, padding-left, 20;
			&[m-mody*="br-left"] {
				border: none;
			}
			& .cbx-img {
				display: block;
			}
			& .card-description {
				padding: {
					@mixin viewport lg, top, 20;
					@mixin viewport lg, bottom, 20;
					@mixin viewport lg, left, 120;
				}
				@mixin viewport lg, min-height, 160;
			}
		}
		&[m-mody*="c-img-large"] {
			@mixin box-shadow lg, medium-out;
			@mixin transition box-shadow;
			background-color: var(--white);
			@mixin viewport lg, width, 305;
			padding: {
				top: 0;
				left: 0;
			}
			&:not([m-dmp]):hover {
				@mixin box-shadow lg, big-out;
				& .cbx-img {
					img {
						@mixin scale hover;
					}
				}
			}
			& .cbx-img {
				transform: none;
				position: relative;
				top: 0;
				left: auto;
				width: 100%;
				height: 100%;
				@mixin viewport lg, min-height, 130;
				@mixin viewport lg, margin-bottom, 40;
				img {
					@mixin transition transform;
					@mixin scale value;
				}
			}
			& .card-content {
				background-color: transparent;
				box-shadow: none;
			}
			& .card-description {
				padding: {
					top: 0;
					@mixin viewport lg, left, 20;
				}
			}
		}
		&[m-mody~="c-img-large"] {
			& .cbx-img {
				&:first-child {
					border-bottom: {
						right-radius: 0;
						left-radius: 0;
					}
				}
			}
		}
		&[m-mody*="c-img-double"] {
			& .card-images {
				@mixin viewport lg, height, 130;
				& .cbx-img {
					&:last-child {
						@mixin box-shadow lg, medium-out;
						@mixin viewport lg, bottom, -40;
						@mixin viewport lg, width, 120;
						@mixin viewport lg, height, 75;
					}
				}
			}
			& .card-description {
				@mixin viewport lg, padding-top, 67.5;
			}
		}
		&[m-mody~="c-img-double-big"] {
			& .card-images {
				& .cbx-img {
					&:last-child {
						@mixin viewport lg, bottom, -30;
						@mixin viewport lg, width, 228;
						@mixin viewport lg, height, 140;
					}
				}
			}
		}
		&[m-mody="c-img"] {
			padding-left: 0;
			&:hover {
				& .card-content {
					@mixin box-shadow lg, big-out;
				}
			}
			& .card-content {
				@mixin box-shadow lg, medium-out;
				transition: box-shadow 250ms ease-out;
			}
		}
		&[m-mody~="c-img-background"] {
			@mixin viewport lg, width, 305;
			@mixin viewport lg, height, 180;
			& .cbx-img {
				& .card-description {
					padding:{
						@mixin viewport lg, top, 30;
						@mixin viewport lg, right, 20; 
						@mixin viewport lg, bottom, 30; 
						@mixin viewport lg, left, 20;  
					}
				}
			}
		}
		&[m-mody~="c-button"] {
			& .card-buttons {
				@mixin viewport lg, height, 70;
				padding: {
					@mixin viewport lg, right, 20;
					@mixin viewport lg, left, 20;
				}
				& > * {
					min-width: calc(100% / 2);
				}
			}
		}
		&[m-mody~="c-button-full"] {
			& .card-buttons {
				padding: {
					@mixin viewport lg, right, 20;
					@mixin viewport lg, left, 20;
				}
			}
		}
		&[m-mody~="c-stamp"] {
			@mixin viewport lg, width, 715;
			& .card-content {
				@mixin viewport lg, padding-right, 20;
			}
			& .card-stamp {
				@mixin viewport lg, border-radius, 16;
				@mixin viewport lg, width, 80;
				@mixin viewport lg, height, 80;
				@mixin viewport lg, margin-bottom, 20;
			}
			& .card-description {
				@mixin viewport lg, margin-bottom, 20;
				& .cbx-text {
					@mixin viewport lg, margin-bottom, 20;
				}
			}
			&[m-mody~="c-stamp-only"] {
				@mixin viewport lg, width, 305;
				@mixin viewport lg, padding, 40;
				& .card-content {
					padding-right: 0;
				}
			}
		}
		&[m-mody~="c-request"] {
			& .cbx-img {
				left: 50%;
				@mixin viewport lg, width, 184;
				@mixin viewport lg, height, 58;
			}
			& .card-description {
				@mixin viewport lg, padding-top, 58;
			}
		}
		&[m-mody~="c-phone"] {
			@mixin viewport lg, min-height, 310;
			& .card-content {
				& .card-head {
					@mixin viewport lg, height, 80;
					@mixin viewport lg, margin-bottom, 20;
				}
				& .card-body {
					& .item {
						& .cbx-text {
							margin-bottom: 0;
						}

						&:not(:last-child) {
							@mixin viewport lg, margin-right, 10;
						}
					}
				}
				& .card-footer {
					@mixin viewport lg, height, 20;
				}
			}
		}
		&[m-mody~="c-phone-full"] {
			@mixin viewport lg, min-height, 260;
		}

		&[m-size="c-4"],
		&[m-size="c-3"] {
			@mixin viewport lg, width, 280;
		}
		&[m-size="c-2"] {
			@mixin viewport lg, width, 130;
		}

		&[m-size="c-4"] {
			@mixin viewport lg, width, 225;
		}

		&[m-size="c-3"] {
			@mixin viewport lg, width, 305;
		}
		&[m-size="c-2"] {
			@mixin viewport lg, width, 470;
		}

		&[m-mody~="c-icon"],
		&[m-mody~="c-img"],
		&[m-mody~="c-button"],
		&[m-mody~="c-stamp"] {
			&[m-size="c-4"] {
				@mixin viewport lg, width, 225;
			}
			&[m-size="c-3"] {
				@mixin viewport lg, width, 305;
			}
			&[m-size="c-2"] {
				@mixin viewport lg, width, 470;
			}
		}
	}
}

@media (width >= 1280px) {
	html {
		&[m-browser~="mobile"] {
			& .cbx-card {
				&[m-mody~="c-app"] {
					& .card-description {
						@mixin viewport xl, margin-bottom, 20;
						& .cbx-text {
							@mixin viewport xl, margin-bottom, 10;
						}
					}
				}
			}
		}
	}
	button.cbx-card {
		&:active {
			@mixin box-shadow xl, medium-out;
		}
	}
	& .cbx-card {
		@mixin box-shadow xl, medium-out;
		@mixin border-radius xl;
		@mixin viewport xl, min-height, 20;
		@mixin viewport xl, padding, 20;
		@mixin viewport xl, width, 535;
		&:not([m-mody]),
		&[m-mody~="c-icon"],
		&[m-mody~="c-stamp"] {
			&:hover {
				@mixin box-shadow xl, big-out;
			}
		}
		& .card-content {
			& .cbx-icon {
				@mixin viewport xl, margin-right, 20;
			}
		}
		& .card-description {
			& .cbx-title,
			& .cbx-sub-category {
				@mixin viewport xl, margin-bottom, 10;
			}
			& .cbx-text {
				@mixin viewport xl, margin-bottom, 10;
			}
			& .cbx-list {
				& .list-item {
					@mixin viewport xl, margin-bottom, 10;
				}
			}
		}
		&[m-dmp] {
			@mixin viewport xl, width, 320;
			&[m-open="true"] {
				@mixin viewport xl, top, 100;
				@mixin viewport xl, right, 20;
			}
			& .card-description {
				& > .cbx-sub-category,
				& > .cbx-title {
					@mixin viewport xl, margin-bottom, 20;
				}
				& > .cbx-text {
					@mixin viewport xl, min-height, 65;
					@mixin viewport xl, max-height, 65;
				}
			}
			& .card-buttons {
				@mixin viewport xl, margin-bottom, 40;
				& .cbx-button {
					@mixin viewport xl, margin-bottom, 40;
				}
			}
		}
		&[m-mody~="c-icon-top"] {
			& .card-content {
				& > .cbx-icon {
					@mixin viewport xl, margin-bottom, 10;
				}
			}
		}
		&[m-mody~="c-icon-spaces"] {
			& .card-content {
				& > .cbx-icon {
					margin: {
						@mixin viewport xl, top, 20;
						@mixin viewport xl, bottom, 50;
					}
				}
			}
			& .card-description {
				& .cbx-text {
					@mixin viewport xl, margin-bottom, 20;
				}
			}
		}
		&[m-mody~="c-img"] {
			@mixin viewport xl, padding-left, 20;
			& .cbx-img {
				@mixin viewport xl, width, 120;
				@mixin viewport xl, height, 74;
				@mixin border-radius xl;
			}
			& .card-content {
				@mixin box-shadow xl, medium-out;
				& > .cbx-icon {
					@mixin viewport xl, top, 10;
					@mixin viewport xl, right, 20;
				}
			}
			& .card-description {
				padding: {
					@mixin viewport xl, top, 20;
					@mixin viewport xl, right, 20;
					@mixin viewport xl, bottom, 20;
					@mixin viewport xl, left, 120;
				}
			}
		}
		&[m-mody*="c-img-"] {
			&:not([m-mody*="c-img-large"]) {
				&:hover {
					& .card-content {
						@mixin box-shadow xl, big-out;
					}
				}
				& .card-content {
					@mixin box-shadow xl, medium-out;
				}
			}
		}
		&[m-mody~="c-img-top"],
		&[m-mody="c-img"] {
			@mixin viewport xl, padding-top, 20;
			& .cbx-img {
				@mixin viewport xl, left, 20;
			}
			& .card-description {
				padding: {
					@mixin viewport xl, top, 74;
					@mixin viewport xl, left, 20;
				}
			}
		}
		&[m-mody~="c-img-top"] {
			padding-left: 0;
		}
		&[m-mody~="c-img-icon"] {
			& .card-description {
				@mixin viewport xl, padding-top, 40;
			}
		}
		&[m-mody*="c-img-square"] {
			@mixin viewport xl, width, 470;
			& .cbx-img {
				@mixin viewport xl, height, 120;
			}
		}
		&[m-mody~="c-img-square"],
		&[m-mody~="c-img-square-v"] {
			& .card-description {
				padding: {
					@mixin viewport xl, top, 20;
					@mixin viewport xl, left, 90;
				}
			}
		}
		&[m-mody~="c-img-square"] {
			@mixin viewport xl, min-height, 120;
			& .cbx-img {
				transform: none;
				@mixin viewport xl, height, 120;
				@mixin viewport xl, width, 120;
			}
			& .card-description {
				padding: {
					@mixin viewport xl, left, 160;
					@mixin viewport xl, bottom, 20;
				}
			}
		}
		&[m-mody~="c-img-square-v"] {
			padding: {
				top: 0;
				@mixin viewport xl, left, 20;
			}
			background-color: transparent;
			& .cbx-img {
				top: 50%;
				left: 0;
				transform: translateY(-50%);
			}
			& .card-content {
				@mixin box-shadow xl, medium-out;
				@mixin border-radius xl;
			}
			& .card-description {
				@mixin viewport xl, padding-left, 120;
			}
		}
		&[m-mody~="c-img-square-h"],
		&[m-mody~="c-img-square-v"] {
			@mixin viewport xl, padding-left, 20;
			& .card-description {
				padding: {
					@mixin viewport xl, top, 20;
					@mixin viewport xl, bottom, 20;
					@mixin viewport xl, left, 120;
				}
				@mixin viewport xl, min-height, 190;
			}
		}
		&[m-mody*="c-img-large"] {
			@mixin box-shadow xl, medium-out;
			background-color: var(--white);
			@mixin viewport xl, width, 350;
			padding: {
				top: 0;
				left: 0;
			}
			&:not([m-dmp]):hover {
				@mixin box-shadow xl, big-out;
			}
			& .cbx-img {
				position: relative;
				top: 0;
				left: auto;
				transform: none;
				width: 100%;
				height: 100%;
				@mixin viewport xl, min-height, 150;
				@mixin viewport xl, margin-bottom, 40;
			}
			& .card-content {
				background-color: transparent;
				box-shadow: none;
			}
			& .card-description {
				padding: {
					top: 0;
					@mixin viewport xl, left, 20;
				}
			}
		}
		&[m-mody*="c-img-double"] {
			& .card-images {
				@mixin viewport xl, height, 175;
				& .cbx-img {
					&:last-child {
						@mixin box-shadow xl, medium-out;
						@mixin viewport xl, bottom, -40;
						@mixin viewport xl, width, 120;
						@mixin viewport xl, height, 75;
					}
				}
			}
			& .card-description {
				@mixin viewport xl, padding-top, 67.5;
			}
		}
		&[m-mody~="c-img-double-big"] {
			& .card-images {
				& .cbx-img {
					&:last-child {
						@mixin viewport xl, bottom, -30;
						@mixin viewport xl, width, 228;
						@mixin viewport xl, height, 140;
					}
				}
			}
		}
		&[m-mody="c-img"] {
			padding-left: 0;
			&:hover {
				& .card-content {
					@mixin box-shadow xl, big-out;
				}
			}
			& .card-content {
				@mixin box-shadow xl, medium-out;
			}
		}
		&[m-mody~="c-img-background"] {
			@mixin viewport xl, width, 350;
			@mixin viewport xl, height, 180;
			& .cbx-img {
				& .card-description {
					padding:{
							@mixin viewport xl, top, 30; 
							@mixin viewport xl, right, 20; 
							@mixin viewport xl, bottom, 30; 
							@mixin viewport xl, left, 20;  
					}
				}
			}
		}
		&[m-mody~="c-stamp"] {
			@mixin viewport xl, width, 825;
			& .card-content {
				@mixin viewport xl, padding-right, 20;
			}
			& .card-stamp {
				@mixin viewport xl, border-radius, 16;
				@mixin viewport xl, width, 80;
				@mixin viewport xl, height, 80;
				@mixin viewport xl, margin-bottom, 20;
			}
			& .card-description {
				@mixin viewport xl, margin-bottom, 20;
				& .cbx-text {
					@mixin viewport xl, margin-bottom, 20;
				}
			}
		}
		&[m-mody~="c-stamp-only"] {
			@mixin viewport xl, width, 470;
			@mixin viewport xl, padding, 40;
		}
		&[m-mody~="c-button"] {
			& .card-buttons {
				@mixin viewport xl, height, 70;
				padding: {
					@mixin viewport xl, right, 20;
					@mixin viewport xl, left, 20;
				}
				& > * {
					min-width: calc(100% / 2);
				}
			}
		}
		&[m-mody~="c-button-full"] {
			& .card-buttons {
				padding: {
					@mixin viewport xl, right, 20;
					@mixin viewport xl, left, 20;
				}
			}
		}
		&[m-mody~="c-request"] {
			padding-left: 0;
			& .cbx-img {
				left: 50%;
				@mixin viewport xl, width, 184;
				@mixin viewport xl, height, 58;
			}
			& .card-description {
				@mixin viewport xl, padding-top, 58;
			}
		}
		&[m-mody~="c-phone"] {
			@mixin viewport xl, min-height, 310;
			& .card-content {
				& .card-head {
					@mixin viewport xl, height, 80;
					@mixin viewport xl, margin-bottom, 20;
				}
				& .card-body {
					& .item {
						&:not(:last-child) {
							@mixin viewport xl, margin-right, 10;
						}
					}
				}
				& .card-footer {
					@mixin viewport xl, height, 20;
				}
			}
		}
		&[m-mody~="c-phone-full"] {
			@mixin viewport xl, min-height, 260;
		}

		&[m-size="c-4"] {
			@mixin viewport xl, width, 255;
		}
		&[m-size="c-3"] {
			@mixin viewport xl, width, 350;
		}
		&[m-size="c-2"] {
			@mixin viewport xl, width, 535;
		}

		&[m-mody~="c-icon"],
		&[m-mody~="c-img"],
		&[m-mody~="c-button"],
		&[m-mody~="c-stamp"] {
			&[m-size="c-4"] {
				@mixin viewport xl, width, 255;
			}
			&[m-size="c-3"] {
				@mixin viewport xl, width, 350;
			}
			&[m-size="c-2"] {
				@mixin viewport xl, width, 535;
			}
		}
	}
}

@media (width >= 1440px) {
	html {
		&[m-browser~="mobile"] {
			& .cbx-card {
				&[m-mody~="c-app"] {
					& .card-description {
						@mixin viewport xxl, margin-bottom, 20;
						& .cbx-text {
							@mixin viewport xxl, margin-bottom, 10;
						}
					}
				}
			}
		}
	}
	button.cbx-card {
		&:active {
			@mixin box-shadow xxl, medium-out;
		}
	}
	& .cbx-card {
		@mixin box-shadow xxl, medium-out;
		@mixin border-radius xxl;
		@mixin viewport xxl, min-height, 20;
		@mixin viewport xxl, padding, 20;
		@mixin viewport xxl, width, 535;
		&:not([m-mody]),
		&[m-mody~="c-icon"],
		&[m-mody~="c-stamp"] {
			&:hover {
				@mixin box-shadow xxl, big-out;
			}
		}
		& .card-content {
			& .cbx-icon {
				@mixin viewport xxl, margin-right, 20;
			}
		}
		& .card-description {
			& .cbx-title,
			& .cbx-sub-category {
				@mixin viewport xxl, margin-bottom, 10;
			}
			& .cbx-text {
				@mixin viewport xxl, margin-bottom, 10;
			}
			& .cbx-list {
				& .list-item {
					@mixin viewport xxl, margin-bottom, 10;
				}
			}
		}
		&[m-dmp] {
			@mixin viewport xxl, width, 320;
			&[m-open="true"] {
				@mixin viewport xxl, top, 100;
				@mixin viewport xxl, right, 20;
			}
			& .card-description {
				& > .cbx-sub-category,
				& > .cbx-title {
					@mixin viewport xxl, margin-bottom, 20;
				}
				& > .cbx-text {
					@mixin viewport xxl, min-height, 65;
					@mixin viewport xxl, max-height, 65;
				}
			}
			& .card-buttons {
				@mixin viewport xxl, margin-bottom, 40;
				& .cbx-button {
					@mixin viewport xxl, margin-bottom, 40;
				}
			}
		}
		&[m-mody~="c-icon-top"] {
			& .card-content {
				& > .cbx-icon {
					@mixin viewport xxl, margin-bottom, 10;
				}
			}
		}
		&[m-mody~="c-icon-spaces"] {
			& .card-content {
				& > .cbx-icon {
					margin: {
						@mixin viewport xxl, top, 20;
						@mixin viewport xxl, bottom, 50;
					}
				}
			}
			& .card-description {
				& .cbx-text {
					@mixin viewport xxl, margin-bottom, 20;
				}
			}
		}
		&[m-mody~="c-img"] {
			@mixin viewport xxl, padding-left, 20;
			& .cbx-img {
				@mixin viewport xxl, width, 120;
				@mixin viewport xxl, height, 74;
				@mixin border-radius xxl;
			}
			& .card-content {
				@mixin box-shadow xxl, medium-out;
				& > .cbx-icon {
					@mixin viewport xxl, top, 10;
					@mixin viewport xxl, right, 20;
				}
			}
			& .card-description {
				padding: {
					@mixin viewport xxl, top, 20;
					@mixin viewport xxl, right, 20;
					@mixin viewport xxl, bottom, 20;
					@mixin viewport xxl, left, 120;
				}
			}
		}
		&[m-mody*="c-img-"] {
			&:not([m-mody*="c-img-large"]) {
				&:hover {
					& .card-content {
						@mixin box-shadow xxl, big-out;
					}
				}
				& .card-content {
					@mixin box-shadow xxl, medium-out;
				}
			}
		}
		&[m-mody~="c-img-top"],
		&[m-mody="c-img"] {
			@mixin viewport xxl, padding-top, 20;
			& .cbx-img {
				@mixin viewport xxl, left, 20;
			}
			& .card-description {
				padding: {
					@mixin viewport xxl, top, 74;
					@mixin viewport xxl, left, 20;
				}
			}
		}
		&[m-mody~="c-img-top"] {
			padding-left: 0;
		}
		&[m-mody~="c-img-icon"] {
			& .card-description {
				@mixin viewport xxl, padding-top, 40;
			}
		}
		&[m-mody*="c-img-square"] {
			@mixin viewport xxl, width, 470;
			& .cbx-img {
				@mixin viewport xxl, height, 120;
			}
		}
		&[m-mody~="c-img-square"],
		&[m-mody~="c-img-square-v"] {
			& .card-description {
				padding: {
					@mixin viewport xxl, top, 20;
					@mixin viewport xxl, left, 90;
				}
			}
		}
		&[m-mody~="c-img-square"] {
			@mixin viewport xxl, min-height, 120;
			& .cbx-img {
				transform: none;
				@mixin viewport xxl, height, 120;
				@mixin viewport xxl, width, 120;
			}
			& .card-description {
				padding: {
					@mixin viewport xxl, left, 160;
					@mixin viewport xxl, bottom, 20;
				}
			}
		}
		&[m-mody~="c-img-square-v"] {
			padding: {
				top: 0;
				@mixin viewport xxl, left, 20;
			}
			background-color: transparent;
			& .cbx-img {
				top: 50%;
				left: 0;
				transform: translateY(-50%);
			}
			& .card-content {
				@mixin box-shadow xxl, medium-out;
				@mixin border-radius xxl;
			}
			& .card-description {
				@mixin viewport xxl, padding-left, 120;
			}
		}
		&[m-mody~="c-img-square-h"],
		&[m-mody~="c-img-square-v"] {
			@mixin viewport xxl, padding-left, 20;
			& .card-description {
				padding: {
					@mixin viewport xxl, top, 20;
					@mixin viewport xxl, bottom, 20;
					@mixin viewport xxl, left, 120;
				}
				@mixin viewport xxl, min-height, 160;
			}
		}
		&[m-mody*="c-img-large"] {
			@mixin box-shadow xxl, medium-out;
			background-color: var(--white);
			@mixin viewport xxl, width, 350;
			padding: {
				top: 0;
				left: 0;
			}
			&:not([m-dmp]):hover {
				@mixin box-shadow xxl, big-out;
			}
			& .cbx-img {
				position: relative;
				top: 0;
				left: auto;
				transform: none;
				width: 100%;
				height: 100%;
				@mixin viewport xxl, min-height, 150;
				@mixin viewport xxl, margin-bottom, 40;
			}
			& .card-content {
				background-color: transparent;
				box-shadow: none;
			}
			& .card-description {
				padding: {
					top: 0;
					@mixin viewport xxl, left, 20;
				}
			}
		}
		&[m-mody*="c-img-double"] {
			& .card-images {
				@mixin viewport xxl, height, 140;
				& .cbx-img {
					&:last-child {
						@mixin box-shadow xxl, medium-out;
						@mixin viewport xxl, bottom, -40;
						@mixin viewport xxl, width, 120;
						@mixin viewport xxl, height, 75;
					}
				}
			}
			& .card-description {
				@mixin viewport xxl, padding-top, 67.5;
			}
		}
		&[m-mody~="c-img-double-big"] {
			& .card-images {
				& .cbx-img {
					&:last-child {
						@mixin viewport xxl, bottom, -30;
						@mixin viewport xxl, width, 228;
						@mixin viewport xxl, height, 140;
					}
				}
			}
		}
		&[m-mody="c-img"] {
			padding-left: 0;
			&:hover {
				& .card-content {
					@mixin box-shadow xxl, big-out;
				}
			}
			& .card-content {
				@mixin box-shadow xxl, medium-out;
			}
		}
		&[m-mody~="c-img-background"] {
			@mixin viewport xxl, width, 350;
			@mixin viewport xxl, height, 180;
			& .cbx-img {
				& .card-description {
					padding:{
							@mixin viewport xxl, top, 30; 
							@mixin viewport xxl, right, 20; 
							@mixin viewport xxl, bottom, 30; 
							@mixin viewport xxl, left, 20;  
					}
				}
			}
		}
		&[m-mody~="c-stamp"] {
			@mixin viewport xxl, width, 825;
			& .card-content {
				@mixin viewport xxl, padding-right, 20;
			}
			& .card-stamp {
				@mixin viewport xxl, border-radius, 16;
				@mixin viewport xxl, width, 80;
				@mixin viewport xxl, height, 80;
				@mixin viewport xxl, margin-bottom, 20;
			}
			& .card-description {
				@mixin viewport xxl, margin-bottom, 20;
				& .cbx-text {
					@mixin viewport xxl, margin-bottom, 20;
				}
			}
		}
		&[m-mody~="c-stamp-only"] {
			@mixin viewport xxl, width, 470;
			@mixin viewport xxl, padding, 40;
		}
		&[m-mody~="c-request"] {
			& .cbx-img {
				left: 50%;
				@mixin viewport xxl, width, 184;
				@mixin viewport xxl, height, 58;
			}
			& .card-description {
				@mixin viewport xxl, padding-top, 58;
			}
		}
		&[m-mody~="c-button"] {
			& .card-buttons {
				@mixin viewport xxl, height, 70;
				padding: {
					@mixin viewport xxl, right, 20;
					@mixin viewport xxl, left, 20;
				}
				& > * {
					min-width: calc(100% / 2);
				}
			}
		}
		&[m-mody~="c-button-full"] {
			& .card-buttons {
				padding: {
					@mixin viewport xxl, right, 20;
					@mixin viewport xxl, left, 20;
				}
			}
		}

		&[m-size="c-4"] {
			@mixin viewport xxl, width, 255;
		}
		&[m-size="c-3"] {
			@mixin viewport xxl, width, 350;
		}
		&[m-size="c-2"] {
			@mixin viewport xxl, width, 535;
		}

		&[m-mody~="c-icon"],
		&[m-mody~="c-img"],
		&[m-mody~="c-button"],
		&[m-mody~="c-stamp"] {
			&[m-size="c-4"] {
				@mixin viewport xxl, width, 255;
			}
			&[m-size="c-3"] {
				@mixin viewport xxl, width, 350;
			}
			&[m-size="c-2"] {
				@mixin viewport xxl, width, 535;
			}
		}
		&[m-mody~="c-phone"] {
			@mixin viewport xxl, min-height, 310;
			& .card-content {
				& .card-head {
					@mixin viewport xxl, height, 80;
					@mixin viewport xxl, margin-bottom, 20;
				}
				& .card-body {
					& .item {
						&:not(:last-child) {
							@mixin viewport xxl, margin-right, 10;
						}
					}
				}
				& .card-footer {
					@mixin viewport xl, height, 20;
				}
			}
			&[m-mody~="c-phone-full"] {
				@mixin viewport xxl, min-height, 260;
			}
		}
	}
}
