<div class="cbx-promociones cbx-wrapper">
	<div class="content-promociones">
		<div class="menu-promociones">
			<article class="cbx-card" m-active="true">
				<button class="card-content">
					<span class="cbx-icon" m-size="40" m-mody="icon-bold">
						<i class="icon-bookmark-o"></i>
					</span>
					<p class="cbx-text">Destacados</p>
				</button>
			</article>
			<article class="cbx-card" m-active="false">
				<button class="card-content">
					<span class="cbx-icon" m-size="40" m-mody="icon-bold">
						<i class="icon-tag-o"></i>
					</span>
					<p class="cbx-text">Promociones</p>
				</button>
			</article>
			<article class="cbx-card" m-active="false">
				<span class="notification">
					<p class="cbx-legal">2</p>
				</span>
				<button class="card-content">
					<span class="cbx-icon" m-size="40" m-mody="icon-bold">
						<i class="icon-cup-o"></i>
					</span>
					<p class="cbx-text">Dinámicas</p>
				</button>
			</article>
		</div>
		<div class="category-promociones">
			<div class="cards-promociones" m-open="true">
				<a class="cbx-card" m-mody="c-img c-img-square c-img-top c-img-large">
					<figure class="cbx-img">
						<img src="" alt="" />
					</figure>
					<div class="card-content">
						<div class="card-description">
							<p class="cbx-sub-category">PREVENTA CITIBANAMEX</p>
							<p class="cbx-title">Label template</p>
							<p class="cbx-text">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
						</div>
					</div>
				</a>
				<a class="cbx-card" m-mody="c-img c-img-square c-img-top c-img-large">
					<figure class="cbx-img">
						<img src="" alt="" />
					</figure>
					<div class="card-content">
						<div class="card-description">
							<p class="cbx-sub-category">PREVENTA CITIBANAMEX</p>
							<p class="cbx-title">Label template</p>
							<p class="cbx-text">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
						</div>
					</div>
				</a>
				<a class="cbx-card" m-mody="c-img c-img-square c-img-top c-img-large">
					<figure class="cbx-img">
						<img src="" alt="" />
					</figure>
					<div class="card-content">
						<div class="card-description">
							<p class="cbx-sub-category">PREVENTA CITIBANAMEX</p>
							<p class="cbx-title">Label template</p>
							<p class="cbx-text">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
						</div>
					</div>
				</a>
			</div>
			<div class="cards-promociones" m-open="false">
				<a class="cbx-card" m-mody="c-img c-img-square c-img-top c-img-large">
					<figure class="cbx-img">
						<img src="" alt="" />
					</figure>
					<div class="card-content">
						<div class="card-description">
							<p class="cbx-sub-category">PREVENTA CITIBANAMEX</p>
							<p class="cbx-title">Label template</p>
							<p class="cbx-text">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
						</div>
					</div>
				</a>
				<a class="cbx-card" m-mody="c-img c-img-square c-img-top c-img-large">
					<figure class="cbx-img">
						<img src="" alt="" />
					</figure>
					<div class="card-content">
						<div class="card-description">
							<p class="cbx-sub-category">PREVENTA CITIBANAMEX</p>
							<p class="cbx-title">Label template</p>
							<p class="cbx-text">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
						</div>
					</div>
				</a>
				<a class="cbx-card" m-mody="c-img c-img-square c-img-top c-img-large">
					<figure class="cbx-img">
						<img src="" alt="" />
					</figure>
					<div class="card-content">
						<div class="card-description">
							<p class="cbx-sub-category">PREVENTA CITIBANAMEX</p>
							<p class="cbx-title">Label template</p>
							<p class="cbx-text">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
						</div>
					</div>
				</a>
			</div>
			<div class="cards-promociones" m-open="false">
				<a class="cbx-card" m-mody="c-img c-img-square c-img-top c-img-large">
					<figure class="cbx-img">
						<img src="" alt="" />
					</figure>
					<div class="card-content">
						<div class="card-description">
							<p class="cbx-sub-category">PREVENTA CITIBANAMEX</p>
							<p class="cbx-title">Label template</p>
							<p class="cbx-text">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
						</div>
					</div>
				</a>
				<a class="cbx-card" m-mody="c-img c-img-square c-img-top c-img-large">
					<figure class="cbx-img">
						<img src="" alt="" />
					</figure>
					<div class="card-content">
						<div class="card-description">
							<p class="cbx-sub-category">PREVENTA CITIBANAMEX</p>
							<p class="cbx-title">Label template</p>
							<p class="cbx-text">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
						</div>
					</div>
				</a>
				<a class="cbx-card" m-mody="c-img c-img-square c-img-top c-img-large">
					<figure class="cbx-img">
						<img src="" alt="" />
					</figure>
					<div class="card-content">
						<div class="card-description">
							<p class="cbx-sub-category">PREVENTA CITIBANAMEX</p>
							<p class="cbx-title">Label template</p>
							<p class="cbx-text">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
						</div>
					</div>
				</a>
			</div>
			<div class="cards-promociones" m-open="false">
				<a class="cbx-card" m-mody="c-img c-img-square c-img-top c-img-large">
					<figure class="cbx-img">
						<img src="" alt="" />
					</figure>
					<div class="card-content">
						<div class="card-description">
							<p class="cbx-sub-category">PREVENTA CITIBANAMEX</p>
							<p class="cbx-title">Label template</p>
							<p class="cbx-text">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
						</div>
					</div>
				</a>
				<a class="cbx-card" m-mody="c-img c-img-square c-img-top c-img-large">
					<figure class="cbx-img">
						<img src="" alt="" />
					</figure>
					<div class="card-content">
						<div class="card-description">
							<p class="cbx-sub-category">PREVENTA CITIBANAMEX</p>
							<p class="cbx-title">Label template</p>
							<p class="cbx-text">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
						</div>
					</div>
				</a>
				<a class="cbx-card" m-mody="c-img c-img-square c-img-top c-img-large">
					<figure class="cbx-img">
						<img src="" alt="" />
					</figure>
					<div class="card-content">
						<div class="card-description">
							<p class="cbx-sub-category">PREVENTA CITIBANAMEX</p>
							<p class="cbx-title">Label template</p>
							<p class="cbx-text">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
						</div>
					</div>
				</a>
			</div>
		</div>
	</div>
	<div class="btn-promociones">
		<a class="cbx-link" href="#" m-mody="cta">
			Ver todas
			<span class="cbx-icon" m-size="20" m-mody="icon-bold">
				<i class="icon-arrow-right-o"></i>
			</span>
		</a>
	</div>
</div>