

.cbx-hightlight{
    font: {
        size: viewport( xs, 18);
        family: var(--font-r);
    }
    color: var(--darkest-gray);
}

@media width >= 768px{
    .cbx-hightlight{
        font-size: 18px;
    }
}

@media width >= 1024px{
    .cbx-hightlight{
        font-size: viewport( lg, 18 );
    }
}

@media width >= 1280px{
    .cbx-hightlight{
        font-size: viewport(xl, 22 );
    }
}

@media width >= 1440px{
    .cbx-hightlight{
        font-size: viewport(xxl, 22 );
    }
}