<div class="cbx-wrapper cbx-grid-eyf">
    <div class="superior-grid">
        <div class="grid-element-big">
            <p class="cbx-title">Dolar</p>
            <div class="valores-cambio">
                <div class="valor-item-cambio">
                    <p class="cbx-text" m-font="bold">$20.00</p>
                    <p class="cbx-legal">Compra</p>
                </div>
                <div class="valor-item-cambio">
                    <p class="cbx-text" m-font="bold">$20.00</p>
                    <p class="cbx-legal">Compra</p>
                </div>
            </div>
            <div class="content-chart">
                <p class="cbx-legal">Aquí va la gráfica</p>
            </div>
        </div>
        <div class="grid-element-small">
            <div class="small-item">
                <p class="cbx-title">Euro</p>
                <div class="valores-cambio">
                    <div class="valor-item-cambio">
                        <p class="cbx-text" m-font="bold">$20.00</p>
                        <p class="cbx-legal">Compra</p>
                    </div>
                    <div class="valor-item-cambio">
                        <p class="cbx-text" m-font="bold">$20.00</p>
                        <p class="cbx-legal">Compra</p>
                    </div>
                </div>
            </div>
            <div class="small-item">
                <p class="cbx-title">Libra</p>
                <div class="valores-cambio">
                    <div class="valor-item-cambio">
                        <p class="cbx-text" m-font="bold">$20.00</p>
                        <p class="cbx-legal">Compra</p>
                    </div>
                    <div class="valor-item-cambio">
                        <p class="cbx-text" m-font="bold">$20.00</p>
                        <p class="cbx-legal">Compra</p>
                    </div>
                </div>
            </div>
            <div class="small-item">
                <p class="cbx-title">Yen</p>
                <div class="valores-cambio">
                    <div class="valor-item-cambio">
                        <p class="cbx-text" m-font="bold">$20.00</p>
                        <p class="cbx-legal">Compra</p>
                    </div>
                    <div class="valor-item-cambio">
                        <p class="cbx-text" m-font="bold">$20.00</p>
                        <p class="cbx-legal">Compra</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="grid-element-small-large">
        <p class="cbx-title">
            Convertidor de divisas
            <form class="converter" action="">
                <select class="select-moneda" name=""></select>
                <input class="select-mask" type="text" placeholder="MXN" />
                <input class="resultado" type="number" placeholder="1" />
            </form>
            <i class="icon-equal-o"></i>
            <form class="converter" action="send">
                <select class="select-moneda" name=""></select>
                <input class="select-mask" type="text" placeholder="MXN" />
                <input class="resultado" type="number" placeholder="1" />
            </form>
        </p>
    </div>
</div>
<div class="cbx-wrapper no-padding-top">
    <div class="grid-row legal">
        <i class="cbx-legal">*Esta Información tiene 20 minutos de retraso</i>
    </div>
    <div class="grid-row link">
        <a class="cbx-link" href="/economia-finanzas/es/mercado-de-divisas/index.html?lid=MX|home-TextoBody-VerMas-irVermasEconomiaFinanzas-Es"
            m-mody="cta">
            Ver más
            <span class="cbx-icon" m-size="20" m-mody="icon-bold">
                <i class="icon-arrow-right-o"></i>
            </span>
        </a>
    </div>
</div>

<br /><br /><br />

<div class="cbx-wrapper cbx-grid-eyf" m-type="inline-element">
    <div class="grid-element-small">
        <div class="small-item">
            <p class="cbx-title">Cobre</p>
            <div class="valores-cambio">
                <div class="valor-item-cambio">
                    <p class="cbx-text" m-font="bold">2.66</p>
                    <p class="cbx-legal">Actual</p>
                </div>
                <div class="valor-item-cambio">
                    <p class="cbx-text" m-font="bold">2.66</p>
                    <p class="cbx-legal">Cierre</p>
                </div>
                <div class="valor-item-cambio">
                    <p class="cbx-text" m-font="bold">3</p>
                    <p class="cbx-legal">% Mensual</p>
                </div>
                <div class="valor-item-cambio">
                    <p class="cbx-text" m-font="bold">-10.01</p>
                    <p class="cbx-legal">% Anual </p>
                </div>
            </div>
        </div>
        <div class="small-item">
            <p class="cbx-title">Oro</p>
            <div class="valores-cambio">
                <div class="valor-item-cambio">
                    <p class="cbx-text" m-font="bold">2.66</p>
                    <p class="cbx-legal">Actual</p>
                </div>
                <div class="valor-item-cambio">
                    <p class="cbx-text" m-font="bold">2.66</p>
                    <p class="cbx-legal">Cierre</p>
                </div>
                <div class="valor-item-cambio">
                    <p class="cbx-text" m-font="bold">3</p>
                    <p class="cbx-legal">% Mensual</p>
                </div>
                <div class="valor-item-cambio">
                    <p class="cbx-text" m-font="bold">-10.01</p>
                    <p class="cbx-legal">% Anual </p>
                </div>
            </div>
        </div>
        <div class="small-item">
            <p class="cbx-title">Plata</p>
            <div class="valores-cambio">
                <div class="valor-item-cambio">
                    <p class="cbx-text" m-font="bold">2.66</p>
                    <p class="cbx-legal">Actual</p>
                </div>
                <div class="valor-item-cambio">
                    <p class="cbx-text" m-font="bold">2.66</p>
                    <p class="cbx-legal">Cierre</p>
                </div>
                <div class="valor-item-cambio">
                    <p class="cbx-text" m-font="bold">3</p>
                    <p class="cbx-legal">% Mensual</p>
                </div>
                <div class="valor-item-cambio">
                    <p class="cbx-text" m-font="bold">-10.01</p>
                    <p class="cbx-legal">% Anual </p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="cbx-wrapper no-padding-top">
    <div class="grid-row legal">
        <i class="cbx-legal">*Esta Información tiene 20 minutos de retraso</i>
    </div>
    <div class="grid-row link">
        <a class="cbx-link" href="https://www.banamex.com/economia-finanzas/es/mercado-de-divisas/index.html?lid=MX|home-TextoBody-VerMas-irVermasEconomiaFinanzas-Es"
            m-mody="cta">
            Ver más
            <span class="cbx-icon" m-size="20" m-mody="icon-bold">
                <i class="icon-arrow-right-o"></i>
            </span>
        </a>
    </div>
</div>

<br /><br /><br />

<div class="cbx-wrapper cbx-grid-eyf" m-type="inline-element">
    <div class="grid-element-small">
        <div class="small-item">
            <p class="cbx-title">IPC</p>
            <div class="valores-cambio">
                <div class="valor-item-cambio">
                    <p class="cbx-text" m-font="bold" m-type="negative"> -0.562</p>
                    <p class="cbx-legal">Variación</p>
                </div>
                <div class="valor-item-cambio">
                    <p class="cbx-text" m-font="bold">49,415.26</p>
                    <p class="cbx-legal">Cotización</p>
                </div>
            </div>
        </div>
        <div class="small-item">
            <p class="cbx-title">Dow Jones</p>
            <div class="valores-cambio">
                <div class="valor-item-cambio">
                    <p class="cbx-text" m-font="bold" m-type="negative">-0.207</p>
                    <p class="cbx-legal">Variación</p>
                </div>
                <div class="valor-item-cambio">
                    <p class="cbx-text" m-font="bold">26,092 </p>
                    <p class="cbx-legal">Cotización</p>
                </div>
            </div>
        </div>
        <div class="small-item">
            <p class="cbx-title">Nasdaq</p>
            <div class="valores-cambio">
                <div class="valor-item-cambio">
                    <p class="cbx-text" m-font="bold" m-type="positive">+0.002</p>
                    <p class="cbx-legal">Variación</p>
                </div>
                <div class="valor-item-cambio">
                    <p class="cbx-text" m-font="bold">7,561.81</p>
                    <p class="cbx-legal">Cotización</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="cbx-wrapper no-padding-top">
    <div class="grid-row legal">
        <i class="cbx-legal">*Esta Información tiene 20 minutos de retraso</i>
    </div>
    <div class="grid-row link">
        <a class="cbx-link" href="https://www.banamex.com/economia-finanzas/es/mercado-de-divisas/index.html?lid=MX|home-TextoBody-VerMas-irVermasEconomiaFinanzas-Es"
            m-mody="cta">
            Ver más
            <span class="cbx-icon" m-size="20" m-mody="icon-bold">
                <i class="icon-arrow-right-o"></i>
            </span>
        </a>
    </div>
</div>