.cbx-grid-eyf {
	text-align: center;
	.superior-grid {
		display: flex;
		margin-bottom: viewport(xs, 20);
	}
	.grid-element-big {
		@include box-shadow(xs, "small-out");
		border-radius: viewport(xs, 4);
		width: calc(50% - 3.125vw);
		margin-right: viewport(xs, 20);
		height: 100%;
		padding: viewport(xs, 10);
		background-color: var(--white);
	}
	.grid-element-small {
		width: calc(50% - 3.125vw);
		height: 100%;

		.small-item {
			@include box-shadow(xs, "small-out");
			padding: viewport(xs, 10);
			border-radius: viewport(xs, 4);
			height: 100%;
			background-color: var(--white);
			&:not(:last-child) {
				margin-bottom: viewport(xs, 20);
			}
			&:not(:first-child) {
				display: none;
			}
		}
	}
	&[m-type="inline-element"] {
		.grid-element-small {
			width: 100%;
			.small-item {
				display: block;
				text-align: center;
			}
		}
		.cbx-text {
			&[m-type="positive"] {
				color: var(--green);
			}
			&[m-type="negative"] {
				color: var(--citi-red);
			}
		}
	}
	.grid-element-small-large {
		@include box-shadow(xs, "small-out");
		padding: viewport(xs, 20);
		display: flex;
		flex-direction: column;
		align-items: center;
		background-color: var(--white);
		i {
			display: flex;
			justify-content: center;
			align-items: center;
			height: viewport(xs, 50);
		}
		select,
		input {
			border-style: solid;
			border-width: 1px;
			border-color: var(--light-gray);
			padding: viewport(xs, 10);
			&::placeholder {
				color: var(--soft-blue);
			}
		}
		.converter {
			display: flex;
			position: relative;
			.select-moneda {
				width: 50%;
				height: viewport(xs, 35);
				z-index: 0;
			}
			.select-mask {
				background: var(--bright-gray);
				width: 50%;
				position: absolute;
				pointer-events: none;
				height: viewport(xs, 35);
				z-index: 1;
				left: 0;
				&[value] {
					color: var(--soft-blue);
				}
			}
			.resultado {
				width: 50%;
				height: viewport(xs, 35);
			}
		}
		i {
			font-size: viewport(xs, 30);
		}
	}
	.cbx-title {
		margin-bottom: viewport(xs, 10);
		text-align: center;
	}
	.valores-cambio {
		display: flex;
		border-top: solid;
		border-bottom: solid;
		border-width: 1px;
		border-color: var(--middle-gray);
		justify-content: center;
		padding: {
			top: viewport(xs, 10);
			right: 0;
			bottom: viewport(xs, 10);
			left: 0;
		}
		.valor-item-cambio {
			flex-shrink: 1;
			padding: {
				left: 0;
				right: 0;
			}
			text-align: center;
			width: 100%;
			&:not(:last-child) {
				border-right: solid;
				border-width: 1px;
				border-color: var(--middle-gray);
			}
		}
	}
	.content-chart {
		display: none;
	}
	.converter {
		.cbx-text {
			color: var(--soft-blue);
		}
	}
}

@media width >= 768px {
	.cbx-grid-eyf {
		.superior-grid {
			width: 100%;
			height: 435px;
			margin-bottom: 20px;
			text-align: center;
		}
		.grid-element-big {
			@include box-shadow(sm, "small-out");
			border-radius: 4px;
			width: calc(70% - 10px);
			margin-right: 20px;
			padding: 20px;
			display: flex;
			flex-direction: column;
		}
		.grid-element-small {
			width: calc(30% - 10px);
			height: calc(100% - 40px);
			.small-item {
				@include box-shadow(sm, "small-out");
				padding: 20px;
				height: calc(100% / 3);
				border-radius: 4px;
				&:not(:last-child) {
					margin-bottom: 20px;
				}
				&:not(:first-child) {
					display: block;
				}
			}
		}
		.grid-element-small-large {
			@include box-shadow(sm, "small-out");
			padding: 20px;
			flex-direction: row;
			align-items: center;
			justify-content: space-around;
			i {
				height: 50px;
			}
			select,
			input {
				padding: 10px;
			}
			.converter {
				width: 160px;
				.select-moneda {
					height: 35px;
				}
				.select-mask {
					height: 35px;
					background-color: var(--soft-gray);
				}
				.resultado {
					height: 35px;
				}
			}
			.cbx-title {
				margin-bottom: 0;
			}
			i {
				font-size: 30px;
			}
		}
		&[m-type="inline-element"] {
			.grid-element-small {
				display: flex;
				justify-content: space-between;
				.small-item {
					display: block;
					width: calc(100% / 3 - 15px);
				}
			}
			.valores-cambio {
				padding: {
					left: 0;
					right: 0;
				}
				margin-bottom: 0;
				.valor-item-cambio {
					padding: 0;
				}
			}
			.cbx-text {
				font-size: 14px;
			}
			.cbx-legal {
				font-size: 8px;
			}
		}
		.cbx-title {
			margin-bottom: 20px;
		}
		.valores-cambio {
			padding: 10px;
			margin-bottom: 20px;
			.valor-item-cambio {
				width: 50%;
				padding: {
					left: auto;
					right: auto;
				}
			}
		}
		.content-chart {
			display: block;
			flex-grow: 1;
		}
	}
}
@media width >= 1024px {
	.cbx-grid-eyf {
		.superior-grid {
			height: viewport(lg, 490);
			margin-bottom: viewport(lg, 20);
		}
		.grid-element-big {
			@include box-shadow(lg, "small-out");
			border-radius: viewport(lg, 4);
			width: calc(70% - 1.95313vw);
			margin-right: viewport(lg, 20);
			padding: viewport(lg, 20);
		}
		.grid-element-small {
			width: calc(30% - 1.95313vw);
			height: calc(100% - 3.90625vw);

			.small-item {
				@include box-shadow(lg, "small-out");
				padding: viewport(lg, 20);
				height: calc(100% / 3);
				border-radius: viewport(lg, 4);
				&:not(:last-child) {
					margin-bottom: viewport(lg, 20);
				}
				&:not(:first-child) {
					display: block;
				}
			}
		}
		.grid-element-small-large {
			@include box-shadow(lg, "small-out");
			padding: viewport(lg, 20);
			i {
				height: viewport(lg, 50);
			}
			select,
			input {
				padding: viewport(lg, 10);
			}
			.converter {
				width: viewport(lg, 260);
				.select-moneda {
					height: viewport(lg, 35);
				}
				.select-mask {
					height: viewport(lg, 35);
				}
				.resultado {
					height: viewport(lg, 35);
				}
			}
			i {
				font-size: viewport(lg, 30);
			}
		}
		&[m-type="inline-element"] {
			.grid-element-small {
				.small-item {
					width: calc(100% / 3 - 1.46484vw);
				}
			}
			.cbx-text {
				font-size: viewport(lg, 14);
			}
			.cbx-legal {
				font-size: viewport(lg, 12);
			}
		}
		.cbx-title {
			margin-bottom: viewport(lg, 20);
		}
		.valores-cambio {
			padding: viewport(lg, 10);
			margin-bottom: viewport(lg, 20);
		}
	}
}
@media width >= 1280px {
	.cbx-grid-eyf {
		.superior-grid {
			height: viewport(xl, 490);
			margin-bottom: viewport(xl, 20);
		}
		.grid-element-big {
			@include box-shadow(xl, "small-out");
			border-radius: viewport(xl, 4);
			width: calc(70% - 0.625vw);
			margin-right: viewport(xl, 20);
			padding: viewport(xl, 20);
		}
		.grid-element-small {
			width: calc(30% - 0.625vw);
			height: calc(100% - 2.5vw);
			.small-item {
				@include box-shadow(xl, "small-out");
				padding: viewport(xl, 20);
				height: calc(100% / 3);
				border-radius: viewport(xl, 4);
				&:not(:last-child) {
					margin-bottom: viewport(xl, 20);
				}
				&:not(:first-child) {
					display: block;
				}
			}
		}
		.grid-element-small-large {
			@include box-shadow(xl, "small-out");
			padding: viewport(xl, 20);
			i {
				height: viewport(xl, 50);
			}
			select,
			input {
				padding: viewport(xl, 10);
			}
			.converter {
				width: viewport(xl, 260);
				.select-moneda {
					height: viewport(xl, 40);
				}
				.select-mask {
					height: viewport(xl, 40);
				}
				.resultado {
					height: viewport(xl, 40);
				}
			}
			i {
				font-size: viewport(xl, 30);
			}
		}
		&[m-type="inline-element"] {
			.grid-element-small {
				.small-item {
					width: calc(100% / 3 - 1.46484vw);
				}
			}
			.cbx-text {
				font-size: viewport(xl, 16);
			}
			.cbx-legal {
				font-size: viewport(xl, 14);
			}
		}
		.cbx-title {
			margin-bottom: viewport(xl, 20);
		}
		.valores-cambio {
			padding: {
				top: viewport(xl, 10);
				right: 0;
				bottom: viewport(xl, 10);
				left: 0;
			}
			margin-bottom: viewport(xl, 20);
		}
	}
}
@media width >= 1440px {
	.cbx-grid-eyf {
		.superior-grid {
			height: viewport(xxl, 490);
			margin-bottom: viewport(xxl, 20);
		}
		.grid-element-big {
			@include box-shadow(xxl, "small-out");
			border-radius: viewport(xxl, 4);
			width: calc(70% - 0.69444vw);
			margin-right: viewport(xxl, 20);
			padding: viewport(xxl, 20);
		}
		.grid-element-small {
			width: calc(30% - 0.69444vw);
			height: calc(100% - 2.77778vw);

			.small-item {
				@include box-shadow(xxl, "small-out");
				padding: viewport(xxl, 20);
				height: calc(100% / 3);
				border-radius: viewport(xxl, 4);
				&:not(:last-child) {
					margin-bottom: viewport(xxl, 20);
				}
				&:not(:first-child) {
					display: block;
				}
			}
		}
		.grid-element-small-large {
			@include box-shadow(xxl, "small-out");
			padding: viewport(xxl, 20);
			i {
				height: viewport(xxl, 50);
			}
			select,
			input {
				padding: viewport(xxl, 10);
			}
			.converter {
				width: viewport(xxl, 260);
				.select-moneda {
					height: viewport(xxl, 40);
				}
				.select-mask {
					height: viewport(xxl, 40);
				}
				.resultado {
					height: viewport(xxl, 40);
				}
			}
			i {
				font-size: viewport(xxl, 30);
			}
		}
		&[m-type="inline-element"] {
			.grid-element-small {
				.small-item {
					width: calc(100% / 3 - 1vw);
				}
			}
			.cbx-text {
				font-size: viewport(xxl, 16);
			}
			.cbx-legal {
				font-size: viewport(xxl, 12);
			}
		}
		.cbx-title {
			margin-bottom: viewport(xxl, 20);
		}
		.valores-cambio {
			padding: {
				top: viewport(xxl, 10);
				right: 0;
				bottom: viewport(xxl, 10);
				left: 0;
			}
			margin-bottom: 0;
		}
	}
}
