@import '../../mixins.pcss';

.cbx-grid-eyf {
	text-align: center;
	& .superior-grid {
		display: flex;
		@mixin viewport xs, margin-bottom, 20;
	}
	& .grid-element-big {
		@mixin box-shadow xs, small-out;
		@mixin viewport xs, border-radius, 4;
		width: calc(50% - 3.125vw);
		@mixin viewport xs, margin-right, 20;
		height: 100%;
		@mixin viewport xs, padding, 10;
		background-color: var(--white);
	}
	& .grid-element-small {
		width: calc(50% - 3.125vw);
		height: 100%;

		& .small-item {
			@mixin box-shadow xs, small-out;
			@mixin viewport xs, padding, 10;
			@mixin viewport xs, border-radius, 4;
			height: 100%;
			background-color: var(--white);
			&:not(:last-child) {
				@mixin viewport xs, margin-bottom, 20;
			}
			&:not(:first-child) {
				display: none;
			}
		}
	}
	&[m-type="inline-element"] {
		& .grid-element-small {
			width: 100%;
			& .small-item {
				display: block;
				text-align: center;
			}
		}
		& .cbx-text {
			&[m-type="positive"] {
				color: var(--green);
			}
			&[m-type="negative"] {
				color: var(--citi-red);
			}
		}
	}
	& .grid-element-small-large {
		@mixin box-shadow xs, small-out;
		@mixin viewport xs, padding, 20;
		display: flex;
		flex-direction: column;
		align-items: center;
		background-color: var(--white);
		& i {
			display: flex;
			justify-content: center;
			align-items: center;
			@mixin viewport xs, height, 50;
		}
		& select,
		& input {
			border-style: solid;
			border-width: 1px;
			border-color: var(--light-gray);
			@mixin viewport xs, padding, 10;
			&::placeholder {
				color: var(--soft-blue);
			}
		}
		& .converter {
			display: flex;
			position: relative;
			& .select-moneda {
				width: 50%;
				@mixin viewport xs, height, 35;
				z-index: 0;
			}
			& .select-mask {
				background: var(--bright-gray);
				width: 50%;
				position: absolute;
				pointer-events: none;
				@mixin viewport xs, height, 35;
				z-index: 1;
				left: 0;
				&[value] {
					color: var(--soft-blue);
				}
			}
			& .resultado {
				width: 50%;
				@mixin viewport xs, height, 35;
			}
		}
		& i {
			@mixin viewport xs, font-size, 30;
		}
	}
	& .cbx-title {
		@mixin viewport xs, margin-bottom, 10;
		text-align: center;
	}
	& .valores-cambio {
		display: flex;
		border-top: solid;
		border-bottom: solid;
		border-width: 1px;
		border-color: var(--middle-gray);
		justify-content: center;
		padding: {
			@mixin viewport xs, top, 10;
			right: 0;
			@mixin viewport xs, bottom, 10;
			left: 0;
		}
		& .valor-item-cambio {
			flex-shrink: 1;
			padding: {
				left: 0;
				right: 0;
			}
			text-align: center;
			width: 100%;
			&:not(:last-child) {
				border-right: solid;
				border-width: 1px;
				border-color: var(--middle-gray);
			}
		}
	}
	& .content-chart {
		display: none;
	}
	& .converter {
		& .cbx-text {
			color: var(--soft-blue);
		}
	}
}

@media (--portrait) {
	.cbx-grid-eyf {
		& .superior-grid {
			width: 100%;
			height: 435px;
			margin-bottom: 20px;
			text-align: center;
		}
		& .grid-element-big {
			@mixin box-shadow sm, small-out;
			border-radius: 4px;
			width: calc(70% - 10px);
			margin-right: 20px;
			padding: 20px;
			display: flex;
			flex-direction: column;
		}
		& .grid-element-small {
			width: calc(30% - 10px);
			height: calc(100% - 40px);
			& .small-item {
				@mixin box-shadow sm, small-out;
				padding: 20px;
				height: calc(100% / 3);
				border-radius: 4px;
				&:not(:last-child) {
					margin-bottom: 20px;
				}
				&:not(:first-child) {
					display: block;
				}
			}
		}
		& .grid-element-small-large {
			@mixin box-shadow sm, small-out;
			padding: 20px;
			flex-direction: row;
			align-items: center;
			justify-content: space-around;
			& i {
				height: 50px;
			}
			& select,
			& input {
				padding: 10px;
			}
			& .converter {
				width: 160px;
				& .select-moneda {
					height: 35px;
				}
				& .select-mask {
					height: 35px;
					background-color: var(--soft-gray);
				}
				& .resultado {
					height: 35px;
				}
			}
			& .cbx-title {
				margin-bottom: 0;
			}
			& i {
				font-size: 30px;
			}
		}
		&[m-type="inline-element"] {
			& .grid-element-small {
				display: flex;
				justify-content: space-between;
				& .small-item {
					display: block;
					width: calc(100% / 3 - 15px);
				}
			}
			& .valores-cambio {
				padding: {
					left: 0;
					right: 0;
				}
				margin-bottom: 0;
				& .valor-item-cambio {
					padding: 0;
				}
			}
			& .cbx-text {
				font-size: 14px;
			}
			& .cbx-legal {
				font-size: 8px;
			}
		}
		& .cbx-title {
			margin-bottom: 20px;
		}
		& .valores-cambio {
			padding: 10px;
			margin-bottom: 20px;
			& .valor-item-cambio {
				width: 50%;
				padding: {
					left: auto;
					right: auto;
				}
			}
		}
		& .content-chart {
			display: block;
			flex-grow: 1;
		}
	}
}
@media (--small-desktop) {
	.cbx-grid-eyf {
		& .superior-grid {
			@mixin viewport lg, height, 490;
			@mixin viewport lg, margin-bottom, 20;
		}
		& .grid-element-big {
			@mixin box-shadow lg, small-out;
			@mixin viewport lg, border-radius, 4;
			width: calc(70% - 1.95313vw);
			@mixin viewport lg, margin-right, 20;
			@mixin viewport lg, padding, 20;
		}
		& .grid-element-small {
			width: calc(30% - 1.95313vw);
			height: calc(100% - 3.90625vw);

			& .small-item {
				@mixin box-shadow lg, small-out;
				@mixin viewport lg, padding, 20;
				height: calc(100% / 3);
				@mixin viewport lg, border-radius, 4;
				&:not(:last-child) {
					@mixin viewport lg, margin-bottom, 20;
				}
				&:not(:first-child) {
					display: block;
				}
			}
		}
		& .grid-element-small-large {
			@mixin box-shadow lg, small-out;
			@mixin viewport lg, padding, 20;
			& i {
				@mixin viewport lg, height, 50;
			}
			& select,
			& input {
				@mixin viewport lg, padding, 10;
			}
			& .converter {
				@mixin viewport lg, width, 260;
				& .select-moneda {
					@mixin viewport lg, height, 35;
				}
				& .select-mask {
					@mixin viewport lg, height, 35;
				}
				& .resultado {
					@mixin viewport lg, height, 35;
				}
			}
			& i {
				@mixin viewport lg, font-size, 30;
			}
		}
		&[m-type="inline-element"] {
			& .grid-element-small {
				& .small-item {
					width: calc(100% / 3 - 1.46484vw);
				}
			}
			& .cbx-text {
				@mixin viewport lg, font-size, 14;
			}
			& .cbx-legal {
				@mixin viewport lg, font-size, 12;
			}
		}
		& .cbx-title {
			@mixin viewport lg, margin-bottom, 20;
		}
		& .valores-cambio {
			@mixin viewport lg, padding, 10;
			@mixin viewport lg, margin-bottom, 20;
		}
	}
}
@media (--large-desktop) {
	.cbx-grid-eyf {
		& .superior-grid {
			@mixin viewport xl, height, 490;
			@mixin viewport xl, margin-bottom, 20;
		}
		& .grid-element-big {
			@mixin box-shadow xl, small-out;
			@mixin viewport xl, border-radius, 4;
			width: calc(70% - 0.625vw);
			@mixin viewport xl, margin-right, 20;
			@mixin viewport xl, padding, 20;
		}
		& .grid-element-small {
			width: calc(30% - 0.625vw);
			height: calc(100% - 2.5vw);
			& .small-item {
				@mixin box-shadow xl, small-out;
				@mixin viewport xl, padding, 20;
				height: calc(100% / 3);
				@mixin viewport xl, border-radius, 4;
				&:not(:last-child) {
					@mixin viewport xl, margin-bottom, 20;
				}
				&:not(:first-child) {
					display: block;
				}
			}
		}
		& .grid-element-small-large {
			@mixin box-shadow xl, small-out;
			@mixin viewport xl, padding, 20;
			& i {
				@mixin viewport xl, height, 50;
			}
			& select,
			& input {
				@mixin viewport xl, padding, 10;
			}
			& .converter {
				@mixin viewport xl, width, 260;
				& .select-moneda {
					@mixin viewport xl, height, 40;
				}
				& .select-mask {
					@mixin viewport xl, height, 40;
				}
				& .resultado {
					@mixin viewport xl, height, 40;
				}
			}
			& i {
				@mixin viewport xl, font-size, 30;
			}
		}
		&[m-type="inline-element"] {
			& .grid-element-small {
				& .small-item {
					width: calc(100% / 3 - 1.46484vw);
				}
			}
			& .cbx-text {
				@mixin viewport xl, font-size, 16;
			}
			& .cbx-legal {
				@mixin viewport xl, font-size, 14;
			}
		}
		& .cbx-title {
			@mixin viewport xl, margin-bottom, 20;
		}
		& .valores-cambio {
			padding: {
				@mixin viewport xl, top, 10;
				right: 0;
				@mixin viewport xl, bottom, 10;
				left: 0;
			}
			@mixin viewport xl, margin-bottom, 20;
		}
	}
}
@media (--full) {
	.cbx-grid-eyf {
		& .superior-grid {
			@mixin viewport xxl, height, 490;
			@mixin viewport xxl, margin-bottom, 20;
		}
		& .grid-element-big {
			@mixin box-shadow xxl, small-out;
			@mixin viewport xxl, border-radius, 4;
			width: calc(70% - 0.69444vw);
			@mixin viewport xxl, margin-right, 20;
			@mixin viewport xxl, padding, 20;
		}
		& .grid-element-small {
			width: calc(30% - 0.69444vw);
			height: calc(100% - 2.77778vw);

			& .small-item {
				@mixin box-shadow xxl, small-out;
				@mixin viewport xxl, padding, 20;
				height: calc(100% / 3);
				@mixin viewport xxl, border-radius, 4;
				&:not(:last-child) {
					@mixin viewport xxl, margin-bottom, 20;
				}
				&:not(:first-child) {
					display: block;
				}
			}
		}
		& .grid-element-small-large {
			@mixin box-shadow xxl, small-out;
			@mixin viewport xxl, padding, 20;
			& i {
				@mixin viewport xxl, height, 50;
			}
			& select,
			& input {
				@mixin viewport xxl, padding, 10;
			}
			& .converter {
				@mixin viewport xxl, width, 260;
				& .select-moneda {
					@mixin viewport xxl, height, 40;
				}
				& .select-mask {
					@mixin viewport xxl, height, 40;
				}
				& .resultado {
					@mixin viewport xxl, height, 40;
				}
			}
			& i {
				@mixin viewport xxl, font-size, 30;
			}
		}
		&[m-type="inline-element"] {
			& .grid-element-small {
				& .small-item {
					width: calc(100% / 3 - 1vw);
				}
			}
			& .cbx-text {
				@mixin viewport xxl, font-size, 16;
			}
			& .cbx-legal {
				@mixin viewport xxl, font-size, 12;
			}
		}
		& .cbx-title {
			@mixin viewport xxl, margin-bottom, 20;
		}
		& .valores-cambio {
			padding: {
				@mixin viewport xxl, top, 10;
				right: 0;
				@mixin viewport xxl, bottom, 10;
				left: 0;
			}
			margin-bottom: 0;
		}
	}
}
