.cbx-headline-section {
	font: {
		size: viewport(xs, 22);
		family: var(--font-l);
	}
	color: var(--darkest-gray);
}

@media width >= 768px {
	.cbx-headline-section {
		font-size: 22px;
	}
}

@media width >= 1024px {
	.cbx-headline-section {
		font-size: viewport(lg, 22);
	}
}

@media width >= 1280px {
	.cbx-headline-section {
		font-size: viewport(xl, 32);
	}
}
@media width >= 1440px {
	.cbx-headline-section {
		font-size: viewport(xxl, 32);
	}
}
