<section class="cbx-wrapper">
    <div m-container="our-apps" m-slick="only-arrows-web">
        <div>
            <article class="cbx-card" m-mody="c-stamp">
                <div class="card-content">
                    <figure class="cbx-img card-stamp">
                        <img src="img/stamp.png" alt="" />
                    </figure>
                    <div class="card-description">
                        <p class="cbx-sub-category">CITIBANAMEX MÓVIL</p>
                        <p class="cbx-title">Realiza movimientos</p>
                        <p class="cbx-text">fácilmente desde tu celular donde quiera que estes)</p>
                        <a class="cbx-link" href="#" m-mody="cta">
                            Ver todas
                            <span class="cbx-icon" m-size="20" m-mody="icon-bold">
                                <i class="icon-arrow-right-o"></i>
                            </span>
                        </a>
                    </div>
                </div>
                <figure class="cbx-img card-img">
                    <img src="img/img_phone.jpg" alt="" />
                </figure>
            </article>
            <article class="cbx-card" m-mody="c-icon c-icon-top c-icon-spaces" m-size="c-4">
                <div class="card-content">
                    <span class="cbx-icon" m-size="30" m-mody="fill circle">
                        <i class="icon-telefonos-o"></i>
                    </span>
                    <div class="card-description">
                        <p class="cbx-sub-category">CITIBANAMEX PAY</p>
                        <p class="cbx-title">Paga</p>
                        <p class="cbx-text">sin compartir los datos de tu tarjeta)</p>
                        <a class="cbx-link" href="#" m-mody="cta">
                            Ver todas
                            <span class="cbx-icon" m-size="20" m-mody="icon-bold">
                                <i class="icon-arrow-right-o"></i>
                            </span>
                        </a>
                    </div>
                </div>
            </article>
        </div>
        <div>
            <article class="cbx-card" m-mody="c-icon c-icon-top c-icon-spaces" m-size="c-4">
                <div class="card-content">
                    <span class="cbx-icon" m-size="30" m-mody="fill circle">
                        <i class="icon-telefonos-o"></i>
                    </span>
                    <div class="card-description">
                        <p class="cbx-sub-category">CITIBANAMEX PAY</p>
                        <p class="cbx-title">Paga</p>
                        <p class="cbx-text">sin compartir los datos de tu tarjeta)</p>
                        <a class="cbx-link" href="#" m-mody="cta">
                            Ver todas
                            <span class="cbx-icon" m-size="20" m-mody="icon-bold">
                                <i class="icon-arrow-right-o"></i>
                            </span>
                        </a>
                    </div>
                </div>
            </article>
            <article class="cbx-card" m-mody="c-icon c-icon-top c-icon-spaces" m-size="c-4">
                <div class="card-content">
                    <span class="cbx-icon" m-size="30" m-mody="fill circle">
                        <i class="icon-telefonos-o"></i>
                    </span>
                    <div class="card-description">
                        <p class="cbx-sub-category">CITIBANAMEX PAY</p>
                        <p class="cbx-title">Paga</p>
                        <p class="cbx-text">sin compartir los datos de tu tarjeta)</p>
                        <a class="cbx-link" href="#" m-mody="cta">
                            Ver todas
                            <span class="cbx-icon" m-size="20" m-mody="icon-bold">
                                <i class="icon-arrow-right-o"></i>
                            </span>
                        </a>
                    </div>
                </div>
            </article>
            <article class="cbx-card" m-mody="c-icon c-icon-top c-icon-spaces" m-size="c-4">
                <div class="card-content">
                    <span class="cbx-icon" m-size="30" m-mody="fill circle">
                        <i class="icon-telefonos-o"></i>
                    </span>
                    <div class="card-description">
                        <p class="cbx-sub-category">CITIBANAMEX PAY</p>
                        <p class="cbx-title">Paga</p>
                        <p class="cbx-text">sin compartir los datos de tu tarjeta)</p>
                        <a class="cbx-link" href="#" m-mody="cta">
                            Ver todas
                            <span class="cbx-icon" m-size="20" m-mody="icon-bold">
                                <i class="icon-arrow-right-o"></i>
                            </span>
                        </a>
                    </div>
                </div>
            </article>
            <article class="cbx-card" m-mody="c-icon c-icon-top c-icon-spaces" m-size="c-4">
                <div class="card-content">
                    <span class="cbx-icon" m-size="30" m-mody="fill circle">
                        <i class="icon-telefonos-o"></i>
                    </span>
                    <div class="card-description">
                        <p class="cbx-sub-category">CITIBANAMEX PAY</p>
                        <p class="cbx-title">Paga</p>
                        <p class="cbx-text">sin compartir los datos de tu tarjeta)</p>
                        <a class="cbx-link" href="#" m-mody="cta">
                            Ver todas
                            <span class="cbx-icon" m-size="20" m-mody="icon-bold">
                                <i class="icon-arrow-right-o"></i>
                            </span>
                        </a>
                    </div>
                </div>
            </article>
        </div>
    </div>
</section>