

@media width >= 1024px{
	[m-container=our-apps]{
		&.slick-slider{
			.slick-list{
				height: inherit;
			}
			.slick-slide{
				display: flex;
				justify-content: space-between;
				padding-right: viewport(lg,20);
				padding-left: viewport(lg,20);
			}
		}
	}
}

@media width >= 1280px{
	[m-container=our-apps]{
		&.slick-slider{
			.slick-slide{
				padding-right: viewport(xl,20);
				padding-left: viewport(xl,20);
			}
		}
	}
}

@media width >= 1440px{
	[m-container=our-apps]{
		&.slick-slider{
			.slick-slide{
				padding-right: viewport(xxl,20);
				padding-left: viewport(xxl,20);
			}
		}
	}
}