<label class="cbx-check" m-mody="right">
    <p class="cbx-text">
        ¿Ya identificaste tu número de cliente, tu celular verificado y/o clave temporal?</p>
        <input type="radio" value="first" name="type" />
        <span></span>
</label>

<label class="cbx-check" m-mody="right">
    <p class="cbx-text">¿Ya identificaste tu número de cliente, tu celular verificado y/o clave temporal?</p>
    <input type="radio" value="first" name="type" />
    <span></span>
</label>

<br /><br /><br /><br />

<label class="cbx-check" m-mody="right">
    <p class="cbx-text">¿Ya identificaste tu número de cliente, tu celular verificado y/o clave temporal?</p>
    <input type="checkbox" value="first" />
    <span>
        <i class="icon-chek-o"></i>
    </span>
</label>