
.cbx-check{
    display: inline-flex;
    cursor: pointer;
    padding: {
        top:viewport(xs,20);
        right:viewport(xs,10);
        bottom:viewport(xs,20);
        left:viewport(xs,10);
    }
    border: solid;
    border-width: 1px;
    border-color: transparent;
    transition: all 350ms ease-in-out;
    &[m-mody=right]{
        flex-direction: row-reverse;
        .cbx-text{
            text-align: left;
        }
        > span{
            margin-right: viewport(xs,20);
            margin-left: 0;
        }
    }
    input[type=checkbox], input[type=radio]{
        display: none;
        margin-top: 0;
        appearance: none;
        -webkit-appearance: none;
        &:checked {
            +span{
                background-color: var(--green);
            }
        }
    }
    input[type=radio]{
        &:checked{
            + span{
                background-color: transparent;
                border-color: var(--green);
                &::before{
                    background-color: var(--green);
                }
            }
        }
        + span{
            position: relative;
            border-radius: 50%;
            &::before{
                @include transition(background-color);
                @include absolute(center);
                content:'';
                width: 50%;
                height: 50%;
                border-radius: 50%;
                background-color: transparent;
            }
        }
    }
    > span{
        position: relative;
        height: viewport(xs,20);
        width: viewport(xs,20);
        border: solid;
        border-width: 1px;
        border-color: var(--middle-gray);
        transition: background-color 350ms ease-in-out;
        background-color: #fff;
        flex-shrink: 0;
        margin-left: viewport(xs,20);
        >i {
            @include absolute(center);
            color: var(--white);
            font-size: viewport(xs,15);
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
        }
    }
    .cbx-text{
        color: var(--soft-blue);
    }
    .cbx-text{
        text-align: right;
    }
}

@media width >= 768px{
    .cbx-check{
        padding: {
            top:20px;
            right:10px;
            bottom:20px;
            left:10px;
        }
        > span{
            height: 20px;
            width: 20px;
            margin-left: 20px;
            >i {
                font-size: 15px;
            }
        }
        &[m-mody=right]{
            > span{
                margin-right: 20px;
            }
        }
    }    
}
@media width >= 1024px{
    .cbx-check{
        &:hover{
            border:solid;
            border-width: 1px;
            border-color: var(--cyan);

        }
        &[m-mody=right]{
            > span{
                margin-right: viewport(lg,20);
            }
        }
        padding: {
            top:viewport(lg,20);
            right:viewport(lg,10);
            bottom:viewport(lg,20);
            left:viewport(lg,10);
        }
        > span{
            height: viewport(lg,20);
            width: viewport(lg,20);
            margin-left: viewport(lg,20);
            >i {
                font-size: viewport(lg,15);
            }
        }
    }    
}
@media width >= 1280px{
    .cbx-check{
        &[m-mody=right]{
            > span{
                margin-right: viewport(xl,20);
            }
        }
        padding: {
            top:viewport(xl,20);
            right:viewport(xl,10);
            bottom:viewport(xl,20);
            left:viewport(xl,10);
        }
        > span{
            height: viewport(xl,20);
            width: viewport(xl,20);
            margin-left: viewport(xl,20);
            >i {
                font-size: viewport(xl,15);
            }
        }
    }  
}
@media width >= 1440px{
    &[m-mody=right]{
        > span{
            margin-right: viewport(xxl,20);
        }
    }
    .cbx-check{
        padding: {
            top:viewport(xl,20);
            right:viewport(xl,10);
            bottom:viewport(xl,20);
            left:viewport(xl,10);
        }
        > span{
            height: viewport(xxl,20);
            width: viewport(xxl,20);
            margin-left: viewport(xxl,20);
            >i {
                font-size: viewport(xxl,15);
            }
        }
    }  
}
